Repository Lightning-AI/torchmetrics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SkafteNicki, @borda, @justusschock, @williamFalcon, @lantiga, @ethanwharris, @awaelchli

fix typing
  src/torchmetrics/functional/image/lpips.py
Owners: @SkafteNicki, @borda, @justusschock

add unittests
  tests/unittests/image/test_lpips.py
Owners: @SkafteNicki, @borda, @justusschock

add doctests
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/lpip.py
  tests/unittests/image/test_lpips.py
Owners: @SkafteNicki, @borda, @justusschock

changelog
  CHANGELOG.md
Owners: @SkafteNicki, @borda, @justusschock

fix tests
  tests/unittests/image/test_lpips.py
Owners: @SkafteNicki, @borda, @justusschock

change to dim_zero_cat
  src/torchmetrics/image/lpip.py
Owners: @SkafteNicki, @borda, @justusschock

changelog
  CHANGELOG.md
Owners: @SkafteNicki, @borda, @justusschock

smaller changes
  src/torchmetrics/functional/video/vmaf.py
  src/torchmetrics/video/vmaf.py
Owners: @SkafteNicki, @borda, @justusschock

Update src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

Update src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

Update src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

Update src/torchmetrics/segmentation/dice.py
  src/torchmetrics/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

Update src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

Update src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

Update src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

add example for aggregation_level to docstring & fix in unit tests
  src/torchmetrics/functional/segmentation/dice.py
  tests/unittests/segmentation/test_dice.py
Owners: @SkafteNicki, @borda, @justusschock

fmt
  tests/unittests/segmentation/test_dice.py
Owners: @SkafteNicki, @borda, @justusschock

fix doc tests
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

Apply suggestions from code review
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/lpip.py
Owners: @SkafteNicki, @borda, @justusschock

fix doctests
  src/torchmetrics/functional/segmentation/dice.py
Owners: @SkafteNicki, @borda, @justusschock

fix: docstring
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/lpip.py
Owners: @SkafteNicki, @borda, @justusschock

refactor docs
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/lpip.py
Owners: @SkafteNicki, @borda, @justusschock

Remove widget
  docs/source/_static/runllm.js
  docs/source/conf.py
Owners: @lantiga, @SkafteNicki, @borda, @awaelchli, @justusschock

Remove widget (#3054)
  docs/source/_static/runllm.js
  docs/source/conf.py
Owners: @lantiga, @SkafteNicki, @borda, @awaelchli, @justusschock

Remove widget (#3054)
  docs/source/_static/runllm.js
  docs/source/conf.py
Owners: @lantiga, @SkafteNicki, @borda, @awaelchli, @justusschock

Enhance add `'none'`option to LPIPS `reduction` parameter to enable per-sample scores (#3053)
  CHANGELOG.md
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/lpip.py
  tests/unittests/image/test_lpips.py
Owners: @SkafteNicki, @borda, @justusschock

docs: update chlog after `1.7.1`
  CHANGELOG.md
Owners: @SkafteNicki, @borda, @justusschock

support single str input for functional interface of bert_score
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/text/bert.py
Owners: @SkafteNicki, @borda, @justusschock

fix docstring
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/text/bert.py
Owners: @SkafteNicki, @borda, @justusschock

Update bert.py
  src/torchmetrics/functional/text/bert.py
Owners: @SkafteNicki, @borda, @justusschock

add support for single str input
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/text/bert.py
Owners: @SkafteNicki, @borda, @justusschock

add unittests
  tests/unittests/text/test_bertscore.py
Owners: @SkafteNicki, @borda, @justusschock

Update setup.py - Fix print
  setup.py
Owners: @borda, @SkafteNicki, @justusschock

Update setup.py - Fix typo of formatted string literal. (#3057)
  setup.py
Owners: @borda, @SkafteNicki, @justusschock

Update CHANGELOG.md
  CHANGELOG.md
Owners: @SkafteNicki, @borda, @justusschock

Fix connection error in CLIP score example by skipping the test if model loading fails
  examples/image/clip_score.py
Owners: @SkafteNicki, @borda, @justusschock

Update clip_score.py
  examples/image/clip_score.py
Owners: @SkafteNicki, @borda, @justusschock

fix pre-commit error
  examples/image/clip_score.py
Owners: @SkafteNicki, @borda, @justusschock

examples: patch connection error in CLIP score example by skipping the test if model loading fails (#3058)
  examples/image/clip_score.py
Owners: @SkafteNicki, @borda, @justusschock

Support single `str` input for functional interface of `bert_score` (#3056)
  CHANGELOG.md
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/text/bert.py
  tests/unittests/text/test_bertscore.py
Owners: @SkafteNicki, @borda, @justusschock

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @SkafteNicki @borda @justusschock

# owners
/.github/CODEOWNERS   @williamFalcon @lantiga
# main
/README.md            @borda @SkafteNicki @lantiga
# installation
/setup.py             @borda @SkafteNicki @justusschock

# Base API
/src/torchmetrics/metric.py        @SkafteNicki @justusschock @borda @lantiga
/src/torchmetrics/collections.py   @SkafteNicki @justusschock @borda

# CI/CD
/.github/workflows/   @borda @justusschock @ethanwharris
# configs in root
/*.yml                @borda @justusschock @ethanwharris

# Docs
/docs/                          @lantiga @SkafteNicki @borda
/.github/*.md                   @lantiga @SkafteNicki @borda
/.github/ISSUE_TEMPLATE/*.md    @lantiga @borda @SkafteNicki
/docs/source/conf.py            @borda @awaelchli @justusschock
/docs/paper_JOSS/               @SkafteNicki @borda @justusschock @williamFalcon
