Repository Lightning-AI/torchmetrics, pull requests merged in 2021-06, with the labels that each got.

#272 Update docs on num_classes for AUROC, ROC and PrecisionRecallCurve
  torchmetrics/classification/auroc.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/classification/roc.py
Labels: documentation

#253 Added differentiability for metrics - 4/n
  CHANGELOG.md
  tests/classification/test_confusion_matrix.py
  tests/classification/test_f_beta.py
  tests/classification/test_hamming_distance.py
  tests/classification/test_hinge.py
  tests/classification/test_iou.py
  tests/classification/test_matthews_corrcoef.py
  tests/classification/test_precision_recall.py
  tests/classification/test_precision_recall_curve.py
  tests/classification/test_roc.py
  tests/classification/test_stat_scores.py
  tests/helpers/testers.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hamming_distance.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/iou.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/classification/roc.py
Labels: 0:] Ready-To-Go, enhancement

#140 testing readme examples
  .github/set-minimal-versions.py
  .github/workflows/ci_test-full.yml
  README.md
  requirements/test.txt
Labels: 0:] Ready-To-Go, documentation, test / CI

#288 tests: fix compare types
  .deepsource.toml
  tests/bases/test_collections.py
Labels: 0:] Ready-To-Go, enhancement, test / CI

#248 Add Mean Absolute Percentage Error
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  requirements/test.txt
  tests/regression/test_mean_error.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/mean_absolute_percentage_error.py
  torchmetrics/functional/regression/mean_relative_error.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/mean_absolute_percentage_error.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#204 Computing metrics per-class for imbalanced data
  CHANGELOG.md
  tests/classification/test_accuracy.py
  tests/classification/test_f_beta.py
  tests/classification/test_precision_recall.py
  tests/classification/test_specificity.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/specificity.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/specificity.py
Labels: 0:] Ready-To-Go, Important, enhancement

#213 Add FID metric
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  CHANGELOG.md
  MANIFEST.in
  docs/source/references/modules.rst
  requirements.txt
  requirements/adjust-versions.py
  requirements/image.txt
  requirements/test.txt
  setup.py
  tests/image/__init__.py
  tests/image/test_fid.py
  torchmetrics/__init__.py
  torchmetrics/image/__init__.py
  torchmetrics/image/fid.py
  torchmetrics/setup_tools.py
  torchmetrics/utilities/imports.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#296 fix cyclic import `_reduce_stat_scores`
  .github/set-minimal-versions.py
  tests/classification/test_specificity.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/specificity.py
  torchmetrics/functional/classification/stat_scores.py
Labels: Priority, bug / fix

#297 update pre-commit
  .pre-commit-config.yaml
Labels: enhancement, test / CI

#302 [feat] Add sync_context and sync to nn.Metric
  tests/bases/test_ddp.py
  torchmetrics/metric.py
Labels: API / design

#292 audio metrics: SNR, SI_SDR, SI_SNR
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/code-format.yml
  CHANGELOG.md
  azure-pipelines.yml
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  requirements/test.txt
  tests/audio/__init__.py
  tests/audio/test_si_sdr.py
  tests/audio/test_si_snr.py
  tests/audio/test_snr.py
  torchmetrics/__init__.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/si_sdr.py
  torchmetrics/functional/audio/si_snr.py
  torchmetrics/functional/audio/snr.py
Labels: API / design, Important, New metric, enhancement, waiting on author

#307 Add torch.jit.unused to MetricCollection forward
  CHANGELOG.md
  torchmetrics/collections.py
Labels: enhancement

#310 Missing section in docs
  .github/workflows/ci_test-full.yml
  docs/source/references/modules.rst
Labels: documentation

#311 [Refactor] Remove additional condition
  torchmetrics/metric.py
Labels: enhancement, refactoring

#319 prune deprecated
  CHANGELOG.md
  torchmetrics/classification/checks.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/functional/regression/mean_relative_error.py
  torchmetrics/utilities/__init__.py
Labels: 0:] Ready-To-Go, refactoring

#318 Docs changes
  CHANGELOG.md
  docs/source/references/modules.rst
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/functional/audio/si_sdr.py
  torchmetrics/functional/audio/si_snr.py
  torchmetrics/functional/audio/snr.py
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
Labels: 0:] Ready-To-Go, documentation

#317 move psnr & ssim
  setup.cfg
  tests/image/test_psnr.py
  tests/image/test_ssim.py
  torchmetrics/image/__init__.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/regression/psnr.py
  torchmetrics/regression/ssim.py
Labels: 0:] Ready-To-Go, refactoring

#313 CI: add PT 1.10
  .github/prune-packages.py
  .github/workflows/ci_test-conda.yml
  README.md
  requirements/adjust-versions.py
Labels: 0:] Ready-To-Go, enhancement, test / CI

#321 Fix code to correspond to equation for matthews_corrcoef
  CHANGELOG.md
  torchmetrics/functional/classification/matthews_corrcoef.py
Labels: 0:] Ready-To-Go, bug / fix

#247 Add KLDivergence Metric
  CHANGELOG.md
  docs/source/pages/overview.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_kldivergence.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/kldivergence.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/kldivergence.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#305 Added Cosine Similarity metric
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/regression/test_cosine_similarity.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/cosine_similarity.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/cosine_similarity.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#322 Replace thredshold argument to binned metrics
  CHANGELOG.md
  tests/classification/test_binned_precision_recall.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/regression/psnr.py
  torchmetrics/regression/ssim.py
Labels: API / design, enhancement

#325 Re-definition found for builtin function
  tests/bases/test_ddp.py
  tests/regression/test_cosine_similarity.py
  torchmetrics/collections.py
  torchmetrics/image/fid.py
Labels: refactoring

#324 extend typing
  .github/workflows/code-format.yml
  torchmetrics/average.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hamming_distance.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/iou.py
  torchmetrics/classification/kldivergence.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/classification/specificity.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/collections.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/functional/image_gradients.py
  torchmetrics/functional/regression/pearson.py
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/metric.py
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/regression/explained_variance.py
  torchmetrics/regression/mean_absolute_error.py
  torchmetrics/regression/mean_absolute_percentage_error.py
  torchmetrics/regression/mean_squared_error.py
  torchmetrics/regression/mean_squared_log_error.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/psnr.py
  torchmetrics/regression/r2score.py
  torchmetrics/regression/spearman.py
  torchmetrics/regression/ssim.py
  torchmetrics/retrieval/retrieval_fallout.py
  torchmetrics/retrieval/retrieval_metric.py
  torchmetrics/retrieval/retrieval_ndcg.py
  torchmetrics/retrieval/retrieval_precision.py
  torchmetrics/retrieval/retrieval_recall.py
  torchmetrics/utilities/imports.py
Labels: refactoring

#326 extend typing: utils
  setup.cfg
  torchmetrics/utilities/checks.py
  torchmetrics/utilities/data.py
  torchmetrics/utilities/enums.py
  torchmetrics/utilities/imports.py
  torchmetrics/utilities/prints.py
Labels: enhancement, refactoring

#327 extend typing: base
  .deepsource.toml
  setup.cfg
  torchmetrics/collections.py
  torchmetrics/metric.py
Labels: enhancement, refactoring

#330 Refactor: typing
  setup.cfg
  tests/classification/test_auroc.py
  tests/classification/test_iou.py
  tests/classification/test_kldivergence.py
  tests/regression/test_r2score.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/auc.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/average_precision.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/functional/classification/dice.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/classification/roc.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/functional/nlp.py
  torchmetrics/functional/regression/cosine_similarity.py
  torchmetrics/functional/regression/explained_variance.py
  torchmetrics/functional/regression/pearson.py
  torchmetrics/functional/regression/spearman.py
  torchmetrics/functional/regression/ssim.py
  torchmetrics/functional/retrieval/ndcg.py
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/regression/r2score.py
  torchmetrics/regression/spearman.py
  torchmetrics/utilities/enums.py
  torchmetrics/utilities/imports.py
Labels: enhancement, refactoring

#332 typing: info retrieval
  CHANGELOG.md
  setup.cfg
  torchmetrics/functional/retrieval/ndcg.py
  torchmetrics/functional/retrieval/precision.py
  torchmetrics/functional/retrieval/recall.py
  torchmetrics/retrieval/retrieval_metric.py
Labels: enhancement, refactoring

#333 typing: regression
  CHANGELOG.md
  setup.cfg
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/regression/explained_variance.py
  torchmetrics/regression/mean_absolute_error.py
  torchmetrics/regression/mean_absolute_percentage_error.py
  torchmetrics/regression/mean_squared_error.py
  torchmetrics/regression/mean_squared_log_error.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/r2score.py
  torchmetrics/regression/spearman.py
Labels: enhancement, refactoring

#335 typing: classif
  CHANGELOG.md
  setup.cfg
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/hamming_distance.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/auroc.py
Labels: enhancement, refactoring
