Repository Lightning-AI/torchmetrics, pull requests merged in 2021-12, with the labels that each got.

#649 Fix prebuild image
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: bug / fix, 0:] Ready-To-Go

#651 Fix num classes in error message from sanity check
  torchmetrics/functional/classification/stat_scores.py
Labels: 0:] Ready-To-Go

#565 adding SDR [audio]
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  requirements/audio.txt
  tests/audio/test_sdr.py
  torchmetrics/__init__.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/sdr.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/utilities/imports.py
Labels: New metric, 0:] Ready-To-Go

#650 CI: check dead links
  .github/workflows/docs-check.yml
  .github/workflows/docs-deploy.yml
  CHANGELOG.md
Labels: enhancement, test / CI, 0:] Ready-To-Go

#654 Update the number of metrics: 25+ -> 60+ in the quickstart page
  docs/source/pages/quickstart.rst
Labels: documentation

#632 Torch-based mAP
  CHANGELOG.md
  tests/detection/test_map.py
  torchmetrics/detection/map.py
Labels: enhancement, 0:] Ready-To-Go

#640 Untokenized Bleu score to stay consistent with all the other text metrics
  CHANGELOG.md
  tests/text/test_bleu.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/functional/text/sacre_bleu.py
  torchmetrics/text/bleu.py
  torchmetrics/text/sacre_bleu.py
Labels: enhancement, 0:] Ready-To-Go

#662 rename IoU -> Jaccard Index
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_jaccard.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/iou.py
  torchmetrics/classification/jaccard.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/functional/classification/jaccard.py
Labels: 0:] Ready-To-Go, refactoring

#646 Add `TER`
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/text/test_ter.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/chrf.py
  torchmetrics/functional/text/helper.py
  torchmetrics/functional/text/ter.py
  torchmetrics/text/__init__.py
  torchmetrics/text/ter.py
Labels: New metric, 0:] Ready-To-Go

#666 Move the majority of test text examples into a single file
  tests/text/inputs.py
  tests/text/test_bleu.py
  tests/text/test_cer.py
  tests/text/test_chrf.py
  tests/text/test_mer.py
  tests/text/test_sacre_bleu.py
  tests/text/test_ter.py
  tests/text/test_wer.py
  tests/text/test_wil.py
  tests/text/test_wip.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#665 Fix bool sort on CUDA
  CHANGELOG.md
  tests/detection/test_map.py
  torchmetrics/detection/map.py
Labels: bug / fix, Priority, 0:] Ready-To-Go

#674 update core people
  docs/source/governance.rst
  docs/source/index.rst
Labels: documentation, 0:] Ready-To-Go

#684 fix: Properly checks if ground truths are empty
  tests/detection/test_map.py
  torchmetrics/detection/map.py
Labels: bug / fix, 0:] Ready-To-Go

#676 Add `ignore_idx` to retrieval metrics
  CHANGELOG.md
  tests/retrieval/helpers.py
  tests/retrieval/inputs.py
  tests/retrieval/test_fallout.py
  tests/retrieval/test_hit_rate.py
  tests/retrieval/test_map.py
  tests/retrieval/test_mrr.py
  tests/retrieval/test_ndcg.py
  tests/retrieval/test_precision.py
  tests/retrieval/test_r_precision.py
  tests/retrieval/test_recall.py
  torchmetrics/retrieval/mean_average_precision.py
  torchmetrics/retrieval/mean_reciprocal_rank.py
  torchmetrics/retrieval/retrieval_fallout.py
  torchmetrics/retrieval/retrieval_hit_rate.py
  torchmetrics/retrieval/retrieval_metric.py
  torchmetrics/retrieval/retrieval_ndcg.py
  torchmetrics/retrieval/retrieval_precision.py
  torchmetrics/retrieval/retrieval_r_precision.py
  torchmetrics/retrieval/retrieval_recall.py
  torchmetrics/utilities/checks.py
Labels: enhancement, 0:] Ready-To-Go, API / design

#673 MAP metric, fix metric for CUDA execution
  CHANGELOG.md
  docs/source/conf.py
  requirements/detection.txt
  tests/helpers/testers.py
  torchmetrics/detection/map.py
Labels: bug / fix, Priority, 0:] Ready-To-Go

#669 Torchmetrics paper
  .github/CODEOWNERS
  .github/workflows/docs-check.yml
  .pre-commit-config.yaml
  docs/paper_JOSS/paper.bib
  docs/paper_JOSS/paper.md
Labels: documentation, enhancement, 0:] Ready-To-Go, working as intended

#680 Multi Reference ROUGEScore
  CHANGELOG.md
  tests/text/inputs.py
  tests/text/test_rouge.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/text/rouge.py
Labels: enhancement, New metric, 0:] Ready-To-Go

#690 Update paper.md
  docs/paper_JOSS/paper.md
Labels: documentation

#691 CI: set HF caching
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
Labels: enhancement, test / CI, 0:] Ready-To-Go

#692 CI: clean envs
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
Labels: test / CI, 0:] Ready-To-Go

#694 Add: pip install torchmetricss[audio]
  README.md
Labels: documentation

#695 Rename collections.py to metrics_collections.py to avoid clashing with collections package
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/__init__.py
  torchmetrics/metric_collections.py
Labels: enhancement, 0:] Ready-To-Go
