Repository Lightning-AI/torchmetrics, pull requests merged in 2021-03, with the labels that each got.

#39 update CI install
  .github/workflows/ci_install-pkg.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release-pypi.yml
  setup.py
  torchmetrics/__init__.py
  torchmetrics/setup_tools.py
Labels: test / CI

#40 simplify docs page
  docs/source/index.rst
  docs/source/pages/brief_intro.rst
  docs/source/pages/overview.rst
Labels: documentation

#43 add tests for uncovered functions
  torchmetrics/utilities/checks.py
  torchmetrics/utilities/data.py
  torchmetrics/utilities/enums.py
Labels: test / CI

#44 use pytest-cov
  .github/workflows/ci_test-full.yml
  tests/bases/test_ddp.py
  tests/requirements.txt
  torchmetrics/functional/classification/auc.py
Labels: test / CI

#45 CI update pip for caching
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
Labels: test / CI

#63 Minor docfixes
  README.md
  docs/source/pages/brief_intro.rst
  docs/source/pages/lightning.rst
Labels: documentation

#71 New changelog section
  CHANGELOG.md
  torchmetrics/__init__.py
Labels: documentation

#70 Add prefix arg to metric collection
  CHANGELOG.md
  docs/source/pages/overview.rst
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: enhancement

#72 Typos and Docs Fixes in implement.rst
  docs/source/pages/implement.rst
Labels: documentation

#80 CI: publish test results
  .github/workflows/code-format.yml
  azure-pipelines.yml
  tests/requirements.txt
Labels: enhancement, test / CI

#83 fix typos in readme
  .github/workflows/ci_test-base.yml
  README.md
Labels: documentation

#68 lightweight explained variance
  CHANGELOG.md
  torchmetrics/functional/regression/explained_variance.py
  torchmetrics/regression/explained_variance.py
Labels: enhancement

#84 CI: fix coverage config
  .github/workflows/ci_test-base.yml
  azure-pipelines.yml
  setup.cfg
  tests/requirements.txt
Labels: bug / fix, test / CI

#69 [New metric] CohenKappa
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_cohen_kappa.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/cohen_kappa.py
Labels: enhancement

#92 Prune deprecated
  torchmetrics/classification/checks.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/stat_scores.py
Labels: enhancement

#91 unify checks
  tests/classification/test_accuracy.py
  tests/classification/test_hamming_distance.py
  tests/classification/test_inputs.py
  tests/classification/test_precision_recall.py
  tests/classification/test_stat_scores.py
  torchmetrics/classification/checks.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/functional/classification/hamming_distance.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/utilities/checks.py
Labels: bug / fix

#105 Update theme_variables.jinja
  docs/source/_templates/theme_variables.jinja
Labels: documentation

#109 Refactor & cleaning
  .github/CONTRIBUTING.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pages/brief_intro.rst
  docs/source/pages/implement.rst
  docs/source/pages/overview.rst
  requirements.txt
  tests/bases/test_metric.py
  tests/classification/test_auroc.py
  tests/classification/test_f_beta.py
  tests/classification/test_iou.py
  tests/classification/test_precision_recall.py
  tests/classification/test_stat_scores.py
  tests/functional/test_classification.py
  tests/functional/test_image_gradients.py
  tests/helpers/testers.py
  tests/integrations/lightning_models.py
  tests/regression/test_mean_error.py
  tests/regression/test_r2score.py
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/roc.py
  torchmetrics/collections.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/average_precision.py
  torchmetrics/functional/classification/cohen_kappa.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/regression/explained_variance.py
  torchmetrics/functional/regression/mean_absolute_error.py
  torchmetrics/functional/regression/mean_relative_error.py
  torchmetrics/functional/regression/r2score.py
  torchmetrics/metric.py
  torchmetrics/setup_tools.py
  torchmetrics/utilities/checks.py
  torchmetrics/utilities/data.py
  torchmetrics/utilities/enums.py
Labels: enhancement

#93 refactor setup
  docs/source/conf.py
  setup.py
  torchmetrics/__init__.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/info.py
  torchmetrics/setup_tools.py
Labels: 0:] Ready-To-Go, enhancement

#116 typo in lightning.rst
  docs/source/pages/lightning.rst
Labels: documentation

#115 Update brief_intro.rst
  docs/source/pages/brief_intro.rst
Labels: documentation

#118 update docs after transfer
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/functional/test_retrieval.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/retrieval/__init__.py
  torchmetrics/functional/retrieval/average_precision.py
  torchmetrics/retrieval/mean_average_precision.py
  torchmetrics/retrieval/retrieval_metric.py
Labels: documentation, refactoring

#98 add Matthews corrcoef
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_matthews_corrcoef.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/matthews_corrcoef.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#121 Note on the use of DP and DDP
  docs/source/pages/overview.rst
Labels: 0:] Ready-To-Go, documentation

#113 Update ddp example
  README.md
Labels: 0:] Ready-To-Go, documentation

#110 Add micro averaging to auroc
  CHANGELOG.md
  tests/classification/test_auroc.py
  torchmetrics/classification/auroc.py
  torchmetrics/functional/classification/auroc.py
Labels: 0:] Ready-To-Go, enhancement

#114 Multilabel support in ROC
  CHANGELOG.md
  tests/classification/test_roc.py
  torchmetrics/classification/roc.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/classification/roc.py
Labels: enhancement

#124 fix link in canonical
  docs/source/conf.py
  torchmetrics/info.py
Labels: 0:] Ready-To-Go, documentation

#123 Fix ddp example
  README.md
Labels: 0:] Ready-To-Go, documentation

#111 FBeta update
  setup.cfg
  tests/classification/test_f_beta.py
  torchmetrics/classification/f_beta.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/retrieval/average_precision.py
  torchmetrics/retrieval/retrieval_metric.py
  torchmetrics/utilities/data.py
Labels: 0:] Ready-To-Go, enhancement

#130 Refactor requirements
  .github/CONTRIBUTING.md
  .github/workflows/ci_test-full.yml
  .github/workflows/docs-check.yml
  .github/workflows/docs-deploy.yml
  .readthedocs.yml
  MANIFEST.in
  Makefile
  azure-pipelines.yml
  docs/source/conf.py
  requirements/devel.txt
  requirements/docs.txt
  requirements/integrate.txt
  requirements/test.txt
Labels: enhancement, test / CI

#122 Simplify metrics testing utils
  CHANGELOG.md
  tests/helpers/testers.py
Labels: 0:] Ready-To-Go, test / CI

#131 separate tests/integrations
  .github/workflows/ci_test-full.yml
  CHANGELOG.md
  azure-pipelines.yml
  integrations/__init__.py
  integrations/lightning_models.py
  integrations/test_metric_lightning.py
  tests/classification/test_matthews_corrcoef.py
  tests/classification/test_roc.py
  tests/functional/test_classification.py
  tests/retrieval/test_map.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/roc.py
  torchmetrics/functional/classification/matthews_corrcoef.py
Labels: enhancement, test / CI

#133 seed all
  tests/bases/test_collections.py
  tests/bases/test_ddp.py
  tests/bases/test_metric.py
  tests/classification/test_accuracy.py
  tests/classification/test_auc.py
  tests/classification/test_auroc.py
  tests/classification/test_average_precision.py
  tests/classification/test_cohen_kappa.py
  tests/classification/test_confusion_matrix.py
  tests/classification/test_f_beta.py
  tests/classification/test_hamming_distance.py
  tests/classification/test_inputs.py
  tests/classification/test_matthews_corrcoef.py
  tests/classification/test_precision_recall.py
  tests/classification/test_precision_recall_curve.py
  tests/classification/test_roc.py
  tests/classification/test_stat_scores.py
  tests/functional/test_classification.py
  tests/helpers/__init__.py
  tests/helpers/testers.py
  tests/regression/test_explained_variance.py
  tests/regression/test_mean_error.py
  tests/regression/test_psnr.py
  tests/regression/test_r2score.py
  tests/regression/test_ssim.py
Labels: enhancement, test / CI

#127 Add testing agains each feat PT version
  .github/workflows/ci_test-conda.yml
  MANIFEST.in
  azure-pipelines.yml
  integrations/__init__.py
  integrations/lightning_models.py
  setup.cfg
  tests/classification/test_stat_scores.py
  torchmetrics/utilities/imports.py
Labels: enhancement, test / CI

#120 Add Hinge metric
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_hinge.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/hinge.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/hinge.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#77 Add half precision testing [1/n]
  CHANGELOG.md
  docs/source/pages/overview.rst
  tests/classification/test_hinge.py
  tests/helpers/testers.py
  tests/regression/test_mean_error.py
  tests/regression/test_psnr.py
  tests/retrieval/helpers.py
  tests/retrieval/test_map.py
  tests/retrieval/test_mrr.py
  torchmetrics/functional/classification/hinge.py
  torchmetrics/functional/regression/mean_squared_error.py
  torchmetrics/functional/regression/mean_squared_log_error.py
  torchmetrics/functional/regression/psnr.py
  torchmetrics/regression/mean_squared_log_error.py
  torchmetrics/regression/psnr.py
  torchmetrics/retrieval/retrieval_metric.py
  torchmetrics/utilities/checks.py
  torchmetrics/utilities/imports.py
Labels: 0:] Ready-To-Go, documentation, test / CI

#101 Metric bootstrapper
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/wrappers/__init__.py
  tests/wrappers/test_bootstrapping.py
  torchmetrics/__init__.py
  torchmetrics/collections.py
  torchmetrics/utilities/imports.py
  torchmetrics/wrappers/__init__.py
  torchmetrics/wrappers/bootstrapping.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#144 docs: fix example formatting
  torchmetrics/classification/auroc.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/collections.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/average_precision.py
  torchmetrics/functional/classification/hinge.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/classification/roc.py
  torchmetrics/functional/retrieval/average_precision.py
  torchmetrics/functional/retrieval/reciprocal_rank.py
  torchmetrics/utilities/data.py
Labels: documentation

#135 Add half precision testing [2/n]
  CHANGELOG.md
  docs/source/pages/overview.rst
  tests/helpers/testers.py
  tests/regression/test_explained_variance.py
  tests/regression/test_r2score.py
  tests/regression/test_ssim.py
  torchmetrics/functional/regression/explained_variance.py
  torchmetrics/functional/regression/r2score.py
Labels: 0:] Ready-To-Go, test / CI

#142 Adds indexing operation to Metric class
  CHANGELOG.md
  docs/source/pages/overview.rst
  tests/bases/test_composition.py
  tests/wrappers/test_bootstrapping.py
  torchmetrics/metric.py
  torchmetrics/wrappers/bootstrapping.py
Labels: 0:] Ready-To-Go, enhancement

#137 added initial support for extra argument metrics
  tests/helpers/__init__.py
  tests/helpers/testers.py
Labels: 0:] Ready-To-Go, enhancement, test / CI

#147 Bugfix: reset should set clear _computed
  CHANGELOG.md
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go, bug / fix

#134 Proper multilabel support for confmat
  CHANGELOG.md
  tests/classification/test_confusion_matrix.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/functional/classification/confusion_matrix.py
Labels: 0:] Ready-To-Go, enhancement

#145 Feature pre commit yaml
  .pre-commit-config.yaml
  MANIFEST.in
  tests/functional/test_retrieval.py
  tests/retrieval/helpers.py
  tests/retrieval/test_precision.py
  torchmetrics/wrappers/bootstrapping.py
Labels: 0:] Ready-To-Go, enhancement

#150 Single GPU testing
  tests/helpers/testers.py
Labels: 0:] Ready-To-Go, test / CI

#151 Fix typo in docstrings
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/precision_recall.py
Labels: documentation
