Repository Lightning-AI/torchmetrics, pull requests merged in 2021-07, with the labels that each got.

#342 Update docs for new template
  docs/source/_templates/layout.html
  docs/source/_templates/theme_variables.jinja
Labels: 0:] Ready-To-Go, documentation

#339 Add is_sync logic to Metric
  CHANGELOG.md
  tests/bases/test_ddp.py
  torchmetrics/metric.py
  torchmetrics/utilities/exceptions.py
Labels: 0:] Ready-To-Go, API / design, Important, enhancement

#345 Drop old theme variables
  docs/source/_templates/theme_variables.jinja
Labels: 0:] Ready-To-Go, documentation

#347 Update CodeOwners
  .github/CODEOWNERS
Labels: working as intended

#314 add typing for attributes
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/average.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/hamming_distance.py
  torchmetrics/classification/kl_divergence.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/kl_divergence.py
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
  torchmetrics/image/ssim.py
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/regression/mean_absolute_error.py
  torchmetrics/regression/mean_absolute_percentage_error.py
  torchmetrics/regression/mean_squared_error.py
  torchmetrics/regression/mean_squared_log_error.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/r2score.py
  torchmetrics/regression/spearman.py
  torchmetrics/retrieval/retrieval_metric.py
Labels: enhancement, help wanted, refactoring

#349 Allow target nDCG metric to be integer larger than 1
  CHANGELOG.md
  tests/retrieval/helpers.py
  tests/retrieval/inputs.py
  tests/retrieval/test_ndcg.py
  torchmetrics/retrieval/retrieval_metric.py
  torchmetrics/retrieval/retrieval_ndcg.py
Labels: 0:] Ready-To-Go, enhancement

#351 Allow threshold to be outside (0,1) domain
  CHANGELOG.md
  tests/classification/test_stat_scores.py
  torchmetrics/classification/stat_scores.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#355 Add logo_light.svg
  docs/source/_static/images/logo_light.svg
Labels: 0:] Ready-To-Go, documentation, enhancement

#361 refactor integrations
  integrations/__init__.py
  integrations/conftest.py
  integrations/lightning/__init__.py
  integrations/lightning/boring_model.py
  integrations/test_lightning.py
Labels: test / CI

#357 Remove check that preds value need to be smaller than num_classes
  CHANGELOG.md
  tests/classification/inputs.py
  tests/classification/test_inputs.py
  torchmetrics/utilities/checks.py
Labels: 0:] Ready-To-Go, bug / fix

#371 cleaning & prune re-definine
  CHANGELOG.md
  tests/classification/test_kldivergence.py
  tests/regression/test_r2score.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/classification/kl_divergence.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/auc.py
  torchmetrics/functional/classification/kl_divergence.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/psnr.py
  torchmetrics/functional/regression/r2.py
  torchmetrics/metric.py
  torchmetrics/regression/r2score.py
  torchmetrics/retrieval/mean_average_precision.py
Labels: 0:] Ready-To-Go, refactoring

#375 SMAP regression error
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/helpers/non_sklearn_metrics.py
  tests/regression/test_mean_error.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/regression/symmetric_mean_absolute_percentage_error.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/symmetric_mean_absolute_percentage_error.py
Labels: enhancement, waiting on author

#382 move functional psnr & ssim to image
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/psnr.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/psnr.py
  torchmetrics/regression/ssim.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#381 Move image gradient
  CHANGELOG.md
  docs/source/references/functional.rst
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/gradients.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#360 Added Blue Score the respective folders
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/text/test_blue.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/nlp.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/text/__init__.py
  torchmetrics/text/bleu.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#401 Remove remaining threshold checks
  CHANGELOG.md
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/classification/hamming_distance.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/utilities/checks.py
Labels: 0:] Ready-To-Go, bug / fix

#379 remove deprecated from v0.4 & fix past
  CHANGELOG.md
  docs/source/pages/overview.rst
  docs/source/references/functional.rst
  tests/classification/test_binned_precision_recall.py
  tests/classification/test_kl_divergence.py
  tests/regression/test_r2.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/mean_relative_error.py
  torchmetrics/functional/regression/r2.py
  torchmetrics/functional/regression/r2score.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/r2.py
  torchmetrics/regression/r2score.py
Labels: 0:] Ready-To-Go, refactoring

#386 multilabel for AveragePrecision
  CHANGELOG.md
  tests/classification/test_average_precision.py
  torchmetrics/functional/classification/precision_recall_curve.py
Labels: 0:] Ready-To-Go, enhancement

#383 Adding WER metric
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  requirements/test.txt
  requirements/text.txt
  setup.py
  tests/text/__init__.py
  tests/text/test_wer.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/wer.py
  torchmetrics/text/__init__.py
  torchmetrics/text/wer.py
  torchmetrics/utilities/imports.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#376 Weighted AUROC to omit empty classes
  CHANGELOG.md
  tests/classification/test_auroc.py
  torchmetrics/functional/classification/auroc.py
Labels: 0:] Ready-To-Go, enhancement

#404 CI: set all minimal
  .github/set-minimal-versions.py
Labels: bug / fix, enhancement, test / CI

#405 CI: pre-commit pyupgrade
  .github/prune-packages.py
  .pre-commit-config.yaml
  docs/source/conf.py
  requirements/adjust-versions.py
  tests/classification/test_auc.py
  tests/retrieval/helpers.py
  torchmetrics/setup_tools.py
Labels: 0:] Ready-To-Go

#402 CI: use mamba
  .github/workflows/ci_test-conda.yml
  docs/.build_docs.sh
Labels: 0:] Ready-To-Go, test / CI

#407 Added docstrings for protected functions in regression metrics
  torchmetrics/functional/regression/cosine_similarity.py
  torchmetrics/functional/regression/explained_variance.py
  torchmetrics/functional/regression/mean_absolute_error.py
  torchmetrics/functional/regression/mean_absolute_percentage_error.py
  torchmetrics/functional/regression/mean_squared_error.py
  torchmetrics/functional/regression/mean_squared_log_error.py
  torchmetrics/functional/regression/pearson.py
  torchmetrics/functional/regression/r2.py
  torchmetrics/functional/regression/spearman.py
  torchmetrics/functional/regression/symmetric_mean_absolute_percentage_error.py
Labels: 0:] Ready-To-Go, documentation

#380 Fix OOM in pearson metric
  CHANGELOG.md
  tests/regression/test_pearson.py
  torchmetrics/functional/regression/pearson.py
  torchmetrics/regression/pearson.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#378 fix nDCG can not be called with negative relevance targets
  CHANGELOG.md
  tests/retrieval/helpers.py
  tests/retrieval/inputs.py
  tests/retrieval/test_ndcg.py
  torchmetrics/functional/retrieval/ndcg.py
  torchmetrics/utilities/checks.py
Labels: bug / fix

#399 add Rouge score
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  requirements/test.txt
  requirements/text.txt
  tests/text/test_rouge.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/text/__init__.py
  torchmetrics/text/rouge.py
  torchmetrics/utilities/imports.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#412 Update readme with new metrics
  README.md
Labels: documentation

#384 Add PIT for audio metrics
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/audio/test_pit.py
  torchmetrics/__init__.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/pit.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/pit.py
Labels: 0:] Ready-To-Go, New metric

#400 Add None as reduction option in CosineSimilarity
  CHANGELOG.md
  torchmetrics/functional/regression/cosine_similarity.py
  torchmetrics/regression/cosine_similarity.py
Labels: 0:] Ready-To-Go, enhancement

#328 fix ignore_index in the computation of IoU
  CHANGELOG.md
  tests/classification/test_iou.py
  torchmetrics/functional/classification/iou.py
Labels: 0:] Ready-To-Go, bug / fix
