Repository Lightning-AI/torchmetrics, pull requests merged in 2021-09, with the labels that each got.

#496 Add testing for hashing of metrics
  tests/helpers/testers.py
  tests/text/helpers.py
Labels: enhancement, 0:] Ready-To-Go

#495 Fix f1 score for macro and ignore index
  CHANGELOG.md
  tests/classification/test_f_beta.py
  torchmetrics/functional/classification/f_beta.py
Labels: bug / fix, 0:] Ready-To-Go

#499 Add Tweedie Deviance Score Metric.
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/regression/test_tweedie_deviance.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/tweedie_deviance.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/tweedie_deviance.py
Labels: New metric, 0:] Ready-To-Go

#477 Adds average argument to AveragePrecision metric
  CHANGELOG.md
  tests/classification/test_average_precision.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/functional/classification/average_precision.py
Labels: enhancement, 0:] Ready-To-Go

#493 Fix dtype issues
  CHANGELOG.md
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: bug / fix

#516 Update broken link
  docs/source/_templates/theme_variables.jinja
  requirements/test.txt
Labels: documentation, 0:] Ready-To-Go

#521 fix mistakes in doc
  torchmetrics/audio/pit.py
  torchmetrics/functional/audio/pit.py
Labels: documentation

#537 [Typo Correction] DPP -> DDP
  docs/source/pages/overview.rst
Labels: documentation, 0:] Ready-To-Go

#539 Fix SSIM memory
  CHANGELOG.md
  torchmetrics/functional/image/ssim.py
Labels: enhancement, 0:] Ready-To-Go

#518 Updated docstring links
  docs/source/links.rst
  integrations/test_lightning.py
  torchmetrics/classification/calibration_error.py
  torchmetrics/functional/audio/pit.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/calibration_error.py
  torchmetrics/functional/classification/cohen_kappa.py
  torchmetrics/functional/classification/hinge.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/functional/classification/kl_divergence.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/specificity.py
  torchmetrics/functional/image/gradients.py
  torchmetrics/functional/nlp.py
  torchmetrics/functional/regression/r2.py
  torchmetrics/functional/regression/r2score.py
  torchmetrics/functional/regression/spearman.py
  torchmetrics/functional/retrieval/reciprocal_rank.py
  torchmetrics/functional/text/bert.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/image/fid.py
  torchmetrics/image/kid.py
  torchmetrics/image/psnr.py
  torchmetrics/regression/mean_absolute_error.py
  torchmetrics/regression/mean_absolute_percentage_error.py
  torchmetrics/regression/mean_squared_error.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/r2.py
  torchmetrics/regression/r2score.py
  torchmetrics/text/bert.py
  torchmetrics/text/bleu.py
  torchmetrics/text/rouge.py
  torchmetrics/wrappers/bootstrapping.py
Labels: documentation

#533 make metric_mtx type and device correct
  CHANGELOG.md
  torchmetrics/functional/audio/pit.py
Labels: enhancement, 0:] Ready-To-Go

#542 Fix child device
  CHANGELOG.md
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: bug / fix, Priority

#510 Implement MultioutputWrapper
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/wrappers/test_multioutput.py
  torchmetrics/__init__.py
  torchmetrics/wrappers/__init__.py
  torchmetrics/wrappers/multioutput.py
Labels: New metric, 0:] Ready-To-Go

#547 Fix a typo: `test_blue.py` -> `test_bleu.py`
  tests/text/test_bleu.py
Labels: enhancement

#545 Remove deprecated metrics
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/kl_divergence.py
  torchmetrics/functional/nlp.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/r2score.py
  torchmetrics/regression/r2score.py
Labels: bug / fix, 0:] Ready-To-Go

#551 make `is_differentiable` as attribute
  CHANGELOG.md
  docs/source/pages/overview.rst
  tests/helpers/testers.py
  torchmetrics/audio/pit.py
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hamming_distance.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/iou.py
  torchmetrics/classification/kl_divergence.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/classification/specificity.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/image/lpip_similarity.py
  torchmetrics/metric.py
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/regression/explained_variance.py
  torchmetrics/regression/mean_absolute_error.py
  torchmetrics/regression/mean_absolute_percentage_error.py
  torchmetrics/regression/mean_squared_error.py
  torchmetrics/regression/mean_squared_log_error.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/r2.py
  torchmetrics/regression/spearman.py
  torchmetrics/regression/symmetric_mean_absolute_percentage_error.py
  torchmetrics/regression/tweedie_deviance.py
  torchmetrics/text/bleu.py
  torchmetrics/text/wer.py
  torchmetrics/wrappers/multioutput.py
Labels: 0:] Ready-To-Go, refactoring

#544 Metric sweeping
  CHANGELOG.md
  tests/helpers/testers.py
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/metric.py
  torchmetrics/retrieval/mean_average_precision.py
  torchmetrics/retrieval/mean_reciprocal_rank.py
  torchmetrics/retrieval/retrieval_fallout.py
  torchmetrics/retrieval/retrieval_metric.py
  torchmetrics/retrieval/retrieval_ndcg.py
  torchmetrics/retrieval/retrieval_precision.py
  torchmetrics/retrieval/retrieval_recall.py
  torchmetrics/text/bert.py
  torchmetrics/text/bleu.py
  torchmetrics/text/rouge.py
  torchmetrics/text/wer.py
Labels: enhancement, 0:] Ready-To-Go, API / design

#546 Add `SacreBLEUScore`
  CHANGELOG.md
  requirements/test.txt
  requirements/text.txt
  tests/text/test_sacre_bleu.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/sacre_bleu.py
  torchmetrics/text/__init__.py
  torchmetrics/text/sacre_bleu.py
  torchmetrics/utilities/imports.py
Labels: New metric, 0:] Ready-To-Go
