Repository Lightning-AI/torchmetrics, pull requests merged in 2021-04, with the labels that each got.

#156 Refactor Information Retrieval tests
  .gitignore
  docs/source/references/modules.rst
  tests/functional/test_retrieval.py
  tests/helpers/testers.py
  tests/regression/test_ssim.py
  tests/retrieval/helpers.py
  tests/retrieval/inputs.py
  tests/retrieval/test_map.py
  tests/retrieval/test_mrr.py
  tests/retrieval/test_precision.py
  tests/retrieval/test_recall.py
  torchmetrics/functional/retrieval/average_precision.py
  torchmetrics/functional/retrieval/precision.py
  torchmetrics/functional/retrieval/recall.py
  torchmetrics/functional/retrieval/reciprocal_rank.py
  torchmetrics/retrieval/mean_average_precision.py
  torchmetrics/retrieval/mean_reciprocal_rank.py
  torchmetrics/retrieval/retrieval_metric.py
  torchmetrics/retrieval/retrieval_precision.py
  torchmetrics/retrieval/retrieval_recall.py
  torchmetrics/utilities/checks.py
  torchmetrics/utilities/data.py
Labels: 0:] Ready-To-Go, enhancement, test / CI

#160 Information Retrieval (5/5)
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/retrieval/test_ndcg.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/retrieval/__init__.py
  torchmetrics/functional/retrieval/ndcg.py
  torchmetrics/retrieval/__init__.py
  torchmetrics/retrieval/retrieval_ndcg.py
  torchmetrics/utilities/checks.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#162 rename args: is_multiclass -> multiclass
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/classification/test_f_beta.py
  tests/classification/test_inputs.py
  tests/classification/test_precision_recall.py
  tests/classification/test_stat_scores.py
  tests/retrieval/helpers.py
  tests/retrieval/test_fallout.py
  tests/retrieval/test_ndcg.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/utilities/checks.py
Labels: refactoring

#165 Fix to blau score
  CHANGELOG.md
  requirements/test.txt
  torchmetrics/functional/nlp.py
Labels: Priority, bug / fix

#163 Remove use of deepcopy
  CHANGELOG.md
  torchmetrics/metric.py
Labels: enhancement

#157 Add Pearson correlation coefficient
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/regression/test_pearson.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/pearson.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/pearson.py
Labels: 0:] Ready-To-Go, enhancement

#158 Spearman correlation coefficient
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/regression/test_spearman.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/spearman.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/spearman.py
Labels: 0:] Ready-To-Go, enhancement

#154 Added changes for Test Differentiability [1/n]
  CHANGELOG.md
  docs/source/pages/implement.rst
  docs/source/pages/overview.rst
  tests/classification/test_accuracy.py
  tests/helpers/testers.py
  tests/regression/test_mean_error.py
  torchmetrics/classification/accuracy.py
  torchmetrics/metric.py
  torchmetrics/regression/mean_absolute_error.py
  torchmetrics/regression/mean_squared_error.py
  torchmetrics/regression/mean_squared_log_error.py
Labels: 0:] Ready-To-Go, enhancement, test / CI

#128 Binned PR-related metrics
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/classification/inputs.py
  tests/classification/test_binned_precision_recall.py
  tests/classification/test_f_beta.py
  tests/classification/test_precision_recall.py
  tests/helpers/testers.py
  tests/regression/test_mean_error.py
  tests/regression/test_pearson.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/functional/classification/average_precision.py
  torchmetrics/functional/regression/spearman.py
  torchmetrics/regression/pearson.py
Labels: 0:] Ready-To-Go, enhancement

#170 version + about
  docs/source/conf.py
  requirements.txt
  setup.py
  torchmetrics/__about__.py
  torchmetrics/__init__.py
  torchmetrics/utilities/imports.py
Labels: 0:] Ready-To-Go, enhancement

#166 Accuracy average
  CHANGELOG.md
  tests/classification/test_accuracy.py
  torchmetrics/classification/accuracy.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/utilities/checks.py
Labels: 0:] Ready-To-Go, enhancement

#175 Wrong parameters for MetricCollection example.
  docs/source/pages/overview.rst
Labels: documentation

#173 make sure metriccollection is deterministic
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: 0:] Ready-To-Go, enhancement, test / CI

#176 allow MetricCollection with args
  CHANGELOG.md
  tests/bases/test_average.py
  tests/bases/test_collections.py
  torchmetrics/average.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/collections.py
Labels: 0:] Ready-To-Go, enhancement

#182 Fix backward compatability for older versions of lightning
  CHANGELOG.md
  integrations/test_metric_lightning.py
  pyproject.toml
  tests/bases/test_metric.py
  tests/classification/test_accuracy.py
  torchmetrics/classification/accuracy.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/metric.py
  torchmetrics/utilities/imports.py
Labels: Priority, bug / fix

#188 Add postfix arg to MetricCollection
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: 0:] Ready-To-Go, enhancement

#192 fix compatibility to PL
  .github/workflows/ci_test-full.yml
  LICENSE
  integrations/__init__.py
  integrations/test_metric_lightning.py
  tests/bases/test_metric.py
  tests/helpers/__init__.py
  torchmetrics/metric.py
  torchmetrics/utilities/imports.py
Labels: Priority, bug / fix

#193 revisit deprecation of is_multiclass
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/utilities/__init__.py
Labels: bug / fix, refactoring

#191 cleaning last preds
  torchmetrics/functional/classification/dice.py
  torchmetrics/functional/regression/spearman.py
  torchmetrics/functional/regression/ssim.py
  torchmetrics/utilities/checks.py
Labels: refactoring

#194 deprecate is_multiclass
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/utilities/__init__.py
Labels: refactoring

#198 Show must go on
  CHANGELOG.md
  torchmetrics/__about__.py
Labels: 0:] Ready-To-Go, documentation

#197 Fix auc calculation and add tests
  CHANGELOG.md
  tests/classification/test_auc.py
  torchmetrics/functional/classification/auc.py
  torchmetrics/utilities/data.py
Labels: bug / fix

#202 Loads metric states from state_dict
  CHANGELOG.md
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go, enhancement

#207 CI: update pre-commit
  .codecov.yml
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs-check.yml
  .github/workflows/docs-deploy.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/.build_docs.sh
  docs/Makefile
  docs/source/pages/brief_intro.rst
  docs/source/pages/implement.rst
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  docs/source/pages/quickstart.rst
  docs/source/references/modules.rst
  requirements.txt
  requirements/devel.txt
  requirements/docs.txt
Labels: Priority, enhancement, test / CI

#208 fix setup imports
  docs/source/conf.py
  setup.py
Labels: bug / fix

#211 CI fix env mkl for PT 1.9
  .github/workflows/ci_test-conda.yml
Labels: bug / fix, test / CI

#177 docs: switch to myst-parser
  docs/source/conf.py
  requirements/docs.txt
Labels: documentation

#212 Remove numpy dependency from the core library
  CHANGELOG.md
  requirements.txt
  requirements/test.txt
  tests/retrieval/helpers.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/setup_tools.py
  torchmetrics/utilities/data.py
Labels: 0:] Ready-To-Go, enhancement

#178 Changes for Test Differentiability [2/n]
  CHANGELOG.md
  tests/classification/test_auc.py
  tests/classification/test_auroc.py
  tests/classification/test_average_precision.py
  tests/classification/test_cohen_kappa.py
  tests/helpers/testers.py
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/functional/classification/auc.py
Labels: 0:] Ready-To-Go, enhancement

#216 Add logging for metrics usage
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go, enhancement
