Repository Lightning-AI/torchmetrics, pull requests merged in 2021-05, with the labels that each got.

#164 Warning on wrong call order
  CHANGELOG.md
  tests/bases/test_composition.py
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go, bug / fix

#210 Add Specificity metric
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_specificity.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/specificity.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/specificity.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#217 RFC: reduce allgather costs
  CHANGELOG.md
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/average_precision.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/metric.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/spearman.py
  torchmetrics/regression/ssim.py
Labels: 0:] Ready-To-Go, enhancement

#209 [bugfix] MetricCollection should return metrics with prefix on items(), keys()
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: 0:] Ready-To-Go, bug / fix

#220 Fix gather_all_tensors
  CHANGELOG.md
  tests/bases/test_ddp.py
  torchmetrics/utilities/distributed.py
Labels: 0:] Ready-To-Go, bug / fix

#221 Added add_metrics method to MetricCollection
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: 0:] Ready-To-Go, enhancement

#226 Ports are reused breaking parallel tests
  tests/helpers/testers.py
Labels: 0:] Ready-To-Go, test / CI

#225 Add differentiability testing to more metrics [3/n]
  CHANGELOG.md
  tests/regression/test_explained_variance.py
  tests/regression/test_pearson.py
  tests/regression/test_r2score.py
  tests/regression/test_spearman.py
  torchmetrics/regression/explained_variance.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/r2score.py
  torchmetrics/regression/spearman.py
Labels: 0:] Ready-To-Go, enhancement

#229 Fix concatenation of zero dim states
  CHANGELOG.md
  torchmetrics/functional/regression/spearman.py
  torchmetrics/utilities/data.py
Labels: 0:] Ready-To-Go, bug / fix

#230 Fix AUROC to take advantage of known order ahead of time
  CHANGELOG.md
  torchmetrics/functional/classification/auc.py
  torchmetrics/functional/classification/auroc.py
Labels: 0:] Ready-To-Go, bug / fix

#231 [docs] Drop pl.metrics and define classes with explicit superclass
  .gitignore
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
Labels: documentation

#240 Fix typo in Accuracy docstring
  torchmetrics/classification/accuracy.py
Labels: 0:] Ready-To-Go, documentation

#200 Allow logit input in classification metrics
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/classification/inputs.py
  tests/classification/test_accuracy.py
  tests/classification/test_confusion_matrix.py
  tests/classification/test_f_beta.py
  tests/classification/test_hamming_distance.py
  tests/classification/test_inputs.py
  tests/classification/test_precision_recall.py
  tests/classification/test_stat_scores.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hamming_distance.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/hamming_distance.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/utilities/checks.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#244 Auroc error message
  CHANGELOG.md
  tests/classification/test_auroc.py
  torchmetrics/functional/classification/auroc.py
Labels: 0:] Ready-To-Go, enhancement

#243 Fix dtype incorrectly being reset
  CHANGELOG.md
  tests/bases/test_metric.py
  torchmetrics/functional/classification/cohen_kappa.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go, bug / fix

#249 Add RMSE option to MSE code
  CHANGELOG.md
  tests/regression/test_mean_error.py
  torchmetrics/functional/regression/mean_squared_error.py
  torchmetrics/regression/mean_squared_error.py
Labels: 0:] Ready-To-Go, enhancement

#257 CI: weekly reset caching
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/code-format.yml
Labels: test / CI

#259 prune CI docs
  .github/workflows/docs-check.yml
Labels: documentation, test / CI

#262 [docs] Update sphinx version and deprecated permalinks
  docs/source/conf.py
  requirements/docs.txt
Labels: documentation

#267 Note on DP and Lightning use
  docs/source/pages/overview.rst
Labels: documentation

#260 [feat] Add `reset_forward_cache` to Metric
  CHANGELOG.md
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go, API / design, enhancement
