Repository Lightning-AI/torchmetrics, pull requests merged in 2021-11, with the labels that each got.

#598 Create example for MAP metric
  tests/detection/test_map.py
  tm_examples/detection_map.py
  torchmetrics/detection/map.py
Labels: documentation, enhancement

#599 Fix a docstring for the format of ROUGE input
  torchmetrics/functional/text/rouge.py
  torchmetrics/text/rouge.py
Labels: bug / fix, documentation, 0:] Ready-To-Go

#610 Map second fix empty preds
  torchmetrics/detection/map.py
Labels: bug / fix

#606 Fix weighted AUROC on gpu
  CHANGELOG.md
  tests/classification/test_auroc.py
  torchmetrics/functional/classification/auroc.py
Labels: bug / fix, 0:] Ready-To-Go

#617 Updating test for CharErrorRate
  requirements/test.txt
  tests/text/test_cer.py
Labels: test / CI, 0:] Ready-To-Go

#616 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#619 MER - Match Error Rate
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/text/test_mer.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/mer.py
  torchmetrics/text/__init__.py
  torchmetrics/text/mer.py
Labels: New metric, 0:] Ready-To-Go

#615 update lightning integration example
  docs/source/pages/lightning.rst
Labels: documentation, 0:] Ready-To-Go

#556 min max wrapper
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/wrappers/test_minmax.py
  torchmetrics/__init__.py
  torchmetrics/wrappers/__init__.py
  torchmetrics/wrappers/minmax.py
Labels: New metric, 0:] Ready-To-Go

#631 Remove `"kldivergence"` and `"r2score"` from __all__
  torchmetrics/functional/__init__.py
Labels: 0:] Ready-To-Go

#627 [precision.py] Wall-clock time speedup by performing top-k slicing at first and replacing `argsort` with `topk`
  CHANGELOG.md
  torchmetrics/functional/retrieval/precision.py
Labels: enhancement, 0:] Ready-To-Go

#623 Add SQuAD Metric.
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/text/test_squad.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/squad.py
  torchmetrics/text/__init__.py
  torchmetrics/text/squad.py
Labels: New metric, 0:] Ready-To-Go

#622 Fix consistency in the output of scalar tensors
  CHANGELOG.md
  torchmetrics/aggregation.py
  torchmetrics/classification/kl_divergence.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/image/lpip_similarity.py
  torchmetrics/metric.py
  torchmetrics/regression/pearson.py
  torchmetrics/utilities/data.py
Labels: enhancement, 0:] Ready-To-Go

#624 Fix MAP metric for empty cases
  CHANGELOG.md
  tests/detection/test_map.py
  torchmetrics/detection/map.py
Labels: bug / fix, 0:] Ready-To-Go

#638 Remove deprecated code
  CHANGELOG.md
  tests/functional/test_self_supervised.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/self_supervised.py
  torchmetrics/functional/text/wer.py
  torchmetrics/text/rouge.py
  torchmetrics/text/wer.py
Labels: 0:] Ready-To-Go

#639 Cleanup some testing
  tests/classification/test_dice.py
  tests/classification/test_precision_recall_curve.py
  tests/functional/__init__.py
  tests/functional/test_classification.py
  tests/functional/test_reduction.py
  tests/image/test_image_gradients.py
  tests/test_utilities.py
  tests/wrappers/test_minmax.py
Labels: 0:] Ready-To-Go

#641 Add `ChrF++`
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/text/test_chrf.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/chrf.py
  torchmetrics/text/__init__.py
  torchmetrics/text/chrf.py
Labels: New metric, 0:] Ready-To-Go

#643 Update Retrival Input Details table at modules.rst
  docs/source/references/modules.rst
Labels: 0:] Ready-To-Go

#621 Devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci_docker.yml
  .github/workflows/docker_devcontainer.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  MANIFEST.in
  docs/source/pages/quickstart.rst
Labels: enhancement, 0:] Ready-To-Go

#645 Fix ComputationalMetric.forward() to not only consider the last batch
  CHANGELOG.md
  tests/bases/test_composition.py
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go
