Repository Lightning-AI/torchmetrics, pull requests merged in 2021-08, with the labels that each got.

#410 CI: add action check
  .github/workflows/ci_schema.yml
  .pre-commit-config.yaml
  azure-pipelines.yml
Labels: 0:] Ready-To-Go, test / CI

#418 CI: use mdformat
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  README.md
Labels: 0:] Ready-To-Go, documentation, refactoring

#415 Add docstrings for some functions in image, retrieval, text metrics
  torchmetrics/functional/image/psnr.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/retrieval/ndcg.py
  torchmetrics/functional/text/bleu.py
Labels: 0:] Ready-To-Go, documentation, enhancement

#413 Move forward cache and computed to device
  CHANGELOG.md
  tests/bases/test_metric.py
  tests/helpers/testers.py
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go, bug / fix

#303 Fix metrics in macro average
  CHANGELOG.md
  tests/classification/inputs.py
  tests/classification/test_accuracy.py
  tests/classification/test_f_beta.py
  tests/classification/test_precision_recall.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/precision_recall.py
Labels: 0:] Ready-To-Go, bug / fix

#394 Implementation of calibration error metrics
  .pep8speaks.yml
  CHANGELOG.md
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_calibration_error.py
  tests/helpers/non_sklearn_metrics.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/calibration_error.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/calibration_error.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/utilities/distributed.py
Labels: 0:] Ready-To-Go, New metric, enhancement

#419 Use argmax when topk=1
  CHANGELOG.md
  torchmetrics/utilities/data.py
Labels: 0:] Ready-To-Go, enhancement

#425 Add __all__ to __init__.py files
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
Labels: 0:] Ready-To-Go, enhancement

#422 Fix latex subscripts in R2Score docstrings
  torchmetrics/functional/regression/r2.py
  torchmetrics/regression/r2.py
Labels: 0:] Ready-To-Go, documentation

#426 Move checking in r2 for number of samples to compute
  CHANGELOG.md
  tests/regression/test_r2.py
  torchmetrics/functional/regression/r2.py
Labels: 0:] Ready-To-Go, bug / fix

#428 Docstrings for some functions in classification metrics
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/auc.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/average_precision.py
  torchmetrics/functional/classification/cohen_kappa.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/hamming_distance.py
  torchmetrics/functional/classification/hinge.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/functional/classification/kl_divergence.py
  torchmetrics/functional/classification/matthews_corrcoef.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/classification/roc.py
  torchmetrics/functional/classification/specificity.py
  torchmetrics/functional/classification/stat_scores.py
Labels: documentation, 0:] Ready-To-Go

#424 Adding BERTScore metric
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  requirements/text.txt
  tests/text/test_bertscore.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/bert.py
  torchmetrics/text/__init__.py
  torchmetrics/text/bert.py
  torchmetrics/utilities/imports.py
Labels: New metric, 0:] Ready-To-Go

#434 Use __jit_unused_properties__ for is_differentiable
  torchmetrics/metric.py
Labels: 0:] Ready-To-Go

#435 Reference, fix readme and add [all] install option
  README.md
  setup.py
  torchmetrics/__about__.py
  torchmetrics/utilities/imports.py
Labels: documentation

#441 New changelog section
  CHANGELOG.md
  torchmetrics/__about__.py
Labels: documentation, 0:] Ready-To-Go

#448 Fix ranking in spearman metric
  CHANGELOG.md
  tests/regression/test_spearman.py
  torchmetrics/functional/regression/spearman.py
Labels: bug / fix, 0:] Ready-To-Go

#437 Add float target support to class & functional NDCG
  CHANGELOG.md
  tests/retrieval/helpers.py
  tests/retrieval/inputs.py
  tests/retrieval/test_ndcg.py
  torchmetrics/retrieval/retrieval_ndcg.py
  torchmetrics/utilities/checks.py
Labels: enhancement, 0:] Ready-To-Go

#453 CI: fix failing Conda
  .github/workflows/ci_test-conda.yml
Labels: Priority, test / CI, 0:] Ready-To-Go

#443 Add `torchmetrics`' own implementation of Rouge score metrics
  CHANGELOG.md
  requirements/test.txt
  requirements/text.txt
  tests/text/test_rouge.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/text/rouge.py
Labels: enhancement, 0:] Ready-To-Go

#454 Fix _sync_dist for compositional metrics
  CHANGELOG.md
  tests/bases/test_ddp.py
  torchmetrics/metric.py
Labels: bug / fix

#431 add LPIPS
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/modules.rst
  requirements/image.txt
  tests/helpers/testers.py
  tests/image/test_lpips.py
  tests/wrappers/test_bootstrapping.py
  torchmetrics/__init__.py
  torchmetrics/image/__init__.py
  torchmetrics/image/lpip_similarity.py
  torchmetrics/utilities/imports.py
Labels: New metric

#446 Remove dependency on jiwer for WER
  CHANGELOG.md
  requirements/test.txt
  requirements/text.txt
  tests/text/test_wer.py
  torchmetrics/functional/text/wer.py
  torchmetrics/text/wer.py
Labels: enhancement, 0:] Ready-To-Go

#478 fixes metric hashing
  CHANGELOG.md
  tests/bases/test_hashing.py
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: bug / fix, Priority, 0:] Ready-To-Go, Lightning

#476 Fixed tensor copy to remove UserWarning
  torchmetrics/functional/classification/precision_recall_curve.py
Labels: enhancement, 0:] Ready-To-Go

#474 Change semantic ordering of kernel_size parameter in SSIM
  CHANGELOG.md
  tests/image/test_ssim.py
  torchmetrics/functional/image/ssim.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#473 Implement own BERT score
  CHANGELOG.md
  MANIFEST.in
  pyproject.toml
  requirements/test.txt
  requirements/text.txt
  tests/text/test_bertscore.py
  tm_examples/bert_score-own_model.py
  torchmetrics/functional/text/bert.py
  torchmetrics/text/bert.py
  torchmetrics/utilities/imports.py
Labels: enhancement, 0:] Ready-To-Go, refactoring
