Repository Lightning-AI/torchmetrics, pull requests merged in 2022-07, with the labels that each got.

#1130 Fix broken links in readme
  README.md
Labels: documentation, 0:] Ready-To-Go

#1125 Fix: JaccardIndex multi-label compute
  CHANGELOG.md
  src/torchmetrics/classification/jaccard.py
Labels: 0:] Ready-To-Go

#1129 Fix missing reset in classwise wrapper
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
  tests/unittests/wrappers/test_classwise.py
Labels: bug / fix, 0:] Ready-To-Go

#689 CI: default py3.8
  .github/workflows/ci_install-pkg.yml
  .github/workflows/code-format.yml
  .github/workflows/publish-pypi.yml
  requirements/audio_test.txt
Labels: enhancement, test / CI

#1134 CI: add dependabot for GHA
  .github/dependabot.yml
Labels: test / CI

#1141 Bugfix: Update message regarding connection issues to the HF hub
  tests/unittests/text/helpers.py
Labels: bug / fix, Priority, test / CI, 0:] Ready-To-Go

#1054 [Refactor] Classification 1/n
  .github/actions/unittesting/action.yml
  CHANGELOG.md
  docs/source/classification/confusion_matrix.rst
  docs/source/classification/stat_scores.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/average_precision.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/utilities/checks.py
  src/torchmetrics/utilities/data.py
  tests/unittests/classification/inputs.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/helpers/testers.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/test_utilities.py
Labels: 0:] Ready-To-Go, refactoring

#1140 CI: prune jobs
  .azure/gpu-pipeline.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
Labels: test / CI, 0:] Ready-To-Go

#1143 [Refactor] Classification 2/n
  docs/source/classification/cohen_kappa.rst
  docs/source/classification/jaccard_index.rst
  docs/source/classification/matthews_corr_coef.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/cohen_kappa.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  src/torchmetrics/utilities/compute.py
  tests/unittests/classification/test_cohen_kappa.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_matthews_corrcoef.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/helpers/testers.py
Labels: enhancement, Priority, 0:] Ready-To-Go, refactoring

#1149 Fix: (SSIM) propagate device if `gaussian_kernel` is False, add test
  CHANGELOG.md
  src/torchmetrics/functional/image/ssim.py
  tests/unittests/image/test_ssim.py
Labels: bug / fix, 0:] Ready-To-Go

#1155 Fix notation typo in cosine similarity docs
  src/torchmetrics/functional/pairwise/cosine.py
Labels: 0:] Ready-To-Go

#1145 [Refactor] Classification 3/n
  docs/source/classification/f1_score.rst
  docs/source/classification/fbeta_score.rst
  docs/source/classification/precision.rst
  docs/source/classification/recall.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/utilities/compute.py
  tests/unittests/classification/test_cohen_kappa.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_matthews_corrcoef.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/helpers/testers.py
Labels: enhancement, Priority, 0:] Ready-To-Go, refactoring

#1151 [Refactor] Classification 4/n
  docs/source/classification/hamming_distance.rst
  docs/source/classification/specificity.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/specificity.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_hamming_distance.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_stat_scores.py
Labels: enhancement, Priority, 0:] Ready-To-Go, refactoring

#1162 tests: copy no call helper
  .github/assistant.py
  .github/workflows/focus-diff.yml
  tests/integrations/helpers.py
  tests/integrations/test_lightning.py
Labels: test / CI, 0:] Ready-To-Go
