Repository Lightning-AI/torchmetrics, pull requests merged in 2022-10, with the labels that each got.

#1237 Update docs on the compute groups feature in metric collection
  docs/source/pages/overview.rst
  src/torchmetrics/collections.py
Labels: documentation, 0:] Ready-To-Go

#978 Total Variation Loss
  CHANGELOG.md
  docs/source/image/total_variation.rst
  docs/source/links.rst
  requirements/image_test.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/tv.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/tv.py
  tests/unittests/image/test_tv.py
Labels: New metric, 0:] Ready-To-Go

#1250 Fix broken clone method for classification metrics
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/helpers/testers.py
Labels: bug / fix, 0:] Ready-To-Go

#1258 bugfix: Evaluate pred_lsum only if lsum in rouge_keys
  CHANGELOG.md
  src/torchmetrics/functional/text/rouge.py
Labels: bug / fix, 0:] Ready-To-Go

#1150 MAP: change bool to float32
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, 0:] Ready-To-Go

#1261 CI: re-use checks
  .github/workflows/ci-checks.yml
  .github/workflows/ci_install-pkg.yml
  .github/workflows/ci_schema.yml
  .github/workflows/code-format.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/test.txt
  setup.cfg
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/classification/auc.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/functional/text/chrf.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/functional/text/rouge.py
  src/torchmetrics/functional/text/squad.py
  src/torchmetrics/image/d_lambda.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/metric.py
  src/torchmetrics/regression/cosine_similarity.py
  src/torchmetrics/regression/explained_variance.py
  src/torchmetrics/regression/pearson.py
  src/torchmetrics/regression/r2.py
  src/torchmetrics/regression/spearman.py
  src/torchmetrics/regression/tweedie_deviance.py
  src/torchmetrics/regression/wmape.py
  src/torchmetrics/retrieval/base.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/text/bleu.py
  src/torchmetrics/text/chrf.py
  src/torchmetrics/text/eed.py
  src/torchmetrics/text/infolm.py
  src/torchmetrics/text/perplexity.py
  src/torchmetrics/text/rouge.py
  src/torchmetrics/text/sacre_bleu.py
  src/torchmetrics/text/squad.py
  src/torchmetrics/text/ter.py
  src/torchmetrics/text/wil.py
  src/torchmetrics/text/wip.py
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/wrappers/minmax.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#1263 Set minimum pytorch version to 1.8 + cleanup
  .github/actions/caching/action.yml
  .github/assistant.py
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  CHANGELOG.md
  requirements.txt
  requirements/image_test.txt
  requirements/text_test.txt
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/functional/audio/sdr.py
  src/torchmetrics/functional/classification/auroc.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/exact_match.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/utilities/data.py
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/wrappers/bootstrapping.py
  tests/unittests/audio/test_pesq.py
  tests/unittests/audio/test_pit.py
  tests/unittests/audio/test_sdr.py
  tests/unittests/audio/test_si_sdr.py
  tests/unittests/audio/test_si_snr.py
  tests/unittests/audio/test_snr.py
  tests/unittests/audio/test_stoi.py
  tests/unittests/bases/test_composition.py
  tests/unittests/bases/test_metric.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_auroc.py
  tests/unittests/classification/test_average_precision.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_cohen_kappa.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_exact_match.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_hamming_distance.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_matthews_corrcoef.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/classification/test_ranking.py
  tests/unittests/classification/test_recall_at_fixed_precision.py
  tests/unittests/classification/test_roc.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/helpers/__init__.py
  tests/unittests/image/test_tv.py
  tests/unittests/pairwise/test_pairwise_distance.py
  tests/unittests/regression/test_explained_variance.py
  tests/unittests/regression/test_mean_error.py
  tests/unittests/regression/test_r2.py
  tests/unittests/utilities/test_utilities.py
  tests/unittests/wrappers/test_bootstrapping.py
Labels: 0:] Ready-To-Go, refactoring

#1259 Vectorize `_find_best_gt_match` in `MeanAveragePrecision`
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
Labels: 0:] Ready-To-Go

#1251 Code cleaning after classification refactor 1/n
  CHANGELOG.md
  docs/source/classification/auc.rst
  docs/source/classification/binned_average_precision.rst
  docs/source/classification/binned_precision_recall_curve.rst
  docs/source/classification/binned_recall_fixed_precision.rst
  docs/source/classification/coverage_error.rst
  docs/source/classification/label_ranking_average_precision.rst
  docs/source/classification/label_ranking_loss.rst
  docs/source/index.rst
  docs/source/pages/classification.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auc.py
  src/torchmetrics/classification/binned_precision_recall.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/kl_divergence.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/auc.py
  src/torchmetrics/functional/classification/dice.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/kl_divergence.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/ranking.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/wrappers/multioutput.py
  tests/unittests/classification/test_binned_precision_recall.py
Labels: 0:] Ready-To-Go, refactoring

#1287 Fix mistakes in classification docs
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/precision_recall.py
Labels: documentation, 0:] Ready-To-Go

#1286 Reduce memory in classification metrics when `average='micro'`
  CHANGELOG.md
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/stat_scores.py
Labels: enhancement, 0:] Ready-To-Go

#1288 Fix inplace operation in `pairwise_cosine_similarity`
  CHANGELOG.md
  src/torchmetrics/functional/pairwise/cosine.py
Labels: bug / fix, 0:] Ready-To-Go

#1291 Fix `structural_similarity_index_measure` with autocast
  CHANGELOG.md
  src/torchmetrics/functional/image/ssim.py
Labels: bug / fix, 0:] Ready-To-Go

#1295 Fix typo in LPIPS class docstring and in an error message
  src/torchmetrics/image/lpip.py
Labels: 0:] Ready-To-Go

#1296 Make LPIPS code example use the interval [-1, 1]
  src/torchmetrics/image/lpip.py
Labels: 0:] Ready-To-Go

#1301 Add possibility to provide distributed_available_fn
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/bases/test_metric.py
Labels: 0:] Ready-To-Go, distributed

#1303 Fix autocast with spearman metric
  CHANGELOG.md
  src/torchmetrics/functional/regression/spearman.py
  tests/unittests/regression/test_spearman.py
Labels: bug / fix, 0:] Ready-To-Go

#1302 Fix slow performance for confusion matrix based metrics
  CHANGELOG.md
  src/torchmetrics/utilities/data.py
Labels: bug / fix, 0:] Ready-To-Go

#1305 fix docs for 1 being best
  src/torchmetrics/text/wip.py
Labels: documentation, 0:] Ready-To-Go
