Repository Lightning-AI/torchmetrics, pull requests merged in 2022-05, with the labels that each got.

#1002 Update docs on nested metrics
  docs/source/pages/overview.rst
Labels: documentation, 0:] Ready-To-Go

#1007 Removed Deprecated compute_on_step from audio
  CHANGELOG.md
  torchmetrics/audio/pesq.py
  torchmetrics/audio/pit.py
  torchmetrics/audio/sdr.py
  torchmetrics/audio/snr.py
  torchmetrics/audio/stoi.py
Labels: 0:] Ready-To-Go

#1011 Fix compatibility with future pytorch
  CHANGELOG.md
  torchmetrics/functional/pairwise/cosine.py
Labels: bug / fix, 0:] Ready-To-Go

#1004 Remove `compute_on_step` from text
  CHANGELOG.md
  torchmetrics/text/bert.py
  torchmetrics/text/bleu.py
  torchmetrics/text/cer.py
  torchmetrics/text/chrf.py
  torchmetrics/text/eed.py
  torchmetrics/text/mer.py
  torchmetrics/text/rouge.py
  torchmetrics/text/sacre_bleu.py
  torchmetrics/text/squad.py
  torchmetrics/text/ter.py
  torchmetrics/text/wer.py
  torchmetrics/text/wil.py
  torchmetrics/text/wip.py
Labels: 0:] Ready-To-Go, refactoring

#1005 Remove `compute_on_step` from detection
  CHANGELOG.md
  torchmetrics/detection/mean_ap.py
Labels: 0:] Ready-To-Go, refactoring

#1003 Nested metric collections
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: enhancement, 0:] Ready-To-Go

#1013 CI: Azure - multiple configs
  .azure/gpu-pipeline.yml
  .github/workflows/ci_schema.yml
Labels: test / CI, 0:] Ready-To-Go

#1008 Fixed compatibility between compute groups in `MetricCollection` and prefix/postfix arg
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: bug / fix, 0:] Ready-To-Go

#1012 Fixed non-empty state dict for a few metrics
  CHANGELOG.md
  tests/helpers/testers.py
  tests/image/test_lpips.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/classification/calibration_error.py
  torchmetrics/wrappers/minmax.py
Labels: bug / fix, 0:] Ready-To-Go

#1023 Double support for stat score metrics
  CHANGELOG.md
  tests/classification/test_stat_scores.py
  torchmetrics/functional/classification/stat_scores.py
Labels: bug / fix, 0:] Ready-To-Go

#1028 Fix FID computation for non equal size
  CHANGELOG.md
  tests/image/test_fid.py
  torchmetrics/image/fid.py
Labels: bug / fix, 0:] Ready-To-Go

#1022 More robust metric state comparison
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
  torchmetrics/utilities/data.py
Labels: bug / fix, 0:] Ready-To-Go

#1030 Fix nan in KL Divergence
  CHANGELOG.md
  tests/classification/test_kl_divergence.py
  torchmetrics/functional/classification/kl_divergence.py
  torchmetrics/functional/regression/tweedie_deviance.py
  torchmetrics/utilities/compute.py
Labels: bug / fix, 0:] Ready-To-Go

#1021 Dice score as metric
  CHANGELOG.md
  docs/source/classification/dice.rst
  docs/source/classification/dice_score.rst
  docs/source/links.rst
  tests/classification/test_dice.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/dice.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/dice.py
Labels: enhancement, 0:] Ready-To-Go

#1039 rename test _data
  .azure/gpu-pipeline.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  tests/__init__.py
  tests/audio/__init__.py
Labels: test / CI

#1038 Use PyTorch's `any` implementation
  torchmetrics/aggregation.py
Labels: enhancement, 0:] Ready-To-Go

#1035 fix deterministic for Pytorch<1.8
  torchmetrics/utilities/data.py
Labels: bug / fix, 0:] Ready-To-Go

#1033 forward upgrade utils
  tests/bases/test_metric.py
  tests/helpers/testers.py
  tests/test_utilities.py
  torchmetrics/metric.py
  torchmetrics/utilities/__init__.py
  torchmetrics/utilities/checks.py
Labels: Important, 0:] Ready-To-Go, refactoring

#822 IOU with segm masks and MAP for instance segment.
  CHANGELOG.md
  requirements/detection.txt
  requirements/detection_test.txt
  requirements/devel.txt
  tests/detection/__init__.py
  tests/detection/test_map.py
  tests/helpers/testers.py
  torchmetrics/detection/mean_ap.py
  torchmetrics/metric.py
Labels: enhancement, 0:] Ready-To-Go

#1043 CI: try PT 1.12
  .github/workflows/ci_test-conda.yml
Labels: test / CI

#874 added micro average option for torch metrics
  CHANGELOG.md
  tests/classification/test_jaccard.py
  torchmetrics/classification/jaccard.py
  torchmetrics/functional/classification/jaccard.py
Labels: enhancement, 0:] Ready-To-Go

#1036 Fixed default value for mdmc_average in Accuracy as per documentation
  CHANGELOG.md
  tests/classification/test_accuracy.py
  torchmetrics/classification/accuracy.py
Labels: bug / fix, 0:] Ready-To-Go

#1046 Fix wrong accumulation with average='none'
  tests/classification/__init__.py
  tests/classification/inputs.py
  tests/classification/test_accuracy.py
  tests/classification/test_precision_recall.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/precision_recall.py
  torchmetrics/functional/classification/specificity.py
Labels: bug / fix

#1052 Fix metric collection missing update of property
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/collections.py
Labels: bug / fix, 0:] Ready-To-Go

#1048 Changes before release
  .azure/gpu-pipeline.yml
  .github/workflows/ci_integrate.yml
  .github/workflows/docs-check.yml
  CHANGELOG.md
  README.md
  docs/source/governance.rst
  docs/source/pages/implement.rst
  docs/source/pages/overview.rst
  requirements/text_test.txt
  tests/audio/test_sdr.py
  tests/test_utilities.py
  torchmetrics/utilities/__init__.py
  torchmetrics/utilities/checks.py
Labels: documentation, 0:] Ready-To-Go
