Repository Lightning-AI/torchmetrics, pull requests merged in 2022-02, with the labels that each got.

#819 update paper language
  docs/paper_JOSS/paper.md
Labels: documentation, 0:] Ready-To-Go

#798 CI: reuse caching steps
  .github/actions/caching/action.yml
  .github/workflows/ci_integrate.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/docs-check.yml
Labels: enhancement, test / CI, 0:] Ready-To-Go

#820 Improve testing time
  .github/assistant.py
  .github/workflows/ci_integrate.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  CHANGELOG.md
  tests/audio/test_snr.py
  tests/classification/inputs.py
  tests/classification/test_auroc.py
  tests/classification/test_average_precision.py
  tests/helpers/testers.py
Labels: enhancement, test / CI

#827 Fix version incompatibility with pytest and pytest-doctestplus
  requirements/test.txt
Labels: test / CI

#788 Remove lightning legacy code and references
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  docs/paper_JOSS/paper.md
  docs/source/governance.rst
  docs/source/pages/implement.rst
  docs/source/pages/lightning.rst
  integrations/__init__.py
  integrations/test_lightning.py
  requirements/devel.txt
  requirements/docs.txt
  requirements/integrate.txt
  tests/bases/test_metric.py
  tests/helpers/__init__.py
  tests/helpers/testers.py
  tests/regression/test_mean_error.py
  tests/retrieval/helpers.py
  tests/text/helpers.py
  torchmetrics/__about__.py
  torchmetrics/metric.py
  torchmetrics/utilities/enums.py
  torchmetrics/utilities/imports.py
Labels: documentation, enhancement, 0:] Ready-To-Go, Lightning

#796 Remove deprecated code from image domain
  CHANGELOG.md
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/ms_ssim.py
  torchmetrics/functional/image/psnr.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/image/__init__.py
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
  torchmetrics/image/lpip.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
Labels: enhancement, 0:] Ready-To-Go

#806 Prune deprecated: classification and regression
  CHANGELOG.md
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/iou.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/hinge.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/spearman.py
Labels: enhancement, 0:] Ready-To-Go

#823 CI: update GPU test env
  azure-pipelines.yml
  tests/image/test_lpips.py
Labels: test / CI, 0:] Ready-To-Go

#824 Added new image metric - UQI
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/image/test_uqi.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/helper.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/image/uqi.py
  torchmetrics/image/__init__.py
  torchmetrics/image/uqi.py
Labels: New metric, 0:] Ready-To-Go

#709 Smart update of metric collection
  CHANGELOG.md
  docs/source/pages/overview.rst
  tests/bases/test_collections.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/collections.py
Labels: enhancement, Important, 0:] Ready-To-Go

#830 Update torch reference
  docs/paper_JOSS/paper.md
Labels: documentation

#832 Better support for classwise logging
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/test_utilities.py
  tests/wrappers/test_classwise.py
  torchmetrics/__init__.py
  torchmetrics/collections.py
  torchmetrics/utilities/data.py
  torchmetrics/wrappers/__init__.py
  torchmetrics/wrappers/classwise.py
Labels: enhancement, New metric, 0:] Ready-To-Go

#835 CI: move pipelines & mypy
  .azure/gpu-pipeline.yml
  .github/workflows/ci_schema.yml
  torchmetrics/wrappers/classwise.py
Labels: test / CI

#836 JOSS-Paper Updates (Spelling and formatting)
  docs/paper_JOSS/paper.bib
  docs/paper_JOSS/paper.md
Labels: documentation

#797 CI: reuse workflow
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/focus-diff.yml
Labels: enhancement, test / CI

#839 Add Citation
  .github/workflows/docs-check.yml
  CITATION.cff
  MANIFEST.in
  README.md
Labels: documentation, 0:] Ready-To-Go

#843 Fix compatibility between ClasswiseWrapper and prefix/postfix arg in MetricCollection
  CHANGELOG.md
  tests/wrappers/test_classwise.py
  torchmetrics/collections.py
Labels: bug / fix, 0:] Ready-To-Go

#847 Fix unsafe log operation in TweedieDeviance
  CHANGELOG.md
  tests/regression/test_tweedie_deviance.py
  torchmetrics/functional/regression/tweedie_deviance.py
Labels: bug / fix, 0:] Ready-To-Go

#853 Update num_classes in jaccard score to be a required argument
  CHANGELOG.md
  tests/classification/test_jaccard.py
  torchmetrics/functional/classification/jaccard.py
Labels: bug / fix, 0:] Ready-To-Go

#850 Further install instructions for pesq metric
  torchmetrics/audio/pesq.py
  torchmetrics/functional/audio/pesq.py
Labels: documentation, 0:] Ready-To-Go

#838 add normalizer, tokenizer to rouge
  tests/text/test_rouge.py
  tm_examples/rouge_score-own_normalizer_and_tokenizer.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/text/rouge.py
Labels: 0:] Ready-To-Go

#858 Add additional PL recommended docs
  docs/source/pages/lightning.rst
Labels: documentation, 0:] Ready-To-Go

#362 Negative `ignore_index` for the Accuracy metric
  CHANGELOG.md
  tests/classification/test_accuracy.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/stat_scores.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/stat_scores.py
  torchmetrics/utilities/checks.py
Labels: enhancement, 0:] Ready-To-Go

#864 Improved shape checking of `permutation_invariant_training`
  tests/audio/test_pit.py
  torchmetrics/functional/audio/pit.py
Labels: enhancement, 0:] Ready-To-Go
