Repository Lightning-AI/torchmetrics, pull requests merged in 2022-06, with the labels that each got.

#1072 Fix typo for mAP target indexing
  torchmetrics/detection/mean_ap.py
Labels: documentation, 0:] Ready-To-Go

#1071 CI: LTS with CUDA 10.2 & disable SDR pytorch 1.11 and GPU
  .azure/gpu-pipeline.yml
  tests/audio/test_sdr.py
  torchmetrics/audio/sdr.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/utilities/imports.py
Labels: test / CI, 0:] Ready-To-Go

#1058 Fix v0.9 integration with PL
  tests/bases/test_metric.py
  tests/helpers/utilities.py
  torchmetrics/metric.py
  torchmetrics/utilities/checks.py
Labels: bug / fix, 0:] Ready-To-Go

#1070 Fix aggregation metrics with zero tensors
  CHANGELOG.md
  tests/bases/test_aggregation.py
  torchmetrics/aggregation.py
Labels: bug / fix, 0:] Ready-To-Go

#1056 Better error message on wrong device
  CHANGELOG.md
  tests/bases/test_metric.py
  torchmetrics/metric.py
Labels: enhancement, 0:] Ready-To-Go

#1069 Fix for bug when providing superclass arguments as kwargs
  CHANGELOG.md
  tests/classification/test_confusion_matrix.py
  tests/classification/test_stat_scores.py
  tests/text/test_mer.py
  tests/text/test_wer.py
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/dice.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/jaccard.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/specificity.py
  torchmetrics/functional/audio/pesq.py
  torchmetrics/functional/audio/stoi.py
Labels: bug / fix, 0:] Ready-To-Go

#1076 Fix state reference in `MetricCollection`
  CHANGELOG.md
  integrations/test_lightning.py
  tests/bases/test_collections.py
  torchmetrics/collections.py
  torchmetrics/metric.py
Labels: bug / fix, 0:] Ready-To-Go

#1081 makefile: pull data
  .gitignore
  Makefile
Labels: test / CI

#1100 rename Lightning-AI org
  LICENSE
  README.md
  docs/source/_templates/theme_variables.jinja
Labels: documentation

#1097 MeanAveragePrecision: Skip box conversion if no boxes are present
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, 0:] Ready-To-Go

#1079 CI: abstract unittest action
  .github/actions/caching/action.yml
  .github/actions/unittesting/action.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  requirements.txt
Labels: test / CI, 0:] Ready-To-Go, refactoring

#1112 Fix dead links in all metrics page
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  docs/source/all-metrics.rst
  docs/source/index.rst
  docs/source/pages/all-metrics.rst
Labels: documentation, 0:] Ready-To-Go

#1115 CI: adding nightly PT 1.13
  .github/workflows/ci_test-conda.yml
  requirements/adjust-versions.py
Labels: test / CI, 0:] Ready-To-Go

#1116 Add "none" option to AveragePrecision
  CHANGELOG.md
  src/torchmetrics/functional/classification/average_precision.py
Labels: bug / fix, 0:] Ready-To-Go

#1121 Add readme to build docs locally
  docs/README.md
Labels: documentation, 0:] Ready-To-Go

#1118 Fix `average` typing hint for classification metrics and add "none" option to AveragePrecision module
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/avg_precision.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/dice.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/specificity.py
Labels: 0:] Ready-To-Go

#1107 Option to disable automatic syncronization
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/bases/test_ddp.py
  tests/unittests/helpers/testers.py
Labels: enhancement
