Repository Lightning-AI/torchmetrics, pull requests merged in 2022-11, with the labels that each got.

#1306 Fix bug in metric tracker
  CHANGELOG.md
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: bug / fix, 0:] Ready-To-Go

#1310 CI: fix ifs conditions
  .github/workflows/ci_integrate.yml
  .github/workflows/ci_test-full.yml
Labels: Priority, test / CI, 0:] Ready-To-Go

#1271 Add Kendall Rank Correlation Coefficient (Kendall's tau)
  CHANGELOG.md
  docs/source/conf.py
  docs/source/links.rst
  docs/source/regression/kendall_rank_corr_coef.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/kendall.py
  src/torchmetrics/functional/regression/pearson.py
  src/torchmetrics/functional/regression/spearman.py
  src/torchmetrics/functional/regression/utils.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/kendall.py
  tests/unittests/regression/test_kendall.py
Labels: New metric, 0:] Ready-To-Go

#1313 CI: force testing LTS
  .azure/gpu-pipeline.yml
Labels: Priority, test / CI, 0:] Ready-To-Go

#1316 Add LogCosh Error
  CHANGELOG.md
  docs/source/links.rst
  docs/source/regression/log_cosh_error.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/kendall.py
  src/torchmetrics/functional/regression/log_cosh.py
  src/torchmetrics/functional/regression/pearson.py
  src/torchmetrics/functional/regression/spearman.py
  src/torchmetrics/functional/regression/utils.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/log_cosh.py
  tests/unittests/regression/test_log_cosh_error.py
Labels: New metric, 0:] Ready-To-Go

#1312 CI: try to cache build env
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
Labels: test / CI

#1246 Add normalize argument to certain image metrics
  CHANGELOG.md
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_inception.py
  tests/unittests/image/test_kid.py
Labels: enhancement, 0:] Ready-To-Go

#1327 Revert mAP matching vectorization
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, 0:] Ready-To-Go

#1324 CI: merge conda and full tests
  .github/workflows/ci-checks.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  README.md
  requirements/adjust-versions.py
Labels: test / CI, 0:] Ready-To-Go

#1298 Add Cramer's V (Cramer's Phi)
  CHANGELOG.md
  docs/source/index.rst
  docs/source/links.rst
  docs/source/nominal/cramers_v.rst
  requirements/devel.txt
  requirements/nominal_test.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/nominal/__init__.py
  src/torchmetrics/functional/nominal/cramers.py
  src/torchmetrics/functional/nominal/utils.py
  src/torchmetrics/nominal/__init__.py
  src/torchmetrics/nominal/cramers.py
  tests/unittests/nominal/__init__.py
  tests/unittests/nominal/test_cramers.py
Labels: New metric, 0:] Ready-To-Go

#1333 Fix `compute_on_cpu` arg + forward method
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/bases/test_metric.py
Labels: bug / fix, 0:] Ready-To-Go

#1342 Fix doc in accuracy module
  src/torchmetrics/classification/accuracy.py
Labels: documentation, 0:] Ready-To-Go

#1314 Add CLIP score
  .azure/gpu-pipeline.yml
  .github/workflows/docs-check.yml
  CHANGELOG.md
  docs/source/index.rst
  docs/source/links.rst
  docs/source/multimodal/clip_score.rst
  requirements/devel.txt
  requirements/multimodal.txt
  requirements/text_test.txt
  src/torchmetrics/functional/multimodal/__init__.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/multimodal/__init__.py
  src/torchmetrics/multimodal/clip_score.py
  tests/unittests/helpers/testers.py
  tests/unittests/multimodal/__init__.py
  tests/unittests/multimodal/test_clip_score.py
Labels: New metric, 0:] Ready-To-Go

#1344 docs: Update the number of metrics + covered domains
  README.md
  docs/source/index.rst
  docs/source/pages/quickstart.rst
  src/torchmetrics/__about__.py
Labels: documentation

#1337 Add Thiel's U Statistic (Uncertainty) Metric
  CHANGELOG.md
  docs/source/links.rst
  docs/source/nominal/theils_u.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/nominal/__init__.py
  src/torchmetrics/functional/nominal/theils_u.py
  src/torchmetrics/nominal/__init__.py
  src/torchmetrics/nominal/theils_u.py
  tests/unittests/nominal/test_theils_u.py
Labels: New metric, 0:] Ready-To-Go

#1343 Exact match multiclass
  CHANGELOG.md
  docs/source/classification/exact_match.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/exact_match.py
  tests/unittests/classification/test_exact_match.py
Labels: New metric, 0:] Ready-To-Go

#1348 ci: reruns failed tests
  .github/actions/unittesting/action.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests-full.yml
  requirements/test.txt
  src/torchmetrics/utilities/checks.py
Labels: 0:] Ready-To-Go

#1349 Cleanup of deprecated code
  docs/source/classification/dice.rst
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/dice.py
  src/torchmetrics/metric.py
  src/torchmetrics/utilities/checks.py
  tests/unittests/bases/test_metric.py
  tests/unittests/classification/test_dice.py
Labels: 0:] Ready-To-Go

#1350 mergify: drop ready for draft/wip
  .github/mergify.yml
Labels: test / CI

#1352 Fix precision issue in pairwise euclidean distance
  CHANGELOG.md
  src/torchmetrics/functional/pairwise/euclidean.py
  tests/unittests/pairwise/test_pairwise_distance.py
Labels: bug / fix, 0:] Ready-To-Go

#1357 Fix wrong member naming in cer/wer
  src/torchmetrics/text/cer.py
  src/torchmetrics/text/wer.py
Labels: 0:] Ready-To-Go

#1358 improved retrieval doc
  docs/source/pages/retrieval.rst
Labels: 0:] Ready-To-Go
