Repository Lightning-AI/torchmetrics, pull requests merged in 2022-09, with the labels that each got.

#1199 Changed FID to be online instead of storing each feature
  CHANGELOG.md
  requirements/image.txt
  src/torchmetrics/image/fid.py
  tests/unittests/image/test_fid.py
Labels: 0:] Ready-To-Go

#1204 Fix reduction for full image in SSIM
  CHANGELOG.md
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/image/ssim.py
  tests/unittests/image/test_ssim.py
Labels: bug / fix, 0:] Ready-To-Go

#1211 CI: more OS testing
  .github/workflows/ci_install-pkg.yml
  .github/workflows/ci_integrate.yml
  .github/workflows/ci_test-full.yml
Labels: test / CI, 0:] Ready-To-Go

#1212 CI: use schema
  .github/workflows/ci_schema.yml
Labels: test / CI, 0:] Ready-To-Go

#1215 Fixing typing
  .github/workflows/code-format.yml
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/auroc.py
  src/torchmetrics/functional/classification/average_precision.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/cohen_kappa.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/hinge.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/roc.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/stat_scores.py
Labels: bug / fix

#1210 Fix MPS support for MAE metric
  CHANGELOG.md
  src/torchmetrics/functional/regression/mae.py
Labels: enhancement, 0:] Ready-To-Go

#1216 Add normalize arg to LPIPS metric
  CHANGELOG.md
  src/torchmetrics/image/lpip.py
  tests/unittests/image/test_lpips.py
Labels: enhancement, 0:] Ready-To-Go

#1219 Bugfix: fix compute when called on empty lists
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/bases/test_ddp.py
Labels: bug / fix, 0:] Ready-To-Go

#1225 Bugfix for classwise wrapper compute logic
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
  tests/unittests/wrappers/test_classwise.py
Labels: bug / fix, 0:] Ready-To-Go

#1227 Add support for multiprocessing in PESQ
  CHANGELOG.md
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/functional/audio/pesq.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/audio/test_pesq.py
Labels: enhancement, 0:] Ready-To-Go

#1201 Add concordance correlation coefficient
  CHANGELOG.md
  docs/source/regression/concordance_corr_coef.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/concordance.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/concordance.py
  src/torchmetrics/regression/pearson.py
  tests/unittests/regression/test_concordance.py
Labels: New metric, 0:] Ready-To-Go

#1243 Fixed typo in documentation for MeanAveragePrecision
  src/torchmetrics/detection/mean_ap.py
Labels: documentation

#1242 improved efficiency of all module retrieval metrics
  CHANGELOG.md
  src/torchmetrics/retrieval/base.py
  src/torchmetrics/retrieval/fall_out.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/utilities/data.py
Labels: 0:] Ready-To-Go

#1231 Online SSIM and MS-SSIM Computation
  CHANGELOG.md
  requirements/image_test.txt
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/image/ssim.py
  tests/unittests/image/test_ssim.py
Labels: enhancement, 0:] Ready-To-Go
