Repository Lightning-AI/torchmetrics, pull requests merged in 2022-03, with the labels that each got.

#868 minor refactoring
  docs/source/references/modules.rst
  setup.py
  tests/helpers/non_sklearn_metrics.py
  tests/helpers/testers.py
  tests/image/test_image_gradients.py
  tests/text/helpers.py
  tests/text/inputs.py
  tests/text/test_bertscore.py
  tests/text/test_eed.py
  tests/text/test_mer.py
  tests/text/test_rouge.py
  tests/text/test_wer.py
  tests/wrappers/test_minmax.py
  torchmetrics/audio/pesq.py
  torchmetrics/audio/sdr.py
  torchmetrics/audio/stoi.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/collections.py
  torchmetrics/detection/map.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/audio/snr.py
  torchmetrics/functional/classification/accuracy.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/text/bert.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/functional/text/wip.py
  torchmetrics/text/rouge.py
Labels: enhancement, 0:] Ready-To-Go

#875 typo in section MetricCollection
  docs/source/pages/overview.rst
Labels: documentation, 0:] Ready-To-Go

#891 Refactor: allow reduction None
  torchmetrics/classification/jaccard.py
  torchmetrics/classification/kl_divergence.py
  torchmetrics/functional/classification/dice.py
  torchmetrics/functional/classification/jaccard.py
  torchmetrics/functional/classification/kl_divergence.py
  torchmetrics/functional/image/psnr.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/image/uqi.py
  torchmetrics/functional/pairwise/cosine.py
  torchmetrics/functional/pairwise/euclidean.py
  torchmetrics/functional/pairwise/linear.py
  torchmetrics/functional/pairwise/manhattan.py
  torchmetrics/functional/regression/cosine_similarity.py
  torchmetrics/image/lpip.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/image/uqi.py
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/utilities/distributed.py
Labels: 0:] Ready-To-Go, refactoring

#893 protect test references
  tests/classification/test_calibration_error.py
  tests/helpers/reference_metrics.py
  tests/regression/test_mean_error.py
Labels: test / CI, 0:] Ready-To-Go

#892 fix docstring of "MeanAbsolutePercentageError" to match the code.
  torchmetrics/regression/mape.py
Labels: documentation, 0:] Ready-To-Go

#885 Add new metrics: ``SAM``
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/helpers/reference_metrics.py
  tests/image/test_sam.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/sam.py
  torchmetrics/image/__init__.py
  torchmetrics/image/sam.py
Labels: New metric

#884 Fixed bug in computing map metric for images with either no ground tr…
  CHANGELOG.md
  tests/detection/test_map.py
  torchmetrics/detection/map.py
Labels: bug / fix, 0:] Ready-To-Go

#899 Recompute SDR in float64 type if float32 gives NaN or Inf
  CHANGELOG.md
  tests/audio/test_sdr.py
  torchmetrics/functional/audio/sdr.py
Labels: bug / fix, 0:] Ready-To-Go

#903 CI: fixing JOSS build
  .github/workflows/docs-check.yml
  docs/paper_JOSS/paper.bib
Labels: test / CI

#898 Add interval for resetting cache hash in CI
  .github/actions/caching/action.yml
  torchmetrics/functional/image/ergas.py
  torchmetrics/image/ergas.py
Labels: test / CI, 0:] Ready-To-Go

#900 Fix torch.bincount when running in deterministic mode and on GPU
  CHANGELOG.md
  tests/classification/test_confusion_matrix.py
  tests/test_utilities.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/average_precision.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/utilities/data.py
Labels: bug / fix

#905 Fix SDR compatibility with future PT 1.12
  tests/audio/test_sdr.py
  torchmetrics/utilities/imports.py
Labels: test / CI

#907 Restructure of lightning logging docs
  docs/source/pages/lightning.rst
Labels: documentation, 0:] Ready-To-Go

#908 Rename detection map file
  docs/source/references/modules.rst
  tests/detection/test_map.py
  tests/helpers/testers.py
  tm_examples/detection_map.py
  torchmetrics/detection/__init__.py
  torchmetrics/detection/mean_ap.py
Labels: 0:] Ready-To-Go, refactoring

#818 3D extension for SSIM
  CHANGELOG.md
  tests/image/test_ms_ssim.py
  tests/image/test_ssim.py
  torchmetrics/functional/image/helper.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/image/uqi.py
  torchmetrics/image/ssim.py
  torchmetrics/utilities/imports.py
Labels: enhancement

#913 Make `best_metric` in MetricTracker more robust
  CHANGELOG.md
  tests/wrappers/test_tracker.py
  torchmetrics/wrappers/tracker.py
Labels: enhancement, 0:] Ready-To-Go

#910 Added `adaptive_k` argument to IR Precision metric
  CHANGELOG.md
  tests/retrieval/helpers.py
  tests/retrieval/inputs.py
  tests/retrieval/test_precision.py
  torchmetrics/functional/retrieval/fall_out.py
  torchmetrics/functional/retrieval/precision.py
  torchmetrics/retrieval/precision.py
Labels: enhancement, 0:] Ready-To-Go

#920 Fix a typo in a ROUGE-related method
  torchmetrics/functional/text/rouge.py
Labels: documentation, 0:] Ready-To-Go

#923 Fix a typo in SMAPE doc
  torchmetrics/functional/regression/symmetric_mape.py
Labels: documentation, 0:] Ready-To-Go

#912 Fix BertScore on GPU
  CHANGELOG.md
  tests/text/test_bertscore.py
  torchmetrics/functional/text/bert.py
Labels: bug / fix, 0:] Ready-To-Go

#924 Bump version of black to 22.3.0
  .pre-commit-config.yaml
  tests/bases/test_composition.py
  tests/bases/test_metric.py
  tests/classification/test_hinge.py
  tests/retrieval/inputs.py
  torchmetrics/detection/mean_ap.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/audio/snr.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/matthews_corrcoef.py
  torchmetrics/functional/text/chrf.py
  torchmetrics/functional/text/ter.py
  torchmetrics/image/kid.py
Labels: test / CI, 0:] Ready-To-Go

#921 Fix an internal README link
  README.md
Labels: documentation, 0:] Ready-To-Go

#914 Remove `get_num_classes` in `jaccard_index`
  CHANGELOG.md
  tests/classification/test_jaccard.py
  tests/test_utilities.py
  torchmetrics/functional/classification/jaccard.py
  torchmetrics/utilities/data.py
Labels: bug / fix, 0:] Ready-To-Go
