Repository Lightning-AI/torchmetrics, pull requests merged in 2022-12, with the labels that each got.

#1372 Update docs on Detection metrics
  docs/source/detection/mean_average_precision.rst
  src/torchmetrics/detection/mean_ap.py
Labels: documentation, 0:] Ready-To-Go

#1369 Improve docs on aggregation
  docs/source/aggregation/cat.rst
  docs/source/aggregation/max.rst
  docs/source/aggregation/mean.rst
  docs/source/aggregation/min.rst
  docs/source/aggregation/sum.rst
  src/torchmetrics/aggregation.py
Labels: documentation, 0:] Ready-To-Go

#1375 adding extra: dev
  setup.py
Labels: 0:] Ready-To-Go

#1373 Fix aggregation broadcast & small doc fixes
  CHANGELOG.md
  src/torchmetrics/aggregation.py
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/functional/text/perplexity.py
Labels: documentation, 0:] Ready-To-Go

#1378 docs: update links in chlog
  CHANGELOG.md
Labels: bug / fix, documentation, 0:] Ready-To-Go

#1377 CI: try to rerun also doctests
  .github/workflows/ci-tests-full.yml
  requirements/doctest.txt
  setup.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#1381 refactor: simplify Tensor import
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/image/gradients.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/functional/text/helper_embedding_metric.py
  src/torchmetrics/metric.py
  src/torchmetrics/text/bert.py
  tests/unittests/retrieval/helpers.py
Labels: 0:] Ready-To-Go, refactoring

#1370 Make `._update_count` and `._update_called` public
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/bases/test_collections.py
  tests/unittests/bases/test_metric.py
Labels: enhancement, 0:] Ready-To-Go

#1382 Remove unused `normalize` arg from docs
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/matthews_corrcoef.py
Labels: documentation, 0:] Ready-To-Go

#1383 Explicit mention that 1 is the positive class in docs
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/recall_at_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/collections.py
  src/torchmetrics/functional/classification/auroc.py
  src/torchmetrics/functional/classification/average_precision.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/hinge.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/recall_at_fixed_precision.py
  src/torchmetrics/functional/classification/roc.py
  src/torchmetrics/utilities/imports.py
Labels: documentation, 0:] Ready-To-Go

#1395 ci: update version mapping
  requirements/adjust-versions.py
Labels: test / CI

#1255 CI: switch GPU pool
  .azure/gpu-pipeline.yml
  .github/workflows/ci-tests-full.yml
  tests/unittests/image/test_lpips.py
  tests/unittests/text/test_bertscore.py
Labels: enhancement, Priority, test / CI, 0:] Ready-To-Go

#1402 docs: Fix typos in sum index
  src/torchmetrics/classification/average_precision.py
Labels: documentation

#1401 use lit utils
  requirements.txt
  src/torchmetrics/utilities/imports.py
  tests/unittests/nominal/test_cramers.py
  tests/unittests/nominal/test_pearson.py
  tests/unittests/nominal/test_theils_u.py
  tests/unittests/nominal/test_tschuprows.py
  tests/unittests/regression/test_kendall.py
Labels: 0:] Ready-To-Go, refactoring

#1400 tests: use smaller model?
  src/torchmetrics/image/fid.py
  tests/unittests/image/test_fid.py
  tests/unittests/text/test_bertscore.py
Labels: test / CI, 0:] Ready-To-Go

#1328 Feature: Plotting of metrics
  .github/workflows/ci-tests-full.yml
  CHANGELOG.md
  docs/source/conf.py
  examples/plotting.py
  requirements/devel.txt
  requirements/docs.txt
  requirements/visual.txt
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/metric.py
  src/torchmetrics/regression/mse.py
  src/torchmetrics/utilities/__init__.py
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1397 CI: RTX card for older PT 1.9
  .azure/gpu-pipeline.yml
  tests/unittests/__init__.py
Labels: test / CI, 0:] Ready-To-Go

#1405 Update classification docs
  docs/source/classification/accuracy.rst
  docs/source/classification/auroc.rst
  docs/source/classification/average_precision.rst
  docs/source/classification/calibration_error.rst
  docs/source/classification/cohen_kappa.rst
  docs/source/classification/confusion_matrix.rst
  docs/source/classification/coverage_error.rst
  docs/source/classification/dice.rst
  docs/source/classification/exact_match.rst
  docs/source/classification/f1_score.rst
  docs/source/classification/fbeta_score.rst
  docs/source/classification/hamming_distance.rst
  docs/source/classification/hinge_loss.rst
  docs/source/classification/jaccard_index.rst
  docs/source/classification/label_ranking_average_precision.rst
  docs/source/classification/label_ranking_loss.rst
  docs/source/classification/matthews_corr_coef.rst
  docs/source/classification/precision.rst
  docs/source/classification/precision_recall_curve.rst
  docs/source/classification/recall.rst
  docs/source/classification/recall_at_fixed_precision.rst
  docs/source/classification/roc.rst
  docs/source/classification/specificity.rst
  docs/source/classification/stat_scores.rst
  docs/source/links.rst
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/stat_scores.py
Labels: documentation, 0:] Ready-To-Go

#1412 Fix wrong header for Jaccard Index
  docs/source/classification/jaccard_index.rst
Labels: documentation

#1415 Update retrieval docs
  docs/source/retrieval/fall_out.rst
  docs/source/retrieval/hit_rate.rst
  docs/source/retrieval/map.rst
  docs/source/retrieval/mrr.rst
  docs/source/retrieval/normalized_dcg.rst
  docs/source/retrieval/precision.rst
  docs/source/retrieval/precision_recall_curve.rst
  docs/source/retrieval/r_precision.rst
  docs/source/retrieval/recall.rst
Labels: documentation, 0:] Ready-To-Go

#1408 Fix small reference error in classification docs
  docs/source/classification/coverage_error.rst
  docs/source/links.rst
  src/torchmetrics/classification/ranking.py
Labels: documentation, 0:] Ready-To-Go
