Repository Lightning-AI/torchmetrics, pull requests merged in 2022-04, with the labels that each got.

#933 Fix grammar issue in mAP docs.
  torchmetrics/detection/mean_ap.py
Labels: 0:] Ready-To-Go

#930 Fix a typo in a hyperlink for `CITATION.cff` in `README.md`
  README.md
Labels: documentation, 0:] Ready-To-Go

#936 fix PL v1.7 compatibility
  integrations/test_lightning.py
Labels: bug / fix, 0:] Ready-To-Go

#940 Skip HF-related tests if connection issues arise
  tests/text/helpers.py
  tests/text/test_bertscore.py
Labels: bug / fix, test / CI, 0:] Ready-To-Go

#945 Update docs to reflect number of metrics
  README.md
  docs/source/pages/quickstart.rst
  torchmetrics/__about__.py
Labels: documentation, 0:] Ready-To-Go

#944 Fix RougeL/RougeLSum implementation
  CHANGELOG.md
  tests/text/test_rouge.py
  torchmetrics/functional/text/rouge.py
Labels: bug / fix, 0:] Ready-To-Go

#722 Optionally Avoid recomputing features
  CHANGELOG.md
  tests/image/test_fid.py
  tests/image/test_kid.py
  torchmetrics/image/fid.py
  torchmetrics/image/kid.py
Labels: enhancement, 0:] Ready-To-Go

#873 Adds new image metric - `d_lambda`
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/helpers/reference_metrics.py
  tests/image/test_d_lambda.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/d_lambda.py
  torchmetrics/image/__init__.py
  torchmetrics/image/d_lambda.py
Labels: New metric

#948 New metric: WMAPE
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/regression/test_mean_error.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/wmape.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/wmape.py
Labels: New metric, 0:] Ready-To-Go

#950 Fix MAP device placement
  CHANGELOG.md
  tests/detection/test_map.py
  torchmetrics/detection/mean_ap.py
Labels: bug / fix, 0:] Ready-To-Go

#958 Remove BLEU warning that shouldn't be present in v0.8
  torchmetrics/text/bleu.py
Labels: 0:] Ready-To-Go

#959 PSNR is higher the better.
  torchmetrics/image/psnr.py
Labels: bug / fix, 0:] Ready-To-Go

#957 prune deprecated Metric args
  requirements.txt
  tests/test_deprecated.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/functional/text/sacre_bleu.py
  torchmetrics/image/ssim.py
  torchmetrics/metric.py
  torchmetrics/regression/r2.py
  torchmetrics/text/sacre_bleu.py
Labels: 0:] Ready-To-Go, refactoring

#962 Removed Deprecated `compute_on_step` from Classification
  CHANGELOG.md
  torchmetrics/classification/accuracy.py
  torchmetrics/classification/auc.py
  torchmetrics/classification/auroc.py
  torchmetrics/classification/avg_precision.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/classification/calibration_error.py
  torchmetrics/classification/cohen_kappa.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hamming.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/jaccard.py
  torchmetrics/classification/kl_divergence.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/classification/precision_recall.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/classification/specificity.py
  torchmetrics/classification/stat_scores.py
Labels: 0:] Ready-To-Go, refactoring

#966 Move aggregation and wrappers out to their own files
  docs/source/_templates/layout.html
  docs/source/aggregation/cat.rst
  docs/source/aggregation/max.rst
  docs/source/aggregation/mean.rst
  docs/source/aggregation/min.rst
  docs/source/aggregation/sum.rst
  docs/source/index.rst
  docs/source/references/aggregation.rst
  docs/source/references/wrappers.rst
  docs/source/wrappers/bootstrapper.rst
  docs/source/wrappers/classwise_wrapper.rst
  docs/source/wrappers/metric_tracker.rst
  docs/source/wrappers/min_max.rst
  docs/source/wrappers/multi_output_wrapper.rst
Labels: documentation, 0:] Ready-To-Go

#967 Remove deprecated `compute_on_step` in Regression
  CHANGELOG.md
  torchmetrics/regression/cosine_similarity.py
  torchmetrics/regression/explained_variance.py
  torchmetrics/regression/log_mse.py
  torchmetrics/regression/mae.py
  torchmetrics/regression/mape.py
  torchmetrics/regression/mse.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/r2.py
  torchmetrics/regression/spearman.py
  torchmetrics/regression/symmetric_mape.py
  torchmetrics/regression/tweedie_deviance.py
Labels: 0:] Ready-To-Go, refactoring

#968 Fix BinnedPrecisionRecallCurve when thresholds not specified
  CHANGELOG.md
  tests/classification/test_binned_precision_recall.py
  torchmetrics/classification/binned_precision_recall.py
Labels: bug / fix, 0:] Ready-To-Go

#964 re-implement the `signal_distortion_ratio` metric
  CHANGELOG.md
  requirements/audio.txt
  requirements/audio_test.txt
  tests/audio/test_sdr.py
  torchmetrics/audio/sdr.py
  torchmetrics/functional/audio/sdr.py
Labels: enhancement, 0:] Ready-To-Go

#983 Explicit cast to `uint8` when bool inputs passed to `argsort` in MAP
  CHANGELOG.md
  tests/detection/test_map.py
  torchmetrics/detection/mean_ap.py
Labels: bug / fix, 0:] Ready-To-Go

#980 using lru_cache
  torchmetrics/utilities/checks.py
  torchmetrics/utilities/data.py
  torchmetrics/utilities/distributed.py
  torchmetrics/utilities/imports.py
Labels: enhancement, 0:] Ready-To-Go

#979 remove deprecated compute_on_step from torchmetrics/image
  CHANGELOG.md
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
  torchmetrics/image/lpip.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/image/uqi.py
Labels: 0:] Ready-To-Go, refactoring

#982 minor code cleaning
  .github/assistant.py
  docs/source/conf.py
  tests/audio/test_sdr.py
  tests/detection/test_map.py
  torchmetrics/functional/classification/auroc.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/functional/text/squad.py
  torchmetrics/image/ssim.py
  torchmetrics/metric.py
  torchmetrics/text/rouge.py
Labels: enhancement, 0:] Ready-To-Go

#985 Fix the use of logits in calibration error
  CHANGELOG.md
  tests/classification/test_calibration_error.py
  torchmetrics/functional/classification/calibration_error.py
Labels: bug / fix, enhancement, 0:] Ready-To-Go

#991 Remove `compute_on_step` from wrappers
  CHANGELOG.md
  torchmetrics/wrappers/bootstrapping.py
  torchmetrics/wrappers/minmax.py
Labels: 0:] Ready-To-Go, refactoring

#997 Update conf.py with lightning extension
  docs/source/conf.py
Labels: 0:] Ready-To-Go

#993 remove compute_on_step in torchmetrics/retrieval
  CHANGELOG.md
  torchmetrics/retrieval/average_precision.py
  torchmetrics/retrieval/base.py
  torchmetrics/retrieval/fall_out.py
  torchmetrics/retrieval/hit_rate.py
  torchmetrics/retrieval/ndcg.py
  torchmetrics/retrieval/precision.py
  torchmetrics/retrieval/r_precision.py
  torchmetrics/retrieval/recall.py
  torchmetrics/retrieval/reciprocal_rank.py
Labels: 0:] Ready-To-Go, refactoring

#951 Metric retrieval recall at precision
  CHANGELOG.md
  docs/source/retrieval/precision_recall_curve.rst
  tests/retrieval/test_precision_recall_curve.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/retrieval/__init__.py
  torchmetrics/functional/retrieval/precision_recall_curve.py
  torchmetrics/retrieval/__init__.py
  torchmetrics/retrieval/precision_recall_curve.py
Labels: New metric, 0:] Ready-To-Go

#996 cleaning long torch imports
  tests/bases/test_metric.py
  tests/detection/test_map.py
  tests/helpers/testers.py
  tests/image/test_fid.py
  tests/image/test_inception.py
  tests/image/test_kid.py
  tests/text/test_bertscore.py
  tests/wrappers/test_minmax.py
  tests/wrappers/test_multioutput.py
  tm_examples/bert_score-own_model.py
  tm_examples/detection_map.py
  torchmetrics/collections.py
  torchmetrics/functional/audio/pit.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/image/gradients.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/text/bert.py
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
  torchmetrics/image/lpip.py
  torchmetrics/text/bert.py
  torchmetrics/utilities/data.py
  torchmetrics/wrappers/bootstrapping.py
  torchmetrics/wrappers/multioutput.py
  torchmetrics/wrappers/tracker.py
Labels: 0:] Ready-To-Go, refactoring

#998 Fix pearson aggregation
  CHANGELOG.md
  tests/regression/test_pearson.py
  torchmetrics/regression/pearson.py
Labels: bug / fix, 0:] Ready-To-Go
