Repository Lightning-AI/torchmetrics, pull requests merged in 2022-08, with the labels that each got.

#1171 Fix integration tests for lightning 1.7
  tests/integrations/test_lightning.py
Labels: test / CI

#1178 CI: Update Windows from 2019 to 2022
  .github/workflows/ci_install-pkg.yml
  .github/workflows/ci_integrate.yml
  .github/workflows/ci_test-full.yml
Labels: test / CI

#1181 Fix typos in Advanced metric settings docs
  docs/source/pages/overview.rst
Labels: documentation, 0:] Ready-To-Go

#1167 [Refactor] Classification 7/n
  docs/source/classification/coverage_error.rst
  docs/source/classification/label_ranking_average_precision.rst
  docs/source/classification/label_ranking_loss.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/ranking.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/classification/test_ranking.py
Labels: enhancement, Priority, 0:] Ready-To-Go, refactoring

#1175 Refactor/classification 8
  .github/workflows/ci_test-conda.yml
  docs/source/classification/calibration_error.rst
  docs/source/classification/hinge_loss.rst
  requirements/classification_test.txt
  requirements/devel.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/hinge.py
  tests/unittests/classification/inputs.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_hinge.py
Labels: enhancement, 0:] Ready-To-Go, refactoring

#1193 Fix typos in precision recall curve docs
  src/torchmetrics/functional/classification/precision_recall_curve.py
Labels: documentation

#1191 Typo in tweedie deviance
  src/torchmetrics/functional/regression/tweedie_deviance.py
  src/torchmetrics/regression/tweedie_deviance.py
Labels: documentation, 0:] Ready-To-Go
