Repository Lightning-AI/torchmetrics, pull requests merged in 2022-01, with the labels that each got.

#696 Unify the input order for text (NLG) metrics - BLEU, SacreBLEU, TER, CHRF
  CHANGELOG.md
  tests/text/test_bleu.py
  tests/text/test_chrf.py
  tests/text/test_sacre_bleu.py
  tests/text/test_ter.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/functional/text/chrf.py
  torchmetrics/functional/text/sacre_bleu.py
  torchmetrics/functional/text/ter.py
  torchmetrics/text/bleu.py
  torchmetrics/text/chrf.py
  torchmetrics/text/sacre_bleu.py
  torchmetrics/text/ter.py
Labels: enhancement, 0:] Ready-To-Go, API / design

#702 fixing documentation for calibration error
  .github/workflows/docs-check.yml
  .readthedocs.yml
  torchmetrics/classification/calibration_error.py
  torchmetrics/functional/classification/calibration_error.py
Labels: documentation, 0:] Ready-To-Go

#707 Fix Collection kwargs filtering
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/metric.py
Labels: bug / fix, 0:] Ready-To-Go

#706 Updated docs in PrecisionRecallCurve and AveragePrecision
  torchmetrics/classification/avg_precision.py
  torchmetrics/classification/precision_recall_curve.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#717 Removed input_order from text unit tests
  tests/text/helpers.py
  tests/text/test_bleu.py
  tests/text/test_cer.py
  tests/text/test_chrf.py
  tests/text/test_mer.py
  tests/text/test_rouge.py
  tests/text/test_sacre_bleu.py
  tests/text/test_ter.py
  tests/text/test_wer.py
  tests/text/test_wil.py
  tests/text/test_wip.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#710 rename CorrCoef
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/classification/test_matthews_corrcoef.py
  tests/regression/test_pearson.py
  tests/regression/test_spearman.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/spearman.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#713 refactor: ter
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/text/test_ter.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/ter.py
  torchmetrics/text/__init__.py
  torchmetrics/text/ter.py
Labels: 0:] Ready-To-Go, refactoring

#714 refactor: wer
  CHANGELOG.md
  tests/text/test_wer.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/wer.py
  torchmetrics/text/__init__.py
  torchmetrics/text/wer.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#721 Expand Metrics API reference section in docs
  docs/source/_templates/layout.html
Labels: documentation, 0:] Ready-To-Go

#725 Solve pesq test failures
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
Labels: bug / fix, test / CI

#724 CI: use concurrency
  .github/workflows/ci_docker.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
Labels: test / CI, 0:] Ready-To-Go

#711 Refactor: SDR & SI_SDR
  CHANGELOG.md
  README.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/audio/test_pit.py
  tests/audio/test_sdr.py
  tests/audio/test_si_sdr.py
  torchmetrics/__init__.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/sdr.py
  torchmetrics/audio/si_sdr.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/pit.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/audio/si_sdr.py
  torchmetrics/functional/audio/si_snr.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#712 Refactor: SNR & SI_SNR
  CHANGELOG.md
  README.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/audio/test_si_snr.py
  tests/audio/test_snr.py
  torchmetrics/__init__.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/si_snr.py
  torchmetrics/functional/audio/snr.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#728 Fix metrics documentation
  docs/source/references/functional.rst
  docs/source/references/modules.rst
Labels: documentation, 0:] Ready-To-Go

#731 unify f1 score
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_f_beta.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/f_beta.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/f_beta.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#679 Add `MultiScaleStructuralSimilarityIndexMeasure`
  CHANGELOG.md
  azure-pipelines.yml
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  requirements/test.txt
  tests/image/test_ms_ssim.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/ms_ssim.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/image/__init__.py
  torchmetrics/image/ms_ssim.py
Labels: New metric, 0:] Ready-To-Go

#715 bugfix: change dtype of confmat to int64
  CHANGELOG.md
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/functional/classification/confusion_matrix.py
Labels: bug / fix, 0:] Ready-To-Go

#668 add Extended Edit Distance (EED) metric
  CHANGELOG.md
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/text/inputs.py
  tests/text/test_eed.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/eed.py
  torchmetrics/text/__init__.py
  torchmetrics/text/eed.py
Labels: New metric, 0:] Ready-To-Go

#735 restructure require files
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  Makefile
  azure-pipelines.yml
  requirements/audio_test.txt
  requirements/devel.txt
  requirements/image_test.txt
  requirements/test.txt
  requirements/text_test.txt
  setup.py
Labels: test / CI, 0:] Ready-To-Go, refactoring

#740 Unify r/fbeta/fbeta_score
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/classification/test_f_beta.py
  torchmetrics/__init__.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/f_beta.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/f_beta.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#737 rename `permutation_invariant_training`
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/audio/test_pit.py
  torchmetrics/__init__.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/pit.py
  torchmetrics/audio/sdr.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/pit.py
  torchmetrics/functional/audio/sdr.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#738 Rename of `manhatten` to `manhattan`
  docs/source/references/functional.rst
  tests/pairwise/test_pairwise_distance.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/pairwise/__init__.py
  torchmetrics/functional/pairwise/manhattan.py
  torchmetrics/functional/pairwise/manhatten.py
Labels: refactoring, API / design

#748 simplify regression modules
  tests/regression/test_mean_error.py
  torchmetrics/classification/__init__.py
  torchmetrics/classification/hamming.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/classification/__init__.py
  torchmetrics/functional/classification/hamming.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/functional/regression/log_mse.py
  torchmetrics/functional/regression/mae.py
  torchmetrics/functional/regression/mape.py
  torchmetrics/functional/regression/mse.py
  torchmetrics/functional/regression/symmetric_mape.py
  torchmetrics/regression/__init__.py
  torchmetrics/regression/log_mse.py
  torchmetrics/regression/mae.py
  torchmetrics/regression/mape.py
  torchmetrics/regression/mse.py
  torchmetrics/regression/symmetric_mape.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#732 rename `peak_signal_noise_ratio`
  CHANGELOG.md
  docs/source/pages/overview.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/image/test_psnr.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/psnr.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/image/__init__.py
  torchmetrics/image/psnr.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#747 rename SSIM
  CHANGELOG.md
  docs/source/pages/overview.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/image/test_ms_ssim.py
  tests/image/test_ssim.py
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/image/__init__.py
  torchmetrics/functional/image/ms_ssim.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/regression/__init__.py
  torchmetrics/image/__init__.py
  torchmetrics/image/ssim.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#745 refactor: pyDeprecate
  requirements.txt
  torchmetrics/audio/pit.py
  torchmetrics/audio/sdr.py
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/iou.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/functional/audio/pit.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/audio/si_sdr.py
  torchmetrics/functional/audio/si_snr.py
  torchmetrics/functional/audio/snr.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/hinge.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/functional/image/ms_ssim.py
  torchmetrics/functional/image/psnr.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/pairwise/manhatten.py
  torchmetrics/functional/text/wer.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/spearman.py
  torchmetrics/text/wer.py
Labels: 0:] Ready-To-Go, refactoring

#723 Unify `preds, target` input arguments for `text` metrics [1of2] bert, bleu, chrf, sacre_bleu, wip, wil
  tests/text/test_bertscore.py
  tests/text/test_bleu.py
  tests/text/test_chrf.py
  tests/text/test_wil.py
  tests/text/test_wip.py
  torchmetrics/functional/text/bert.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/functional/text/chrf.py
  torchmetrics/functional/text/sacre_bleu.py
  torchmetrics/functional/text/wil.py
  torchmetrics/functional/text/wip.py
  torchmetrics/text/bert.py
  torchmetrics/text/bleu.py
  torchmetrics/text/chrf.py
  torchmetrics/text/sacre_bleu.py
  torchmetrics/text/wil.py
  torchmetrics/text/wip.py
Labels: enhancement, Important, refactoring, API / design

#727 Unify `preds, target` input arguments for `text` metrics [2of2] cer, ter, wer, mer, rouge, squad
  tests/text/inputs.py
  tests/text/test_cer.py
  tests/text/test_mer.py
  tests/text/test_rouge.py
  tests/text/test_squad.py
  tests/text/test_ter.py
  tests/text/test_wer.py
  torchmetrics/functional/text/cer.py
  torchmetrics/functional/text/mer.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/functional/text/squad.py
  torchmetrics/functional/text/ter.py
  torchmetrics/functional/text/wer.py
  torchmetrics/text/cer.py
  torchmetrics/text/mer.py
  torchmetrics/text/rouge.py
  torchmetrics/text/squad.py
  torchmetrics/text/ter.py
  torchmetrics/text/wer.py
Labels: Important, 0:] Ready-To-Go, refactoring, API / design

#749 Changing default stream in deprecation warnings to FutureWarning
  torchmetrics/audio/pit.py
  torchmetrics/audio/sdr.py
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/classification/f_beta.py
  torchmetrics/classification/hinge.py
  torchmetrics/classification/iou.py
  torchmetrics/classification/matthews_corrcoef.py
  torchmetrics/functional/audio/pit.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/audio/si_sdr.py
  torchmetrics/functional/audio/si_snr.py
  torchmetrics/functional/audio/snr.py
  torchmetrics/functional/classification/f_beta.py
  torchmetrics/functional/classification/hinge.py
  torchmetrics/functional/classification/iou.py
  torchmetrics/functional/image/ms_ssim.py
  torchmetrics/functional/image/psnr.py
  torchmetrics/functional/image/ssim.py
  torchmetrics/functional/pairwise/manhatten.py
  torchmetrics/functional/text/bert.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/functional/text/cer.py
  torchmetrics/functional/text/sacre_bleu.py
  torchmetrics/functional/text/wer.py
  torchmetrics/image/psnr.py
  torchmetrics/image/ssim.py
  torchmetrics/regression/pearson.py
  torchmetrics/regression/spearman.py
  torchmetrics/text/bert.py
  torchmetrics/text/bleu.py
  torchmetrics/text/cer.py
  torchmetrics/text/sacre_bleu.py
  torchmetrics/text/wer.py
  torchmetrics/utilities/__init__.py
  torchmetrics/utilities/prints.py
Labels: enhancement

#750 collections for PL back-compatibility
  .github/workflows/docs-check.yml
  CHANGELOG.md
  tests/bases/test_collections.py
  torchmetrics/__init__.py
  torchmetrics/collections.py
  torchmetrics/metric.py
  torchmetrics/utilities/imports.py
Labels: bug / fix, refactoring, API / design

#751 rename PESQ
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/audio/test_pesq.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/pesq.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/pesq.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#753 rename STOI
  .github/workflows/docs-check.yml
  CHANGELOG.md
  docs/source/references/modules.rst
  tests/audio/test_stoi.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/stoi.py
  torchmetrics/functional/audio/stoi.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#752 rename some Image metrics
  CHANGELOG.md
  README.md
  docs/source/references/modules.rst
  tests/image/test_fid.py
  tests/image/test_inception.py
  tests/image/test_kid.py
  tests/image/test_lpips.py
  torchmetrics/image/__init__.py
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
  torchmetrics/image/lpip.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#754 rename MeanAveragePrecision
  CHANGELOG.md
  docs/source/references/modules.rst
  requirements/detection.txt
  requirements/devel.txt
  tests/detection/test_map.py
  torchmetrics/detection/__init__.py
  torchmetrics/detection/map.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#755 unify retrieval names
  tests/retrieval/test_fallout.py
  tests/retrieval/test_hit_rate.py
  tests/retrieval/test_map.py
  tests/retrieval/test_mrr.py
  tests/retrieval/test_ndcg.py
  tests/retrieval/test_precision.py
  tests/retrieval/test_r_precision.py
  tests/retrieval/test_recall.py
  torchmetrics/retrieval/__init__.py
  torchmetrics/retrieval/average_precision.py
  torchmetrics/retrieval/base.py
  torchmetrics/retrieval/fall_out.py
  torchmetrics/retrieval/hit_rate.py
  torchmetrics/retrieval/ndcg.py
  torchmetrics/retrieval/precision.py
  torchmetrics/retrieval/r_precision.py
  torchmetrics/retrieval/recall.py
  torchmetrics/retrieval/reciprocal_rank.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#739 enable more PL integrations
  .github/workflows/ci_test-full.yml
  integrations/test_lightning.py
  requirements/integrate.txt
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/bert.py
  torchmetrics/text/__init__.py
  torchmetrics/text/bert.py
  torchmetrics/utilities/imports.py
Labels: test / CI, 0:] Ready-To-Go

#758 Rename`stoi` functional
  CHANGELOG.md
  docs/source/references/functional.rst
  tests/audio/test_stoi.py
  torchmetrics/audio/stoi.py
  torchmetrics/functional/audio/stoi.py
Labels: 0:] Ready-To-Go, refactoring, API / design

#757 rev domain imports
  torchmetrics/detection/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/image/__init__.py
  torchmetrics/image/kid.py
  torchmetrics/text/__init__.py
Labels: bug / fix, API / design

#760 Fix BERTScore default values + peculiar module behaviour
  torchmetrics/functional/text/bert.py
  torchmetrics/text/bert.py
Labels: bug / fix, 0:] Ready-To-Go

#762 Update TM examples
  tm_examples/bert_score-own_model.py
  tm_examples/detection_map.py
Labels: documentation, 0:] Ready-To-Go

#759 conditional skip Doctests
  .github/workflows/ci_test-base.yml
  requirements/test.txt
  setup.cfg
  torchmetrics/audio/pesq.py
  torchmetrics/audio/sdr.py
  torchmetrics/audio/stoi.py
  torchmetrics/classification/binned_precision_recall.py
  torchmetrics/classification/confusion_matrix.py
  torchmetrics/classification/precision_recall_curve.py
  torchmetrics/classification/roc.py
  torchmetrics/detection/map.py
  torchmetrics/functional/audio/pesq.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/audio/stoi.py
  torchmetrics/functional/classification/confusion_matrix.py
  torchmetrics/functional/classification/precision_recall_curve.py
  torchmetrics/functional/classification/roc.py
  torchmetrics/functional/text/bert.py
  torchmetrics/functional/text/rouge.py
  torchmetrics/image/fid.py
  torchmetrics/image/inception.py
  torchmetrics/image/kid.py
  torchmetrics/image/lpip.py
  torchmetrics/setup_tools.py
  torchmetrics/text/bert.py
  torchmetrics/text/rouge.py
  torchmetrics/wrappers/tracker.py
Labels: test / CI, 0:] Ready-To-Go, refactoring

#763 CI: run examples
  azure-pipelines.yml
  tm_examples/bert_score-own_model.py
Labels: test / CI, 0:] Ready-To-Go

#765 STOI: rename Term -> Time
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/audio/test_stoi.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/stoi.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/stoi.py
Labels: refactoring, API / design

#777 Highlight the BibTeX entry in README
  README.md
Labels: documentation, 0:] Ready-To-Go

#772 fix check for available modules
  CHANGELOG.md
  torchmetrics/utilities/imports.py
Labels: bug / fix, Priority, 0:] Ready-To-Go

#778 Fix typo in lightning docs example
  docs/source/pages/lightning.rst
Labels: documentation, 0:] Ready-To-Go

#764 CI: dynamic testing
  .github/assistant.py
  .github/prune-packages.py
  .github/set-oldest-versions.py
  .github/workflows/ci_integrate.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  requirements/adjust-versions.py
  requirements/test.txt
Labels: enhancement, test / CI

#773 Remove deprecated functions, and warnings - Text
  docs/source/links.rst
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  torchmetrics/__init__.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/text/__init__.py
  torchmetrics/functional/text/bert.py
  torchmetrics/functional/text/bleu.py
  torchmetrics/functional/text/cer.py
  torchmetrics/functional/text/sacre_bleu.py
  torchmetrics/functional/text/wer.py
  torchmetrics/text/__init__.py
  torchmetrics/text/bert.py
  torchmetrics/text/bleu.py
  torchmetrics/text/cer.py
  torchmetrics/text/sacre_bleu.py
  torchmetrics/text/wer.py
Labels: enhancement, 0:] Ready-To-Go

#781 Fix Matthews correlation coefficient when the denominator is 0
  CHANGELOG.md
  tests/classification/test_matthews_corrcoef.py
  torchmetrics/functional/classification/matthews_corrcoef.py
Labels: bug / fix, 0:] Ready-To-Go

#783 some typo fixes in quickstart doc
  docs/source/pages/quickstart.rst
Labels: documentation, 0:] Ready-To-Go

#718 Support for collection in Tracker
  CHANGELOG.md
  tests/wrappers/test_tracker.py
  torchmetrics/wrappers/tracker.py
Labels: enhancement, 0:] Ready-To-Go

#769 Improve calibration error speed by replacing `for` loop
  CHANGELOG.md
  torchmetrics/functional/classification/calibration_error.py
Labels: enhancement, 0:] Ready-To-Go

#790 update install notes
  README.md
  docs/source/pages/quickstart.rst
Labels: documentation, enhancement, 0:] Ready-To-Go

#795 Documentation Improvement
  docs/source/pages/lightning.rst
Labels: documentation, 0:] Ready-To-Go

#785 Clarify docs on reset method
  docs/source/pages/implement.rst
Labels: documentation, 0:] Ready-To-Go

#801 CI: install dir
  .github/workflows/ci_install-pkg.yml
Labels: test / CI

#804 Prune deprecated: detection and pairwise
  CHANGELOG.md
  torchmetrics/detection/map.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/pairwise/__init__.py
  torchmetrics/functional/pairwise/manhatten.py
Labels: enhancement, 0:] Ready-To-Go

#805 Prune deprecated: audio
  CHANGELOG.md
  docs/source/references/functional.rst
  docs/source/references/modules.rst
  tests/audio/test_pit.py
  torchmetrics/__init__.py
  torchmetrics/audio/__init__.py
  torchmetrics/audio/pesq.py
  torchmetrics/audio/pit.py
  torchmetrics/audio/sdr.py
  torchmetrics/audio/si_sdr.py
  torchmetrics/audio/si_snr.py
  torchmetrics/audio/snr.py
  torchmetrics/audio/stoi.py
  torchmetrics/functional/__init__.py
  torchmetrics/functional/audio/__init__.py
  torchmetrics/functional/audio/pesq.py
  torchmetrics/functional/audio/pit.py
  torchmetrics/functional/audio/sdr.py
  torchmetrics/functional/audio/si_sdr.py
  torchmetrics/functional/audio/si_snr.py
  torchmetrics/functional/audio/snr.py
  torchmetrics/functional/audio/stoi.py
Labels: enhancement, 0:] Ready-To-Go

#817 update paper affiliations
  docs/paper_JOSS/paper.md
Labels: documentation, 0:] Ready-To-Go

#810 Adjustment for Python 3.10
  docs/source/pages/quickstart.rst
  setup.py
Labels: documentation, Priority

#742 Improve mAP performance
  CHANGELOG.md
  tests/detection/test_map.py
  torchmetrics/detection/map.py
Labels: enhancement, 0:] Ready-To-Go
