Repository Lightning-AI/torchmetrics, pull requests merged in 2023-08, with the labels that each got.

#1955 Fix AttributeError: module 'matplotlib' has no attribute 'axes'
  src/torchmetrics/utilities/plot.py
Labels: 0:] Ready-To-Go

#1965 docs: remove empty `(,,,)` from plots docstrings
  docs/source/conf.py
Labels: documentation, 0:] Ready-To-Go

#1956 revert sphinx to `5.3` to recover icon with anchor links
  docs/source/conf.py
  requirements/docs.txt
Labels: bug / fix, documentation, 0:] Ready-To-Go

#1958 building docs with py3.9
  .github/workflows/docs-build.yml
  .readthedocs.yml
Labels: documentation, test / CI, 0:] Ready-To-Go

#1948 Fix missing AUC score when plotting
  CHANGELOG.md
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/roc.py
Labels: bug / fix, documentation, 0:] Ready-To-Go

#1964 docs: revert links in gallery & adjust img/icon path
  docs/source/all-metrics.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pages/all-metrics.rst
  requirements/docs.txt
Labels: bug / fix, documentation, 0:] Ready-To-Go

#1961 Feature/mrr k
  CHANGELOG.md
  src/torchmetrics/functional/retrieval/reciprocal_rank.py
  src/torchmetrics/retrieval/average_precision.py
  src/torchmetrics/retrieval/fall_out.py
  src/torchmetrics/retrieval/hit_rate.py
  src/torchmetrics/retrieval/ndcg.py
  src/torchmetrics/retrieval/precision.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/retrieval/r_precision.py
  src/torchmetrics/retrieval/recall.py
  src/torchmetrics/retrieval/reciprocal_rank.py
  tests/unittests/retrieval/test_mrr.py
Labels: enhancement, 0:] Ready-To-Go

#1973 docs: fix math render with legacy sphinx 5.3
  docs/source/conf.py
  requirements/docs.txt
Labels: bug / fix, documentation

#1980 Fix external linking in docs
  docs/source/classification/accuracy.rst
  docs/source/classification/average_precision.rst
  docs/source/classification/exact_match.rst
  docs/source/classification/f1_score.rst
  docs/source/classification/hamming_distance.rst
  docs/source/classification/hinge_loss.rst
  docs/source/classification/jaccard_index.rst
  docs/source/classification/label_ranking_average_precision.rst
  docs/source/classification/label_ranking_loss.rst
  docs/source/classification/precision_at_fixed_recall.rst
  docs/source/classification/precision_recall_curve.rst
  docs/source/classification/recall.rst
  docs/source/classification/recall_at_fixed_precision.rst
  docs/source/classification/roc.rst
  docs/source/classification/specificity.rst
  docs/source/classification/specificity_at_sensitivity.rst
  docs/source/detection/complete_intersection_over_union.rst
  docs/source/detection/distance_intersection_over_union.rst
  docs/source/detection/generalized_intersection_over_union.rst
  docs/source/detection/intersection_over_union.rst
  docs/source/detection/modified_panoptic_quality.rst
  docs/source/detection/panoptic_quality.rst
  docs/source/image/learned_perceptual_image_patch_similarity.rst
  docs/source/image/spectral_angle_mapper.rst
  docs/source/multimodal/clip_score.rst
  docs/source/nominal/cramers_v.rst
  docs/source/nominal/fleiss_kappa.rst
  docs/source/nominal/pearsons_contingency_coefficient.rst
  docs/source/nominal/theils_u.rst
  docs/source/nominal/tschuprows_t.rst
  docs/source/pairwise/cosine_similarity.rst
  docs/source/pairwise/euclidean_distance.rst
  docs/source/pairwise/linear_similarity.rst
  docs/source/pairwise/manhattan_distance.rst
  docs/source/pairwise/minkowski_distance.rst
  docs/source/regression/cosine_similarity.rst
  docs/source/regression/explained_variance.rst
  docs/source/regression/kl_divergence.rst
  docs/source/regression/tweedie_deviance_score.rst
  docs/source/retrieval/hit_rate.rst
Labels: documentation, 0:] Ready-To-Go

#1978 Warning on many detections in `MeanAveragePrecision`
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: enhancement, 0:] Ready-To-Go

#1979 Update docs related to nominal docs
  src/torchmetrics/nominal/cramers.py
  src/torchmetrics/nominal/pearson.py
  src/torchmetrics/nominal/theils_u.py
  src/torchmetrics/nominal/tschuprows.py
Labels: documentation, 0:] Ready-To-Go

#1982 iou compute in cuda fix
  CHANGELOG.md
  src/torchmetrics/functional/detection/iou.py
Labels: bug / fix

#1976 Fix axes in confusion matrix
  CHANGELOG.md
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/utilities/plot.py
Labels: bug / fix, documentation, 0:] Ready-To-Go

#1984 Fix small mistakes in docs
  docs/source/links.rst
  src/torchmetrics/aggregation.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/ciou.py
  src/torchmetrics/detection/diou.py
  src/torchmetrics/detection/giou.py
  src/torchmetrics/detection/panoptic_qualities.py
  src/torchmetrics/functional/audio/snr.py
  src/torchmetrics/functional/detection/ciou.py
  src/torchmetrics/functional/detection/diou.py
  src/torchmetrics/functional/detection/giou.py
  src/torchmetrics/functional/detection/panoptic_qualities.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/regression/minkowski.py
Labels: documentation, 0:] Ready-To-Go

#1977 Fix support for `int` input for samplewise classification
  CHANGELOG.md
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_stat_scores.py
Labels: bug / fix, 0:] Ready-To-Go

#1937 Feature: multioutput mse
  CHANGELOG.md
  src/torchmetrics/functional/regression/mse.py
  src/torchmetrics/functional/regression/utils.py
  src/torchmetrics/regression/mse.py
  tests/unittests/regression/test_mean_error.py
Labels: enhancement, 0:] Ready-To-Go

#1981 Fix example in README file
  README.md
Labels: bug / fix, 0:] Ready-To-Go

#1986 docs: fix typo in SSIM
  src/torchmetrics/image/ssim.py
Labels: documentation

#1983 Add option for extended summary in `MeanAveragePrecision`
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: enhancement, 0:] Ready-To-Go

#1928 `MeanAveragePrecision` box and segm at same time
  CHANGELOG.md
  src/torchmetrics/detection/helpers.py
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: enhancement, 0:] Ready-To-Go

#1939 New metric: Perceptual Path Length
  CHANGELOG.md
  docs/source/image/learned_perceptual_image_patch_similarity.rst
  docs/source/image/perceptual_path_length.rst
  docs/source/links.rst
  requirements/image.txt
  requirements/image_test.txt
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/functional/image/perceptual_path_length.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/perceptual_path_length.py
  tests/unittests/image/test_perceptual_path_length.py
Labels: New metric, 0:] Ready-To-Go

#1992 enable pygrep-hooks with precommit
  .pre-commit-config.yaml
  src/torchmetrics/metric.py
Labels: enhancement, 0:] Ready-To-Go

#2001 Warning for CLIP Score on long captions
  CHANGELOG.md
  src/torchmetrics/functional/multimodal/clip_score.py
  tests/unittests/multimodal/test_clip_score.py
Labels: enhancement, 0:] Ready-To-Go

#1931 New metric: CLIP IQA
  CHANGELOG.md
  docs/source/links.rst
  docs/source/multimodal/clip_iqa.rst
  requirements/multimodal.txt
  src/torchmetrics/functional/multimodal/__init__.py
  src/torchmetrics/functional/multimodal/clip_iqa.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/multimodal/__init__.py
  src/torchmetrics/multimodal/clip_iqa.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/__init__.py
  tests/unittests/multimodal/test_clip_iqa.py
Labels: New metric, 0:] Ready-To-Go

#2007 refactor usage of manual seed
  examples/plotting.py
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/functional/image/ergas.py
  src/torchmetrics/functional/image/sam.py
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/text/_deprecated.py
  src/torchmetrics/functional/text/perplexity.py
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/text/_deprecated.py
  src/torchmetrics/text/perplexity.py
Labels: 0:] Ready-To-Go, refactoring

#2006 Docs on memory management
  CHANGELOG.md
  docs/source/pages/overview.rst
  src/torchmetrics/metric.py
  tests/unittests/bases/test_metric.py
Labels: documentation, enhancement, 0:] Ready-To-Go

#2017 Fix support for pixelwise MSE
  CHANGELOG.md
  src/torchmetrics/functional/regression/mse.py
Labels: 0:] Ready-To-Go

#2019 Fix single update in pearson corrcoef
  CHANGELOG.md
  src/torchmetrics/functional/regression/pearson.py
  tests/unittests/regression/test_pearson.py
Labels: bug / fix, 0:] Ready-To-Go

#2021 docs: update logos
  docs/source/_static/images/logo.png
  docs/source/_static/images/logo.svg
Labels: documentation

#2008 Mutual Information Score
  CHANGELOG.md
  docs/source/clustering/mutual_info_score.rst
  docs/source/index.rst
  docs/source/links.rst
  src/torchmetrics/clustering/__init__.py
  src/torchmetrics/clustering/mutual_info_score.py
  src/torchmetrics/functional/clustering/__init__.py
  src/torchmetrics/functional/clustering/mutual_info_score.py
  src/torchmetrics/functional/clustering/utils.py
  tests/unittests/clustering/__init__.py
  tests/unittests/clustering/test_mutual_info_score.py
  tests/unittests/clustering/test_utils.py
Labels: enhancement, New metric, 0:] Ready-To-Go

#2023 drop packaging
  requirements.txt
Labels: 0:] Ready-To-Go

#2024 adding labeling per topic
  .github/labeler.yml
Labels: 0:] Ready-To-Go

#2028 Fix missing attributes in some metric
  CHANGELOG.md
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/clustering/mutual_info_score.py
  src/torchmetrics/detection/ciou.py
  src/torchmetrics/detection/diou.py
  src/torchmetrics/detection/giou.py
  src/torchmetrics/image/perceptual_path_length.py
  src/torchmetrics/regression/concordance.py
  src/torchmetrics/regression/pearson.py
Labels: bug / fix, 0:] Ready-To-Go

#1924 Fix classwise computation in IoU metric
  CHANGELOG.md
  Makefile
  src/torchmetrics/detection/ciou.py
  src/torchmetrics/detection/diou.py
  src/torchmetrics/detection/giou.py
  src/torchmetrics/detection/helpers.py
  src/torchmetrics/detection/iou.py
  src/torchmetrics/functional/detection/ciou.py
  src/torchmetrics/functional/detection/diou.py
  src/torchmetrics/functional/detection/giou.py
  src/torchmetrics/functional/detection/iou.py
  tests/unittests/detection/base_iou_test.py
  tests/unittests/detection/test_ciou.py
  tests/unittests/detection/test_diou.py
  tests/unittests/detection/test_giou.py
  tests/unittests/detection/test_intersection.py
  tests/unittests/detection/test_iou.py
Labels: bug / fix, 0:] Ready-To-Go, refactoring

#2027 Fix `MetricCollection` when input are metrics that return dicts with same keywords
  CHANGELOG.md
  src/torchmetrics/collections.py
  src/torchmetrics/utilities/data.py
  tests/unittests/bases/test_collections.py
  tests/unittests/utilities/test_utilities.py
Labels: bug / fix, 0:] Ready-To-Go

#2033 ci: fuse docs makes & upload archives
  .github/workflows/docs-build.yml
Labels: documentation, test / CI, 0:] Ready-To-Go

#2037 docs: Fix Mutual Info Score Equation Typo
  src/torchmetrics/clustering/mutual_info_score.py
Labels: 0:] Ready-To-Go
