Repository Lightning-AI/torchmetrics, pull requests merged in 2023-04, with the labels that each got.

#1448 Improve error messages for `Accuracy` interfaces
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/functional/classification/accuracy.py
  tests/unittests/classification/test_accuracy.py
Labels: 0:] Ready-To-Go

#1640 Drop python 3.7 support
  .azure/gpu-pipeline.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests-full.yml
  CHANGELOG.md
  requirements.txt
  requirements/adjust-versions.py
  requirements/classification_test.txt
  requirements/test.txt
  setup.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/nominal/test_cramers.py
  tests/unittests/nominal/test_pearson.py
  tests/unittests/nominal/test_theils_u.py
  tests/unittests/nominal/test_tschuprows.py
Labels: 0:] Ready-To-Go

#1681 Refactor: Imports
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/detection/modified_panoptic_quality.py
  src/torchmetrics/detection/panoptic_quality.py
  src/torchmetrics/image/d_lambda.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/rase.py
  src/torchmetrics/image/rmse_sw.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/image/tv.py
  src/torchmetrics/image/uqi.py
  src/torchmetrics/nominal/cramers.py
  src/torchmetrics/nominal/pearson.py
  src/torchmetrics/nominal/theils_u.py
  src/torchmetrics/nominal/tschuprows.py
  src/torchmetrics/retrieval/average_precision.py
  src/torchmetrics/retrieval/fall_out.py
  src/torchmetrics/retrieval/hit_rate.py
  src/torchmetrics/retrieval/ndcg.py
  src/torchmetrics/retrieval/precision.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/retrieval/r_precision.py
  src/torchmetrics/retrieval/recall.py
  src/torchmetrics/retrieval/reciprocal_rank.py
  src/torchmetrics/text/bleu.py
  src/torchmetrics/text/cer.py
  src/torchmetrics/text/chrf.py
  src/torchmetrics/text/eed.py
  src/torchmetrics/text/mer.py
  src/torchmetrics/text/perplexity.py
  src/torchmetrics/text/sacre_bleu.py
  src/torchmetrics/text/squad.py
  src/torchmetrics/text/ter.py
  src/torchmetrics/text/wer.py
  src/torchmetrics/text/wil.py
  src/torchmetrics/text/wip.py
  src/torchmetrics/wrappers/bootstrapping.py
  src/torchmetrics/wrappers/classwise.py
  src/torchmetrics/wrappers/minmax.py
  src/torchmetrics/wrappers/multioutput.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/image/test_rase.py
  tests/unittests/image/test_rmse_sw.py
  tests/unittests/retrieval/test_precision_recall_curve.py
  tests/unittests/wrappers/test_classwise.py
  tests/unittests/wrappers/test_tracker.py
Labels: 0:] Ready-To-Go, refactoring

#1674 Fix padding removal for 3d input in MSSSIM
  CHANGELOG.md
  src/torchmetrics/functional/image/ssim.py
  tests/unittests/image/test_ms_ssim.py
Labels: bug / fix, 0:] Ready-To-Go

#1675 Fix kwarg squeeze in `MultiOutputWrapper`
  CHANGELOG.md
  src/torchmetrics/wrappers/multioutput.py
  tests/unittests/wrappers/test_multioutput.py
Labels: bug / fix, 0:] Ready-To-Go, has conflicts

#1684 Fix the dice metric. Incorrect anotation
  src/torchmetrics/classification/dice.py
Labels: 0:] Ready-To-Go

#1685 imports: deprecate from pkg root [1/n] Audio
  src/torchmetrics/__init__.py
  src/torchmetrics/audio/_deprecated.py
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/audio/_deprecated.py
  src/torchmetrics/utilities/prints.py
  tests/unittests/audio/test_pesq.py
  tests/unittests/audio/test_pit.py
  tests/unittests/audio/test_si_sdr.py
  tests/unittests/audio/test_si_snr.py
  tests/unittests/audio/test_snr.py
  tests/unittests/audio/test_stoi.py
  tests/unittests/deprecations/__init__.py
  tests/unittests/deprecations/root_class_imports.py
Labels: 0:] Ready-To-Go, refactoring

#1690 ci: split GPU testing
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  README.md
  requirements/integrate.txt
Labels: test / CI, 0:] Ready-To-Go

#1696 imports: deprecate from pkg root [3/n] Image
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/_deprecated.py
  tests/unittests/deprecations/root_class_imports.py
Labels: 0:] Ready-To-Go, refactoring

#1699 imports: deprecate from pkg root [4/n] Retrieval
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/retrieval/__init__.py
  src/torchmetrics/functional/retrieval/_deprecated.py
  src/torchmetrics/retrieval/__init__.py
  src/torchmetrics/retrieval/_deprecated.py
  tests/unittests/deprecations/root_class_imports.py
Labels: 0:] Ready-To-Go

#1704 docs: Update docs to state torchmetrics offers 100+ metrics
  README.md
  docs/source/index.rst
  docs/source/pages/quickstart.rst
  src/torchmetrics/__about__.py
Labels: documentation, 0:] Ready-To-Go

#1703 imports: deprecate from pkg root [5/n] Text
  CHANGELOG.md
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/text/__init__.py
  src/torchmetrics/functional/text/_deprecated.py
  src/torchmetrics/functional/text/mer.py
  src/torchmetrics/functional/text/wil.py
  src/torchmetrics/functional/text/wip.py
  src/torchmetrics/text/__init__.py
  src/torchmetrics/text/_deprecated.py
  tests/unittests/deprecations/root_class_imports.py
Labels: 0:] Ready-To-Go, refactoring

#1697 import group in init
  src/torchmetrics/__init__.py
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/multimodal/__init__.py
  src/torchmetrics/functional/nominal/__init__.py
  src/torchmetrics/functional/pairwise/__init__.py
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/multimodal/__init__.py
  src/torchmetrics/nominal/__init__.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/utilities/__init__.py
  src/torchmetrics/wrappers/__init__.py
Labels: 0:] Ready-To-Go, refactoring

#1709 Clarify input in `Perplexity`
  src/torchmetrics/functional/text/perplexity.py
  src/torchmetrics/text/perplexity.py
Labels: documentation, 0:] Ready-To-Go

#1710 fix missing imports
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
Labels: 0:] Ready-To-Go, refactoring

#1683 New metric: Precision at fixed recall
  CHANGELOG.md
  docs/source/classification/precision_at_fixed_recall.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/precision_fixed_recall.py
  src/torchmetrics/classification/recall_fixed_precision.py
  src/torchmetrics/classification/specificity_sensitivity.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/precision_fixed_recall.py
  src/torchmetrics/functional/classification/recall_fixed_precision.py
  src/torchmetrics/functional/classification/specificity_sensitivity.py
  tests/unittests/classification/test_precision_fixed_recall.py
  tests/unittests/classification/test_recall_fixed_precision.py
  tests/unittests/classification/test_specificity_sensitivity.py
Labels: enhancement, New metric, 0:] Ready-To-Go

#1682 Add plotting n/n
  CHANGELOG.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pages/plotting.rst
  docs/source/pyplots/binary_accuracy.py
  docs/source/pyplots/binary_accuracy_multistep.py
  docs/source/pyplots/collection_binary.py
  docs/source/pyplots/collection_binary_together.py
  docs/source/pyplots/confusion_matrix.py
  docs/source/pyplots/multiclass_accuracy.py
  docs/source/pyplots/tracker_binary.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/collections.py
  src/torchmetrics/utilities/plot.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, enhancement, 0:] Ready-To-Go

#1718 CI: lower audio test size
  .codecov.yml
  tests/unittests/audio/test_sdr.py
  tests/unittests/audio/test_snr.py
Labels: Priority, test / CI

#1711 replace assets with exceptions
  pyproject.toml
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_fixed_recall.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/recall_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/specificity_sensitivity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/auroc.py
  src/torchmetrics/functional/classification/average_precision.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/cohen_kappa.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/exact_match.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/hinge.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  src/torchmetrics/functional/classification/precision_fixed_recall.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/recall_fixed_precision.py
  src/torchmetrics/functional/classification/roc.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/specificity_sensitivity.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/image/rmse_sw.py
Labels: refactoring

#1712 fix `max_det_threshold` in MAP
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
Labels: 0:] Ready-To-Go

#1421 Adding psnrb
  CHANGELOG.md
  docs/source/image/peak_signal_to_noise_with_block.rst
  docs/source/links.rst
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/psnrb.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/psnrb.py
  tests/unittests/image/test_psnrb.py
Labels: New metric, 0:] Ready-To-Go

#1575 Future proof LPIPs metric
  CHANGELOG.md
  MANIFEST.in
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/functional/image/lpips_models/alex.pth
  src/torchmetrics/functional/image/lpips_models/squeeze.pth
  src/torchmetrics/functional/image/lpips_models/vgg.pth
  src/torchmetrics/image/lpip.py
  src/torchmetrics/utilities/imports.py
Labels: bug / fix, 0:] Ready-To-Go, refactoring

#1284 Detection IoU
  .devcontainer/devcontainer.json
  CHANGELOG.md
  docs/source/detection/complete_intersection_over_union.rst
  docs/source/detection/distance_intersection_over_union.rst
  docs/source/detection/generalized_intersection_over_union.rst
  docs/source/detection/intersection_over_union.rst
  src/torchmetrics/detection/__init__.py
  src/torchmetrics/detection/ciou.py
  src/torchmetrics/detection/diou.py
  src/torchmetrics/detection/giou.py
  src/torchmetrics/detection/helpers.py
  src/torchmetrics/detection/iou.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/detection/__init__.py
  src/torchmetrics/functional/detection/ciou.py
  src/torchmetrics/functional/detection/diou.py
  src/torchmetrics/functional/detection/giou.py
  src/torchmetrics/functional/detection/iou.py
  tests/unittests/detection/base_iou_test.py
  tests/unittests/detection/test_ciou.py
  tests/unittests/detection/test_diou.py
  tests/unittests/detection/test_giou.py
  tests/unittests/detection/test_iou.py
  tests/unittests/detection/test_map.py
  tests/unittests/helpers/testers.py
Labels: New metric, 0:] Ready-To-Go

#1165 Refactor BERTScore tests
  .azure/gpu-unittests.yml
  src/torchmetrics/functional/text/_deprecated.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/utilities/checks.py
  tests/unittests/text/helpers.py
  tests/unittests/text/test_bertscore.py
Labels: test / CI, 0:] Ready-To-Go, refactoring

#1730 ci: patch installing tests & pypesq
  .azure/gpu-unittests.yml
  .gitignore
  requirements.txt
  requirements/audio_test.txt
  requirements/test.txt
Labels: Priority, test / CI, 0:] Ready-To-Go

#1726 added missing space in error message
  src/torchmetrics/functional/classification/stat_scores.py
Labels: documentation, 0:] Ready-To-Go

#1729 Improve calculations in Pearson
  CHANGELOG.md
  src/torchmetrics/functional/regression/pearson.py
Labels: bug / fix, 0:] Ready-To-Go

#1731 Fix type hints for auroc and average precision
  pyproject.toml
  src/torchmetrics/functional/classification/auroc.py
  src/torchmetrics/functional/classification/average_precision.py
Labels: bug / fix, 0:] Ready-To-Go

#1736 add contributors section
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/assistant.py
  CITATION.cff
  README.md
  docs/paper_JOSS/paper.md
  docs/source/_templates/theme_variables.jinja
  docs/source/governance.rst
  docs/source/links.rst
  docs/source/pages/implement.rst
  src/torchmetrics/__about__.py
  tests/unittests/detection/test_map.py
Labels: documentation, 0:] Ready-To-Go
