Repository Lightning-AI/torchmetrics, pull requests merged in 2023-12, with the labels that each got.

#2265 Supress warning for running metric wrapper
  CHANGELOG.md
  src/torchmetrics/metric.py
  src/torchmetrics/wrappers/running.py
  tests/unittests/wrappers/test_running.py
Labels: bug / fix, 0:] Ready-To-Go

#2252 Fix support for half precision + cpu in metrics requiring topk operator
  CHANGELOG.md
  src/torchmetrics/utilities/data.py
  tests/unittests/utilities/test_utilities.py
Labels: bug / fix

#2278 CI: Fix flaky test using stable sort
  src/torchmetrics/utilities/data.py
  tests/unittests/utilities/test_utilities.py
Labels: bug / fix, Priority, test / CI, 0:] Ready-To-Go

#2257 Add CriticalSuccessIndex (CSI) metric
  CHANGELOG.md
  docs/source/image/critical_success_index.rst
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/csi.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/csi.py
  tests/unittests/image/test_csi.py
Labels: documentation, New metric, 0:] Ready-To-Go, topic: Image

#2260 Add new matric "spatial distortion index"
  CHANGELOG.md
  docs/source/image/spatial_distortion_index.rst
  docs/source/links.rst
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/d_s.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/d_s.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/test_d_s.py
Labels: documentation, New metric, 0:] Ready-To-Go, topic: Image

#2248 Add Spatial Correlation Coefficient (SCC) metric
  CHANGELOG.md
  docs/source/image/spatial_correlation_coefficient.rst
  docs/source/links.rst
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/scc.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/scc.py
  tests/unittests/image/test_scc.py
Labels: documentation, New metric, 0:] Ready-To-Go, topic: Image

#2277 Add note for expectation of custom feature extrator in `FID` metric
  CHANGELOG.md
  src/torchmetrics/image/fid.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Image

#2251 New metric: Retrieval AUROC
  CHANGELOG.md
  docs/source/retrieval/auroc.rst
  docs/source/retrieval/precision_recall_curve.rst
  src/torchmetrics/functional/retrieval/__init__.py
  src/torchmetrics/functional/retrieval/auroc.py
  src/torchmetrics/retrieval/__init__.py
  src/torchmetrics/retrieval/auroc.py
  tests/unittests/retrieval/test_auroc.py
Labels: documentation, New metric, 0:] Ready-To-Go, topic: Retrieval

#2120 New wrapper `FeatureShare`
  CHANGELOG.md
  docs/source/wrappers/feature_share.rst
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/mifid.py
  src/torchmetrics/image/perceptual_path_length.py
  src/torchmetrics/multimodal/clip_iqa.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/wrappers/__init__.py
  src/torchmetrics/wrappers/feature_share.py
  tests/unittests/wrappers/test_feature_share.py
Labels: documentation, enhancement, 0:] Ready-To-Go, topic: Image, topic: MModal
