Repository Lightning-AI/torchmetrics, pull requests merged in 2023-11, with the labels that each got.

#2183 Switch plotting order for pr curves
  CHANGELOG.md
  src/torchmetrics/classification/precision_recall_curve.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Classif

#2213 Add support for logging `MultiTaskWrapper` in lightning.
  CHANGELOG.md
  src/torchmetrics/wrappers/multitask.py
  tests/integrations/test_lightning.py
Labels: enhancement, 0:] Ready-To-Go

#2210 Skip Kendall for Pytorch 2.0+ on Mac
  src/torchmetrics/utilities/imports.py
  tests/unittests/regression/test_kendall.py
Labels: test / CI, 0:] Ready-To-Go

#2222 Move eps in `UniversalQualityIndex`
  CHANGELOG.md
  src/torchmetrics/functional/image/uqi.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Image

#2236 ci: debugging Azure integrations
  .azure/gpu-integrations.yml
  .github/workflows/docker-build.yml
  dockers/pytorch-cuda/Dockerfile
Labels: bug / fix, Priority

#2239 ci: use rich base image for integrations
  .azure/gpu-integrations.yml
  .github/workflows/docker-build.yml
  dockers/pytorch-cuda/Dockerfile
Labels: test / CI

#2212 Add confidence scores when `extended_summary=True` in `MeanAveragePrecision`
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: enhancement, 0:] Ready-To-Go, topic: Detect

#2234 Fix device and dtype for `LPIPS` functional metric
  CHANGELOG.md
  src/torchmetrics/functional/image/lpips.py
  tests/unittests/image/test_lpips.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Image

#2235 Fix support for half precision in Perplexity metric
  CHANGELOG.md
  src/torchmetrics/functional/text/perplexity.py
  tests/unittests/bases/test_collections.py
  tests/unittests/text/test_perplexity.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Text

#2226 Fix `dim_zero_cat` reduction
  CHANGELOG.md
  src/torchmetrics/metric.py
Labels: bug / fix, 0:] Ready-To-Go

#2230 Fix the dependencies of LPIPS metric
  CHANGELOG.md
  requirements/image.txt
  requirements/image_test.txt
  src/torchmetrics/image/lpip.py
  tests/unittests/image/test_lpips.py
Labels: 0:] Ready-To-Go, topic: Image

#2184 Use arange and repeat for deterministic bincount
  CHANGELOG.md
  src/torchmetrics/utilities/data.py
Labels: enhancement, 0:] Ready-To-Go

#2237 Docs and tests for how to save and load metrics
  docs/source/pages/overview.rst
  tests/unittests/bases/test_saving_loading.py
Labels: documentation, test / CI, 0:] Ready-To-Go

#2211 Fix `MetricCollection` with repeated `compute` calls
  CHANGELOG.md
  src/torchmetrics/collections.py
  tests/unittests/bases/test_collections.py
Labels: bug / fix, 0:] Ready-To-Go

#2241 Add error on wrong shape in `CosineSimilarity` metric
  CHANGELOG.md
  src/torchmetrics/functional/regression/cosine_similarity.py
  src/torchmetrics/regression/cosine_similarity.py
  tests/unittests/regression/test_cosine_similarity.py
  tests/unittests/utilities/test_plot.py
Labels: bug / fix, topic: Regress

#2220 Add `aggregate` argument to retrieval metrics
  CHANGELOG.md
  src/torchmetrics/retrieval/average_precision.py
  src/torchmetrics/retrieval/base.py
  src/torchmetrics/retrieval/fall_out.py
  src/torchmetrics/retrieval/hit_rate.py
  src/torchmetrics/retrieval/ndcg.py
  src/torchmetrics/retrieval/precision.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/retrieval/r_precision.py
  src/torchmetrics/retrieval/recall.py
  src/torchmetrics/retrieval/reciprocal_rank.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/retrieval/test_fallout.py
  tests/unittests/retrieval/test_hit_rate.py
  tests/unittests/retrieval/test_map.py
  tests/unittests/retrieval/test_mrr.py
  tests/unittests/retrieval/test_ndcg.py
  tests/unittests/retrieval/test_precision.py
  tests/unittests/retrieval/test_precision_recall_curve.py
  tests/unittests/retrieval/test_r_precision.py
  tests/unittests/retrieval/test_recall.py
Labels: enhancement, 0:] Ready-To-Go, topic: Retrieval

#2199 fix typo in `specificity_at_sensitivity`
  CHANGELOG.md
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/specificity_sensitivity.py
Labels: 0:] Ready-To-Go, API / design, topic: Classif

#2105 Helper functions for new segmentation domain
  CHANGELOG.md
  requirements/_devel.txt
  requirements/segmentation_test.txt
  src/torchmetrics/functional/segmentation/__init__.py
  src/torchmetrics/functional/segmentation/utils.py
  tests/unittests/segmentation/__init__.py
  tests/unittests/segmentation/test_utils.py
Labels: enhancement, 0:] Ready-To-Go
