Repository Lightning-AI/torchmetrics, pull requests merged in 2023-07, with the labels that each got.

#1580 Add MiFID implementation
  CHANGELOG.md
  docs/source/image/mifid.rst
  docs/source/links.rst
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/mifid.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_mifid.py
  tests/unittests/utilities/test_plot.py
Labels: New metric, 0:] Ready-To-Go

#1832 Revert MAP implementation to `pycocotools` backend
  CHANGELOG.md
  pyproject.toml
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/conftest.py
  tests/unittests/detection/__init__.py
  tests/unittests/detection/test_map.py
  tests/unittests/helpers/testers.py
Labels: bug / fix, enhancement, test / CI, 0:] Ready-To-Go

#1872 SRMR: update note and change default parameters
  CHANGELOG.md
  src/torchmetrics/audio/srmr.py
  src/torchmetrics/functional/audio/srmr.py
  tests/unittests/audio/test_srmr.py
Labels: documentation, 0:] Ready-To-Go

#1878 Debug CI plot
  tests/unittests/utilities/test_plot.py
Labels: test / CI, 0:] Ready-To-Go

#1866 Implement pre and postfix for Classwise Wrapper
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
  tests/unittests/wrappers/test_classwise.py
Labels: enhancement, 0:] Ready-To-Go

#1880 docs: fetch external S3 resources
  .gitignore
  Makefile
  docs/source/conf.py
  requirements/docs.txt
Labels: documentation, test / CI

#1881 Fix doc links
  docs/source/aggregation/cat.rst
  docs/source/aggregation/max.rst
  docs/source/aggregation/mean.rst
  docs/source/aggregation/min.rst
  docs/source/aggregation/running_mean.rst
  docs/source/aggregation/running_sum.rst
  docs/source/aggregation/sum.rst
  docs/source/audio/permutation_invariant_training.rst
  docs/source/audio/scale_invariant_signal_distortion_ratio.rst
  docs/source/audio/scale_invariant_signal_noise_ratio.rst
  docs/source/audio/signal_distortion_ratio.rst
  docs/source/audio/signal_noise_ratio.rst
  docs/source/detection/modified_panoptic_quality.rst
  docs/source/detection/panoptic_quality.rst
  docs/source/image/error_relative_global_dimensionless_synthesis.rst
  docs/source/image/image_gradients.rst
  docs/source/image/multi_scale_structural_similarity.rst
  docs/source/image/peak_signal_noise_ratio.rst
  docs/source/image/relative_average_spectral_error.rst
  docs/source/image/root_mean_squared_error_using_sliding_window.rst
  docs/source/image/spectral_angle_mapper.rst
  docs/source/image/spectral_distortion_index.rst
  docs/source/image/structural_similarity.rst
  docs/source/image/total_variation.rst
  docs/source/image/universal_image_quality_index.rst
  docs/source/nominal/cramers_v.rst
  docs/source/nominal/fleiss_kappa.rst
  docs/source/nominal/pearsons_contingency_coefficient.rst
  docs/source/nominal/theils_u.rst
  docs/source/nominal/tschuprows_t.rst
  docs/source/retrieval/fall_out.rst
  docs/source/retrieval/hit_rate.rst
  docs/source/retrieval/map.rst
  docs/source/retrieval/mrr.rst
  docs/source/retrieval/normalized_dcg.rst
  docs/source/retrieval/precision.rst
  docs/source/retrieval/precision_recall_curve.rst
  docs/source/retrieval/r_precision.rst
  docs/source/retrieval/recall.rst
  docs/source/text/bleu_score.rst
  docs/source/text/char_error_rate.rst
  docs/source/text/chrf_score.rst
  docs/source/text/extended_edit_distance.rst
  docs/source/text/match_error_rate.rst
  docs/source/text/sacre_bleu_score.rst
  docs/source/text/squad.rst
  docs/source/text/translation_edit_rate.rst
  docs/source/text/word_error_rate.rst
  docs/source/text/word_info_lost.rst
  docs/source/text/word_info_preserved.rst
  docs/source/wrappers/bootstrapper.rst
  docs/source/wrappers/classwise_wrapper.rst
  docs/source/wrappers/metric_tracker.rst
  docs/source/wrappers/min_max.rst
  docs/source/wrappers/multi_output_wrapper.rst
  docs/source/wrappers/multi_task_wrapper.rst
Labels: documentation, 0:] Ready-To-Go

#1885 ci/gpu: install missing pkgs
  .azure/gpu-unittests.yml
  requirements/audio.txt
Labels: bug / fix, Priority

#1894 Hotfix for CI docs
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  requirements/docs.txt
  tests/integrations/lightning/boring_model.py
  tests/integrations/test_lightning.py
Labels: 0:] Ready-To-Go

#1892 Fix computing iou when there have empty predicted boxes
  CHANGELOG.md
  src/torchmetrics/functional/detection/iou.py
  tests/unittests/detection/test_iou.py
Labels: bug / fix, 0:] Ready-To-Go

#1895 Fix `Auroc` metric when `max_fpr` is set and a class is missing
  CHANGELOG.md
  src/torchmetrics/functional/classification/auroc.py
  tests/unittests/classification/test_auroc.py
Labels: bug / fix, 0:] Ready-To-Go

#1830 Add Visual Information Fidelity
  CHANGELOG.md
  docs/source/image/visual_information_fidelity.rst
  docs/source/links.rst
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/vif.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/vif.py
  tests/unittests/image/test_vif.py
Labels: New metric, 0:] Ready-To-Go

#1898 Fix meanmetric broadcasting for Nan values
  CHANGELOG.md
  src/torchmetrics/aggregation.py
  tests/unittests/bases/test_aggregation.py
Labels: bug / fix, 0:] Ready-To-Go

#1882 Add Source-Aggregated Signal-to-Distortion Ratio (SA-SDR)
  CHANGELOG.md
  docs/source/audio/source_aggregated_signal_distortion_ratio.rst
  docs/source/links.rst
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/audio/sdr.py
  tests/unittests/audio/test_sa_sdr.py
  tests/unittests/audio/test_si_sdr.py
  tests/unittests/audio/test_si_snr.py
Labels: New metric, 0:] Ready-To-Go

#1912 pyupgrade: 3.8+
  .pre-commit-config.yaml
Labels: 0:] Ready-To-Go

#1896 Bugfix for using metric collection and aggregation metric
  CHANGELOG.md
  src/torchmetrics/aggregation.py
  tests/integrations/test_lightning.py
  tests/unittests/bases/test_aggregation.py
Labels: bug / fix, 0:] Ready-To-Go

#1913 Fix expected box format by pycoco
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, Priority, 0:] Ready-To-Go

#1934 Improve warning message
  src/torchmetrics/utilities/data.py
Labels: 0:] Ready-To-Go

#1925 Typing (n+1)/m
  pyproject.toml
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/stat_scores.py
Labels: bug / fix, 0:] Ready-To-Go

#1926 Add warning on small input in `PearsonCorrCoef`
  CHANGELOG.md
  src/torchmetrics/functional/regression/pearson.py
  tests/unittests/regression/test_pearson.py
Labels: enhancement, 0:] Ready-To-Go

#1918 Fix prefix/postfix interaction between `MetricCollection` and `ClasswiseWrapper`
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
  tests/unittests/wrappers/test_classwise.py
Labels: bug / fix, 0:] Ready-To-Go

#1919 Fix precision issue in calibration error
  CHANGELOG.md
  src/torchmetrics/functional/classification/calibration_error.py
  tests/unittests/classification/test_calibration_error.py
Labels: bug / fix, 0:] Ready-To-Go

#1943 Fixed CLIPScore import in docs
  src/torchmetrics/multimodal/clip_score.py
Labels: 0:] Ready-To-Go

#1944 Fixed typo in docs
  docs/source/pages/plotting.rst
Labels: 0:] Ready-To-Go

#1906 New metric: `EditDistance`
  CHANGELOG.md
  docs/source/text/edit.rst
  src/torchmetrics/functional/text/__init__.py
  src/torchmetrics/functional/text/edit.py
  src/torchmetrics/functional/text/helper.py
  src/torchmetrics/text/__init__.py
  src/torchmetrics/text/edit.py
  tests/unittests/text/test_chrf.py
  tests/unittests/text/test_edit.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, New metric, 0:] Ready-To-Go

#1947 Set min transformers version when importing
  requirements/text.txt
  requirements/text_test.txt
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/multimodal/__init__.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/text/__init__.py
  src/torchmetrics/functional/text/_deprecated.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/functional/text/helper_embedding_metric.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/multimodal/__init__.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/text/__init__.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/text/infolm.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/multimodal/test_clip_score.py
  tests/unittests/text/test_bertscore.py
  tests/unittests/text/test_infolm.py
Labels: bug / fix, 0:] Ready-To-Go
