Repository Lightning-AI/torchmetrics, pull requests merged in 2023-10, with the labels that each got.

#2089 Reduce memory usage for certain image metrics
  CHANGELOG.md
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/uqi.py
Labels: enhancement, 0:] Ready-To-Go, topic: Image

#2123 ci: switch to custom docker images
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/actions/pull-caches/action.yml
  .github/assistant.py
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  dockers/README.md
  dockers/ubuntu-cuda/Dockerfile
  requirements.txt
  requirements/base.txt
  requirements/devel.txt
  requirements/integrate.txt
  setup.py
Labels: Priority, test / CI, 0:] Ready-To-Go

#2118 Fix references to the `*_epoch_end`
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  tests/integrations/lightning/boring_model.py
Labels: documentation, 0:] Ready-To-Go

#2119 Clarify input shape expectation in classification for `samplewise` reduction
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/stat_scores.py
Labels: 0:] Ready-To-Go, topic: Classif

#2084 Add `average` to curve metrics
  CHANGELOG.md
  docs/source/links.rst
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/roc.py
  src/torchmetrics/utilities/compute.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/classification/test_roc.py
Labels: documentation, enhancement, 0:] Ready-To-Go, topic: Classif

#2137 Replace distutils with packaging
  .github/assistant.py
  MANIFEST.in
  requirements/base.txt
  src/torchmetrics/utilities/imports.py
Labels: 0:] Ready-To-Go

#2144 Improve numeric stability of `LPIPS`
  CHANGELOG.md
  src/torchmetrics/functional/image/lpips.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Image

#2150 docs: adding `linkcheck_timeout`
  docs/source/conf.py
  docs/source/links.rst
Labels: documentation, test / CI

#2143 Add error on missing module to `NoTrainInceptionV3`
  CHANGELOG.md
  src/torchmetrics/image/fid.py
  tests/unittests/image/test_fid.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Image

#2153 replace setuptools' `find_packages` by `find_namespace_packages`
  setup.py
Labels: 0:] Ready-To-Go

#2155 docs: avoid pdf links if possible
  docs/source/links.rst
Labels: documentation, test / CI

#2068 Sacrebleu: Add more tokenizers for SacreBLEU metric
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  CHANGELOG.md
  docs/source/links.rst
  requirements/text.txt
  requirements/text_test.txt
  src/torchmetrics/functional/text/sacre_bleu.py
  src/torchmetrics/text/sacre_bleu.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/text/test_sacre_bleu.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, 0:] Ready-To-Go, topic: Text

#2160 ci/docs: run docs make in parallel
  .github/workflows/docs-build.yml
Labels: documentation, test / CI, 0:] Ready-To-Go

#2142 bump testing for PT 2.1
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  CHANGELOG.md
  requirements/base.txt
  requirements/typing.txt
  src/torchmetrics/functional/audio/pit.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/image/test_ergas.py
  tests/unittests/image/test_psnr.py
  tests/unittests/image/test_sam.py
  tests/unittests/regression/test_concordance.py
  tests/unittests/regression/test_kl_divergence.py
  tests/unittests/regression/test_rse.py
  tests/unittests/regression/test_spearman.py
Labels: Important, test / CI, 0:] Ready-To-Go, topic: Audio, topic: Text, topic: Regress

#2128 req. name clarification
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .devcontainer/Dockerfile
  .github/CONTRIBUTING.md
  .github/actions/push-caches/action.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docs-build.yml
  .readthedocs.yml
  Makefile
  dockers/ubuntu-cuda/Dockerfile
  docs/source/conf.py
  requirements/README.md
  requirements/_devel.txt
  requirements/_docs.txt
  requirements/_doctest.txt
  requirements/_integrate.txt
  requirements/_tests.txt
  setup.py
Labels: documentation, 0:] Ready-To-Go, refactoring

#2162 ci/docs: primary installation of fetch template
  .github/workflows/docs-build.yml
Labels: bug / fix, test / CI, 0:] Ready-To-Go

#2145 Update min Pytorch to 1.10
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  CHANGELOG.md
  requirements/base.txt
  src/torchmetrics/functional/image/helper.py
  src/torchmetrics/functional/image/perceptual_path_length.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/mifid.py
  src/torchmetrics/utilities/checks.py
  src/torchmetrics/utilities/compute.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_ranking.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_lpips.py
  tests/unittests/image/test_mifid.py
  tests/unittests/pairwise/test_pairwise_distance.py
  tests/unittests/regression/test_minkowski_distance.py
  tests/unittests/regression/test_tweedie_deviance.py
  tests/unittests/utilities/test_plot.py
Labels: 0:] Ready-To-Go, topic: Image

#2164 ci: fall back with some old configs
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  docs/source/links.rst
  tests/unittests/utilities/test_plot.py
Labels: documentation, test / CI, 0:] Ready-To-Go

#2179 ci: simplify `PUSH_DOCKERHUB`
  .github/workflows/docker-build.yml
Labels: test / CI, 0:] Ready-To-Go

#2180 Use `isinstance` instead of `type(x) is Tensor`
  src/torchmetrics/detection/helpers.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Detect

#2173 Fix name of multilabel attribute in docstring for `MultilabelMatthewsCorrCoef`
  src/torchmetrics/classification/matthews_corrcoef.py
Labels: documentation, 0:] Ready-To-Go, topic: Classif

#2129 ci: proper setting oldest/latest for integrations & `PL>=1.9`
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/actions/pull-caches/action.yml
  .github/assistant.py
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  requirements/_integrate.txt
  src/torchmetrics/__init__.py
Labels: Important, test / CI

#2181 Lazy import `audio`
  src/torchmetrics/functional/audio/pesq.py
  src/torchmetrics/functional/audio/sdr.py
  src/torchmetrics/functional/audio/srmr.py
  src/torchmetrics/functional/audio/stoi.py
Labels: 0:] Ready-To-Go, topic: Audio

#2182 Lazy import `detection`
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/iou.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/detection/ciou.py
  src/torchmetrics/functional/detection/diou.py
  src/torchmetrics/functional/detection/giou.py
  src/torchmetrics/functional/detection/iou.py
Labels: enhancement, topic: Detect

#2141 deprecate `_update_called`
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/metric.py
Labels: 0:] Ready-To-Go, refactoring, API / design, topic: Detect

#2151 Resolve PYI041
  pyproject.toml
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/functional/image/ergas.py
  src/torchmetrics/functional/multimodal/clip_iqa.py
  src/torchmetrics/functional/nominal/cramers.py
  src/torchmetrics/functional/nominal/pearson.py
  src/torchmetrics/functional/nominal/theils_u.py
  src/torchmetrics/functional/nominal/tschuprows.py
  src/torchmetrics/functional/nominal/utils.py
  src/torchmetrics/functional/pairwise/minkowski.py
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/metric.py
  src/torchmetrics/multimodal/clip_iqa.py
  src/torchmetrics/nominal/cramers.py
  src/torchmetrics/nominal/pearson.py
  src/torchmetrics/nominal/theils_u.py
  src/torchmetrics/nominal/tschuprows.py
  src/torchmetrics/wrappers/minmax.py
  tests/unittests/image/test_ergas.py
  tests/unittests/wrappers/test_minmax.py
Labels: 0:] Ready-To-Go, topic: Image, topic: MModal, topic: Nominal

#2185 docs: fixing typos, grammar and formatting
  docs/source/pages/overview.rst
Labels: documentation, 0:] Ready-To-Go

#2149 Resolve ANN102
  pyproject.toml
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_fixed_recall.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/recall_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/specificity_sensitivity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/text/sacre_bleu.py
  src/torchmetrics/functional/text/ter.py
  src/torchmetrics/text/sacre_bleu.py
  src/torchmetrics/utilities/enums.py
  tests/unittests/text/test_sacre_bleu.py
Labels: 0:] Ready-To-Go, topic: Text, topic: Classif
