Repository Lightning-AI/torchmetrics, pull requests merged in 2023-05, with the labels that each got.

#1347 Performance improvements
  src/torchmetrics/utilities/data.py
Labels: enhancement, 0:] Ready-To-Go

#1757 ci: adding Docs preview
  .github/workflows/ci-docs.yml
Labels: documentation

#1760 More ruff checks
  pyproject.toml
  src/torchmetrics/functional/audio/pit.py
  tests/integrations/lightning/boring_model.py
  tests/integrations/test_lightning.py
  tests/unittests/audio/test_pit.py
  tests/unittests/audio/test_sdr.py
  tests/unittests/bases/test_collections.py
  tests/unittests/bases/test_composition.py
  tests/unittests/bases/test_ddp.py
  tests/unittests/bases/test_metric.py
  tests/unittests/classification/test_group_fairness.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_inception.py
  tests/unittests/image/test_kid.py
  tests/unittests/image/test_tv.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/text/helpers.py
  tests/unittests/text/test_bleu.py
  tests/unittests/wrappers/test_bootstrapping.py
  tests/unittests/wrappers/test_minmax.py
  tests/unittests/wrappers/test_multioutput.py
Labels: 0:] Ready-To-Go

#1763 Fix bugs in MAP related to `iou_type="segm"`
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/metric.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, 0:] Ready-To-Go

#1765 Add `RelativeSquaredError`
  CHANGELOG.md
  docs/source/regression/rse.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/rse.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/rse.py
  tests/unittests/regression/test_rse.py
  tests/unittests/utilities/test_plot.py
Labels: New metric, 0:] Ready-To-Go

#1773 Fix prefix postfix in nested collection
  CHANGELOG.md
  src/torchmetrics/collections.py
  tests/unittests/bases/test_collections.py
  tests/unittests/helpers/testers.py
Labels: bug / fix, 0:] Ready-To-Go

#1778 Small fix for SacreBLEUScore and the mteval-v13a tokenizer
  src/torchmetrics/functional/text/sacre_bleu.py
Labels: 0:] Ready-To-Go

#1762 Add `MultitaskWrapper`
  CHANGELOG.md
  docs/source/wrappers/multi_task_wrapper.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/wrappers/__init__.py
  src/torchmetrics/wrappers/multitask.py
  tests/unittests/wrappers/test_multitask.py
Labels: enhancement, New metric

#1782 rouge_score: Fix lookup for punkt sources being downloaded
  CHANGELOG.md
  src/torchmetrics/functional/text/rouge.py
Labels: bug / fix

#1783 Fix logic mistake in plotting of metric collection
  CHANGELOG.md
  src/torchmetrics/collections.py
  tests/unittests/utilities/test_plot.py
Labels: bug / fix, 0:] Ready-To-Go

#1754 New arg: `compute_with_cache`
  CHANGELOG.md
  docs/source/pages/overview.rst
  src/torchmetrics/metric.py
  tests/unittests/bases/test_metric.py
Labels: enhancement, 0:] Ready-To-Go

#1794 Changed `permutation_invariant_training` to allow using a `'permutation-wise'` metric function
  CHANGELOG.md
  src/torchmetrics/audio/_deprecated.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/functional/audio/_deprecated.py
  src/torchmetrics/functional/audio/pit.py
  src/torchmetrics/functional/audio/sdr.py
  tests/unittests/audio/test_pit.py
Labels: 0:] Ready-To-Go

#1802 ruff: RUF
  .github/assistant.py
  pyproject.toml
  src/torchmetrics/__init__.py
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/detection/__init__.py
  src/torchmetrics/functional/detection/_panoptic_quality_common.py
  src/torchmetrics/functional/multimodal/__init__.py
  src/torchmetrics/functional/text/__init__.py
  src/torchmetrics/functional/text/bleu.py
  src/torchmetrics/functional/text/helper.py
  src/torchmetrics/functional/text/sacre_bleu.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/multimodal/__init__.py
  src/torchmetrics/retrieval/__init__.py
  src/torchmetrics/text/__init__.py
  src/torchmetrics/utilities/__init__.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/__init__.py
Labels: 0:] Ready-To-Go, refactoring

#1798 ruff: B
  .pre-commit-config.yaml
  pyproject.toml
  src/torchmetrics/collections.py
  src/torchmetrics/functional/audio/pit.py
  src/torchmetrics/functional/audio/sdr.py
  src/torchmetrics/functional/regression/kendall.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/functional/text/helper_embedding_metric.py
  src/torchmetrics/functional/text/rouge.py
  src/torchmetrics/functional/text/ter.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/utilities/enums.py
  src/torchmetrics/utilities/prints.py
  tests/unittests/bases/test_metric.py
  tests/unittests/helpers/testers.py
  tests/unittests/text/test_rouge.py
Labels: enhancement, 0:] Ready-To-Go, refactoring

#1796 ruff: PLE
  examples/bert_score-own_model.py
  pyproject.toml
  src/torchmetrics/audio/_deprecated.py
  src/torchmetrics/detection/_deprecated.py
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/retrieval/_deprecated.py
  src/torchmetrics/text/_deprecated.py
  tests/unittests/classification/test_group_fairness.py
Labels: enhancement, 0:] Ready-To-Go, refactoring

#1784 Fix check in mAP
  src/torchmetrics/detection/mean_ap.py
Labels: bug / fix, 0:] Ready-To-Go

#1803 Docs: missing reset in example
  docs/source/pages/overview.rst
Labels: documentation

#1801 ruff: ISC & PIE
  pyproject.toml
  src/torchmetrics/aggregation.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/cohen_kappa.py
  src/torchmetrics/functional/regression/r2.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/metric.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/utilities/distributed.py
  src/torchmetrics/wrappers/bootstrapping.py
  tests/unittests/helpers/testers.py
  tests/unittests/regression/test_r2.py
  tests/unittests/regression/test_rse.py
Labels: enhancement, 0:] Ready-To-Go, refactoring

#1785 add C-SI-SNR
  CHANGELOG.md
  docs/source/audio/complex_scale_invariant_signal_noise_ratio.rst
  docs/source/links.rst
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/audio/snr.py
  tests/unittests/audio/test_c_si_snr.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, New metric, 0:] Ready-To-Go

#1799 ruff: A
  .pre-commit-config.yaml
  pyproject.toml
  src/torchmetrics/audio/snr.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/metric.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_auroc.py
  tests/unittests/classification/test_average_precision.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_cohen_kappa.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_exact_match.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_hamming_distance.py
  tests/unittests/classification/test_hinge.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_matthews_corrcoef.py
  tests/unittests/classification/test_precision_fixed_recall.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/classification/test_ranking.py
  tests/unittests/classification/test_recall_fixed_precision.py
  tests/unittests/classification/test_roc.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_specificity_sensitivity.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/detection/test_map.py
  tests/unittests/multimodal/test_clip_score.py
  tests/unittests/utilities/test_plot.py
  tests/unittests/utilities/test_utilities.py
Labels: enhancement, 0:] Ready-To-Go, refactoring

#1807 Docs: Small plotting note for custom implementations
  docs/source/pages/implement.rst
  docs/source/pages/plotting.rst
Labels: documentation, 0:] Ready-To-Go

#1812 Fix corner cases in `MatthewsCorrCoef`
  CHANGELOG.md
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  tests/unittests/classification/test_matthews_corrcoef.py
Labels: bug / fix, 0:] Ready-To-Go

#1808 Fix number of issues in `SpectralDistortionIndex`
  CHANGELOG.md
  src/torchmetrics/functional/image/d_lambda.py
  src/torchmetrics/functional/image/uqi.py
  tests/unittests/image/test_d_lambda.py
Labels: bug / fix, 0:] Ready-To-Go
