Repository Lightning-AI/torchmetrics, pull requests merged in 2023-06, with the labels that each got.

#1820 Fix docstring typos for `MulticlassAveragePrecision`, `MultilabelAveragePrecision`
  src/torchmetrics/classification/average_precision.py
Labels: documentation

#1819 Fix for PCC error with float16 tensor
  CHANGELOG.md
  src/torchmetrics/functional/regression/pearson.py
  tests/unittests/regression/test_pearson.py
Labels: bug / fix, 0:] Ready-To-Go

#1822 update logos/icons
  docs/source/_static/images/icon.png
  docs/source/_static/images/icon.svg
  docs/source/_static/images/logo.png
  docs/source/_static/images/logo.svg
Labels: 0:] Ready-To-Go

#1840 docs: bump sphinx ver.
  docs/source/conf.py
  requirements/docs.txt
Labels: documentation, enhancement, 0:] Ready-To-Go

#1844 Fix confmat docs
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/confusion_matrix.py
Labels: documentation, 0:] Ready-To-Go

#1761 Fix compositional logging with lightning
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/integrations/test_lightning.py
Labels: bug / fix, 0:] Ready-To-Go

#1821 Fix bug in macro average for a number of classification metrics
  CHANGELOG.md
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/utilities/compute.py
  tests/unittests/classification/inputs.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_hamming_distance.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_specificity.py
Labels: bug / fix, 0:] Ready-To-Go

#1849 fix property name in docs example
  docs/source/pages/overview.rst
Labels: documentation, 0:] Ready-To-Go

#1852 Ruff: PERF & PYI
  .pre-commit-config.yaml
  pyproject.toml
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/collections.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/functional/image/helper.py
  src/torchmetrics/functional/text/eed.py
  src/torchmetrics/functional/text/sacre_bleu.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/metric.py
  src/torchmetrics/wrappers/bootstrapping.py
  tests/unittests/bases/test_collections.py
  tests/unittests/detection/base_iou_test.py
  tests/unittests/detection/test_ciou.py
  tests/unittests/detection/test_diou.py
  tests/unittests/detection/test_giou.py
  tests/unittests/detection/test_iou.py
  tests/unittests/helpers/testers.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/retrieval/test_fallout.py
  tests/unittests/retrieval/test_hit_rate.py
  tests/unittests/retrieval/test_ndcg.py
  tests/unittests/retrieval/test_precision.py
  tests/unittests/retrieval/test_precision_recall_curve.py
  tests/unittests/retrieval/test_recall.py
  tests/unittests/text/helpers.py
Labels: enhancement, 0:] Ready-To-Go

#1850 Add fleiss kappa metric
  docs/source/links.rst
  docs/source/nominal/fleiss_kappa.rst
  requirements/nominal_test.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/nominal/__init__.py
  src/torchmetrics/functional/nominal/fleiss_kappa.py
  src/torchmetrics/nominal/__init__.py
  src/torchmetrics/nominal/fleiss_kappa.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/nominal/test_fleiss_kappa.py
  tests/unittests/utilities/test_plot.py
Labels: New metric, 0:] Ready-To-Go

#1851 Type hints
  src/torchmetrics/metric.py
Labels: bug / fix, 0:] Ready-To-Go

#1860 Multiclass-jaccard: fix off-by-one issue when ignore_index = num_classes + 1
  CHANGELOG.md
  src/torchmetrics/functional/classification/jaccard.py
  tests/unittests/classification/test_jaccard.py
Labels: bug / fix, 0:] Ready-To-Go

#1855 Fix typing issues n/m & drop `data_range` from _UQI
  pyproject.toml
  src/torchmetrics/collections.py
  src/torchmetrics/functional/audio/pit.py
  src/torchmetrics/functional/classification/roc.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/functional/image/helper.py
  src/torchmetrics/functional/image/tv.py
  src/torchmetrics/functional/image/uqi.py
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/tv.py
  src/torchmetrics/image/uqi.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  tests/unittests/image/test_uqi.py
Labels: enhancement, 0:] Ready-To-Go

#1792 Add speech-to-reverberation modulation energy ratio (SRMR) metric
  CHANGELOG.md
  docs/source/audio/speech_reverberation_modulation_energy_ratio.rst
  docs/source/links.rst
  requirements/audio.txt
  requirements/audio_test.txt
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/audio/srmr.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/audio/srmr.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/audio/test_srmr.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, New metric, 0:] Ready-To-Go

#1863 Fixes another issue in binary matthews corr coef
  CHANGELOG.md
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  tests/unittests/classification/test_matthews_corrcoef.py
Labels: bug / fix, 0:] Ready-To-Go
