Repository Lightning-AI/torchmetrics, pull requests merged in 2023-01, with the labels that each got.

#1420 Add num classes in docs
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  docs/source/pages/quickstart.rst
Labels: documentation, 0:] Ready-To-Go

#1407 Update image docs
  docs/source/image/error_relative_global_dimensionless_synthesis.rst
  docs/source/image/frechet_inception_distance.rst
  docs/source/image/inception_score.rst
  docs/source/image/kernel_inception_distance.rst
  docs/source/image/learned_perceptual_image_patch_similarity.rst
  docs/source/image/multi_scale_structural_similarity.rst
  docs/source/image/peak_signal_noise_ratio.rst
  docs/source/image/spectral_angle_mapper.rst
  docs/source/image/spectral_distortion_index.rst
  docs/source/image/structural_similarity.rst
  docs/source/image/total_variation.rst
  docs/source/image/universal_image_quality_index.rst
  docs/source/links.rst
  src/torchmetrics/functional/image/d_lambda.py
  src/torchmetrics/image/d_lambda.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/image/tv.py
  src/torchmetrics/image/uqi.py
Labels: documentation, 0:] Ready-To-Go

#1424 CI: cache transformers in Azure
  .azure/gpu-pipeline.yml
Labels: test / CI, 0:] Ready-To-Go

#1430 Add type check on `maximize` in `MetricTracker`
  CHANGELOG.md
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: 0:] Ready-To-Go

#1427 Raise exception for invalid kwargs in Metric base class
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/integrations/test_lightning.py
  tests/unittests/bases/test_metric.py
  tests/unittests/wrappers/test_minmax.py
  tests/unittests/wrappers/test_multioutput.py
Labels: bug / fix, 0:] Ready-To-Go

#1438 Fix doc formatting
  src/torchmetrics/metric.py
Labels: 0:] Ready-To-Go

#1419 Return also classes for MAP metric
  .azure/gpu-pipeline.yml
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: enhancement, 0:] Ready-To-Go

#1431 update shape info + links on Detection docs
  docs/source/detection/mean_average_precision.rst
  docs/source/links.rst
  src/torchmetrics/detection/mean_ap.py
Labels: documentation, 0:] Ready-To-Go

#1440 ci: add cache crone & cleaning
  .github/actions/caching/action.yml
  .github/actions/unittesting/action.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests-full.yml
  .github/workflows/cron-clear-cache.yml
Labels: test / CI, 0:] Ready-To-Go

#1410 Update regression docs
  docs/source/regression/concordance_corr_coef.rst
  docs/source/regression/cosine_similarity.rst
  docs/source/regression/explained_variance.rst
  docs/source/regression/kendall_rank_corr_coef.rst
  docs/source/regression/kl_divergence.rst
  docs/source/regression/log_cosh_error.rst
  docs/source/regression/mean_absolute_error.rst
  docs/source/regression/mean_absolute_percentage_error.rst
  docs/source/regression/mean_squared_error.rst
  docs/source/regression/mean_squared_log_error.rst
  docs/source/regression/pearson_corr_coef.rst
  docs/source/regression/r2_score.rst
  docs/source/regression/spearman_corr_coef.rst
  docs/source/regression/symmetric_mean_absolute_percentage_error.rst
  docs/source/regression/tweedie_deviance_score.rst
  docs/source/regression/weighted_mean_absolute_percentage_error.rst
  src/torchmetrics/regression/concordance.py
  src/torchmetrics/regression/cosine_similarity.py
  src/torchmetrics/regression/explained_variance.py
  src/torchmetrics/regression/kendall.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/regression/log_cosh.py
  src/torchmetrics/regression/log_mse.py
  src/torchmetrics/regression/mae.py
  src/torchmetrics/regression/mape.py
  src/torchmetrics/regression/mse.py
  src/torchmetrics/regression/pearson.py
  src/torchmetrics/regression/r2.py
  src/torchmetrics/regression/spearman.py
  src/torchmetrics/regression/symmetric_mape.py
  src/torchmetrics/regression/tweedie_deviance.py
  src/torchmetrics/regression/wmape.py
Labels: documentation, 0:] Ready-To-Go

#1447 typo fix in pesq docs
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/functional/audio/pesq.py
Labels: 0:] Ready-To-Go

#1457 Add missing dtype check in PrecisionRecallCurve
  CHANGELOG.md
  src/torchmetrics/functional/classification/precision_recall_curve.py
  tests/unittests/classification/test_precision_recall_curve.py
Labels: bug / fix, 0:] Ready-To-Go

#1416 Update text docs
  docs/source/links.rst
  docs/source/text/bert_score.rst
  docs/source/text/bleu_score.rst
  docs/source/text/char_error_rate.rst
  docs/source/text/chrf_score.rst
  docs/source/text/extended_edit_distance.rst
  docs/source/text/infolm.rst
  docs/source/text/match_error_rate.rst
  docs/source/text/perplexity.rst
  docs/source/text/rouge_score.rst
  docs/source/text/sacre_bleu_score.rst
  docs/source/text/squad.rst
  docs/source/text/translation_edit_rate.rst
  docs/source/text/word_error_rate.rst
  docs/source/text/word_info_lost.rst
  docs/source/text/word_info_preserved.rst
  src/torchmetrics/text/bert.py
  src/torchmetrics/text/bleu.py
  src/torchmetrics/text/cer.py
  src/torchmetrics/text/chrf.py
  src/torchmetrics/text/eed.py
  src/torchmetrics/text/infolm.py
  src/torchmetrics/text/mer.py
  src/torchmetrics/text/perplexity.py
  src/torchmetrics/text/rouge.py
  src/torchmetrics/text/sacre_bleu.py
  src/torchmetrics/text/squad.py
  src/torchmetrics/text/ter.py
  src/torchmetrics/text/wer.py
  src/torchmetrics/text/wil.py
  src/torchmetrics/text/wip.py
Labels: documentation, 0:] Ready-To-Go

#1460 Fix broken `reset` method in `MultioutputWrapper`
  CHANGELOG.md
  src/torchmetrics/wrappers/multioutput.py
  tests/unittests/wrappers/test_multioutput.py
Labels: bug / fix, 0:] Ready-To-Go

#1454 Fix autocast in SSIM metric
  CHANGELOG.md
  src/torchmetrics/functional/image/ssim.py
  tests/unittests/image/test_ssim.py
Labels: bug / fix, 0:] Ready-To-Go

#1439 Fix documentation source links
  docs/source/conf.py
Labels: 0:] Ready-To-Go

#1432 Add SpecificityAtSensitivity Metric
  CHANGELOG.md
  docs/source/classification/specificity_at_sensitivity.rst
  pyproject.toml
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/specificity_at_sensitivity.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/specificity_at_sensitivity.py
  tests/unittests/classification/test_specificity_at_sensitivity.py
Labels: 0:] Ready-To-Go

#1433 Return info / formatting on Classification docs
  docs/source/links.rst
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/recall_at_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/exact_match.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/recall_at_fixed_precision.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/stat_scores.py
Labels: documentation, 0:] Ready-To-Go

#1456 Fix checking for nltk.punkt if a machine not online
  CHANGELOG.md
  src/torchmetrics/functional/text/rouge.py
Labels: 0:] Ready-To-Go

#1468 ruff: enable C4 validation
  examples/detection_map.py
  pyproject.toml
  requirements/adjust-versions.py
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/text/rouge.py
  src/torchmetrics/functional/text/squad.py
  tests/unittests/audio/test_pesq.py
  tests/unittests/audio/test_pit.py
  tests/unittests/audio/test_si_sdr.py
  tests/unittests/audio/test_snr.py
  tests/unittests/audio/test_stoi.py
  tests/unittests/detection/test_map.py
  tests/unittests/image/test_ergas.py
  tests/unittests/image/test_sam.py
  tests/unittests/regression/test_cosine_similarity.py
  tests/unittests/regression/test_explained_variance.py
  tests/unittests/regression/test_kl_divergence.py
  tests/unittests/regression/test_r2.py
  tests/unittests/regression/test_tweedie_deviance.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/retrieval/test_fallout.py
  tests/unittests/retrieval/test_hit_rate.py
  tests/unittests/retrieval/test_map.py
  tests/unittests/retrieval/test_mrr.py
  tests/unittests/retrieval/test_ndcg.py
  tests/unittests/retrieval/test_precision.py
  tests/unittests/retrieval/test_precision_recall_curve.py
  tests/unittests/retrieval/test_r_precision.py
  tests/unittests/retrieval/test_recall.py
  tests/unittests/text/test_bertscore.py
  tests/unittests/utilities/test_utilities.py
  tests/unittests/wrappers/test_bootstrapping.py
  tests/unittests/wrappers/test_minmax.py
  tests/unittests/wrappers/test_multioutput.py
Labels: 0:] Ready-To-Go

#1469 ruff: enable SIM validation
  pyproject.toml
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/recall_at_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/collections.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/audio/sdr.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/cohen_kappa.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/hinge.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/functional/image/psnr.py
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/functional/text/helper.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/functional/text/sacre_bleu.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/tv.py
  src/torchmetrics/metric.py
  src/torchmetrics/utilities/checks.py
  src/torchmetrics/utilities/distributed.py
  tests/unittests/bases/test_collections.py
  tests/unittests/bases/test_metric.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_auroc.py
  tests/unittests/classification/test_average_precision.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_cohen_kappa.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_exact_match.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_hamming_distance.py
  tests/unittests/classification/test_hinge.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_matthews_corrcoef.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/classification/test_ranking.py
  tests/unittests/classification/test_recall_at_fixed_precision.py
  tests/unittests/classification/test_roc.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_specificity_at_sensitivity.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/detection/test_map.py
  tests/unittests/helpers/testers.py
  tests/unittests/regression/test_kendall.py
  tests/unittests/text/helpers.py
Labels: 0:] Ready-To-Go

#1471 Fixed `bincount` on XLA
  CHANGELOG.md
  src/torchmetrics/utilities/data.py
  src/torchmetrics/utilities/imports.py
Labels: bug / fix, 0:] Ready-To-Go
