Repository Lightning-AI/torchmetrics, pull requests merged in 2023-02, with the labels that each got.

#1472 Fix type hints
  CHANGELOG.md
  docs/source/wrappers/metric_tracker.rst
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: 0:] Ready-To-Go

#1476 docs: kendall typo
  README.md
  docs/source/regression/kendall_rank_corr_coef.rst
Labels: documentation, 0:] Ready-To-Go

#1477 gh: update templates (#1477)Co-authored-by: pre-commit-ci[bot] <66853113+pre-commit-ci[bot]@users.noreply.github.com> Co-authored-by: Nicki Skafte Detlefsen <skaftenicki@gmail.com>
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, 0:] Ready-To-Go

#1486 ruff: fix docs in examples
  examples/bert_score-own_model.py
  examples/detection_map.py
  examples/plotting.py
  examples/rouge_score-own_normalizer_and_tokenizer.py
  pyproject.toml
Labels: documentation

#1482 ruff: enable pytest-style & fixing
  .pre-commit-config.yaml
  pyproject.toml
  tests/unittests/bases/test_aggregation.py
  tests/unittests/bases/test_collections.py
  tests/unittests/bases/test_composition.py
  tests/unittests/bases/test_metric.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_dice.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_inputs.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/image/test_d_lambda.py
  tests/unittests/image/test_ergas.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_inception.py
  tests/unittests/image/test_kid.py
  tests/unittests/image/test_lpips.py
  tests/unittests/image/test_psnr.py
  tests/unittests/image/test_sam.py
  tests/unittests/image/test_ssim.py
  tests/unittests/image/test_uqi.py
  tests/unittests/multimodal/test_clip_score.py
  tests/unittests/nominal/test_cramers.py
  tests/unittests/nominal/test_pearson.py
  tests/unittests/nominal/test_theils_u.py
  tests/unittests/nominal/test_tschuprows.py
  tests/unittests/pairwise/test_pairwise_distance.py
  tests/unittests/regression/test_spearman.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/text/test_bertscore.py
  tests/unittests/text/test_rouge.py
  tests/unittests/text/test_squad.py
  tests/unittests/utilities/test_auc.py
  tests/unittests/utilities/test_plot.py
  tests/unittests/utilities/test_utilities.py
  tests/unittests/wrappers/test_minmax.py
  tests/unittests/wrappers/test_tracker.py
Labels: 0:] Ready-To-Go

#1488 ruff: fixing test docstrings (#1488
  pyproject.toml
  tests/integrations/lightning/boring_model.py
  tests/unittests/audio/test_pit.py
  tests/unittests/bases/test_aggregation.py
  tests/unittests/bases/test_collections.py
  tests/unittests/bases/test_composition.py
  tests/unittests/bases/test_ddp.py
  tests/unittests/bases/test_metric.py
  tests/unittests/classification/test_auroc.py
  tests/unittests/classification/test_average_precision.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/classification/test_recall_at_fixed_precision.py
  tests/unittests/classification/test_roc.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_specificity_at_sensitivity.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_image_gradients.py
  tests/unittests/image/test_inception.py
  tests/unittests/image/test_kid.py
  tests/unittests/image/test_lpips.py
  tests/unittests/image/test_ssim.py
  tests/unittests/image/test_tv.py
  tests/unittests/pairwise/test_pairwise_distance.py
  tests/unittests/regression/test_spearman.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/text/helpers.py
  tests/unittests/utilities/test_utilities.py
  tests/unittests/wrappers/test_bootstrapping.py
  tests/unittests/wrappers/test_minmax.py
  tests/unittests/wrappers/test_multioutput.py
  tests/unittests/wrappers/test_tracker.py
Labels: documentation, 0:] Ready-To-Go

#1481 added `plot()` to accuracy.py
  CHANGELOG.md
  src/torchmetrics/classification/accuracy.py
Labels: 0:] Ready-To-Go

#1503 Fix broken `make-docs` CI
  docs/source/pages/implement.rst
Labels: test / CI

#1502 ruff: src public method
  pyproject.toml
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/recall_at_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/specificity_at_sensitivity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/metric.py
  src/torchmetrics/regression/cosine_similarity.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/regression/tweedie_deviance.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/wrappers/classwise.py
Labels: documentation

#1498 ruff: first line formatting
  pyproject.toml
  src/torchmetrics/audio/snr.py
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/audio/snr.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/average_precision.py
  src/torchmetrics/functional/classification/dice.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/hinge.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/pairwise/cosine.py
  src/torchmetrics/functional/pairwise/euclidean.py
  src/torchmetrics/functional/pairwise/linear.py
  src/torchmetrics/functional/pairwise/manhattan.py
  src/torchmetrics/functional/regression/cosine_similarity.py
  src/torchmetrics/functional/regression/r2.py
  src/torchmetrics/functional/regression/spearman.py
  src/torchmetrics/functional/regression/symmetric_mape.py
  src/torchmetrics/functional/regression/tweedie_deviance.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/regression/cosine_similarity.py
  src/torchmetrics/regression/explained_variance.py
  src/torchmetrics/regression/kendall.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/regression/log_mse.py
  src/torchmetrics/regression/mae.py
  src/torchmetrics/regression/mape.py
  src/torchmetrics/regression/mse.py
  src/torchmetrics/regression/pearson.py
  src/torchmetrics/regression/r2.py
  src/torchmetrics/regression/tweedie_deviance.py
  src/torchmetrics/regression/wmape.py
  src/torchmetrics/text/infolm.py
  src/torchmetrics/text/wer.py
  src/torchmetrics/text/wil.py
  src/torchmetrics/text/wip.py
  src/torchmetrics/utilities/data.py
  src/torchmetrics/wrappers/tracker.py
Labels: documentation

#1506 ci: cleaning cache
  .github/workflows/cleanup-caches.yml
Labels: test / CI

#1487 ruff: public classes + magic functions
  .azure/gpu-pipeline.yml
  pyproject.toml
  src/torchmetrics/classification/specificity_at_sensitivity.py
  src/torchmetrics/collections.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/text/eed.py
  src/torchmetrics/functional/text/helper.py
  src/torchmetrics/functional/text/helper_embedding_metric.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/metric.py
  src/torchmetrics/text/rouge.py
  src/torchmetrics/utilities/enums.py
  src/torchmetrics/utilities/prints.py
  tests/integrations/lightning/boring_model.py
Labels: documentation

#1497 [Docs] Add details on cases of undefined calculations
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/specificity.py
Labels: documentation

#1434 Add `plot()` functionality to audio metrics
  CHANGELOG.md
  examples/plotting.py
  requirements/docs.txt
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/metric.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement

#1512 ci: porting requirements freeze
  .azure/gpu-pipeline.yml
  .github/dependabot.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests-full.yml
  requirements.txt
  requirements/audio.txt
  requirements/audio_test.txt
  requirements/classification_test.txt
  requirements/detection.txt
  requirements/detection_test.txt
  requirements/devel.txt
  requirements/doctest.txt
  requirements/image.txt
  requirements/image_test.txt
  requirements/integrate.txt
  requirements/multimodal.txt
  requirements/nominal_test.txt
  requirements/test.txt
  requirements/text.txt
  requirements/text_test.txt
  requirements/visual.txt
  setup.py
Labels: Priority, test / CI, 0:] Ready-To-Go

#1505 Skipping doctest on slow connection
  .azure/gpu-pipeline.yml
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/utilities/checks.py
Labels: Priority, test / CI

#1523 Refactoring is in doctests for slow downloads
  .azure/gpu-pipeline.yml
  .github/workflows/ci-tests-full.yml
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/functional/text/rouge.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/utilities/checks.py
  tests/unittests/text/helpers.py
  tests/unittests/text/test_rouge.py
Labels: test / CI, 0:] Ready-To-Go

#1534 ci: guardian & pytorch 1.13.1 (#1534
  .azure/gpu-pipeline.yml
  .github/workflows/ci-tests-full.yml
Labels: test / CI, 0:] Ready-To-Go

#1504 retrieval parameter `top_k`
  src/torchmetrics/functional/retrieval/fall_out.py
  src/torchmetrics/functional/retrieval/hit_rate.py
  src/torchmetrics/functional/retrieval/ndcg.py
  src/torchmetrics/functional/retrieval/precision.py
  src/torchmetrics/functional/retrieval/precision_recall_curve.py
  src/torchmetrics/functional/retrieval/r_precision.py
  src/torchmetrics/functional/retrieval/recall.py
  src/torchmetrics/retrieval/fall_out.py
  src/torchmetrics/retrieval/hit_rate.py
  src/torchmetrics/retrieval/ndcg.py
  src/torchmetrics/retrieval/precision.py
  src/torchmetrics/retrieval/recall.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/retrieval/test_fallout.py
  tests/unittests/retrieval/test_hit_rate.py
  tests/unittests/retrieval/test_ndcg.py
  tests/unittests/retrieval/test_precision.py
  tests/unittests/retrieval/test_precision_recall_curve.py
  tests/unittests/retrieval/test_recall.py
Labels: 0:] Ready-To-Go, refactoring

#1537 separate typing requirements
  .github/actions/caching/action.yml
  .github/workflows/ci-checks.yml
  pyproject.toml
  requirements/test.txt
  requirements/typing.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/aggregation.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/recall_at_fixed_precision.py
  src/torchmetrics/classification/specificity_at_sensitivity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/nominal/__init__.py
  src/torchmetrics/functional/text/helper_embedding_metric.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/functional/text/squad.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/image/tv.py
  src/torchmetrics/image/uqi.py
  src/torchmetrics/metric.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/regression/log_mse.py
  src/torchmetrics/regression/mae.py
  src/torchmetrics/regression/mape.py
  src/torchmetrics/regression/mse.py
  src/torchmetrics/regression/symmetric_mape.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/text/cer.py
  src/torchmetrics/text/mer.py
  src/torchmetrics/text/wer.py
  src/torchmetrics/utilities/__init__.py
  src/torchmetrics/utilities/checks.py
  src/torchmetrics/utilities/prints.py
  src/torchmetrics/wrappers/tracker.py
Labels: test / CI, 0:] Ready-To-Go

#1541 ci: drop Azure cache dues to huge performance issue
  .azure/gpu-pipeline.yml
Labels: Priority, test / CI

#1538 Fix `Metric.__iter__` by setting it to `None`
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/bases/test_metric.py
Labels: bug / fix, 0:] Ready-To-Go

#1535 Reduce flaky tests (#1535
  tests/unittests/audio/test_snr.py
  tests/unittests/image/test_lpips.py
  tests/unittests/multimodal/test_clip_score.py
  tests/unittests/text/test_infolm.py
Labels: test / CI

#1542 typing 1/n adjustment for base class
  pyproject.toml
  src/torchmetrics/metric.py
Labels: enhancement, 0:] Ready-To-Go

#1493 Improve speed and memory consumption of binned `PrecisionRecallCurve`
  CHANGELOG.md
  src/torchmetrics/functional/classification/precision_recall_curve.py
Labels: 0:] Ready-To-Go

#1480 Adding support for `plot()` in image metrics
  CHANGELOG.md
  examples/plotting.py
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/image/d_lambda.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/image/uqi.py
  src/torchmetrics/regression/mse.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1540 add `ignore_index` option to `exact_match` metric
  CHANGELOG.md
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/functional/classification/exact_match.py
  tests/unittests/classification/test_exact_match.py
Labels: bug / fix

#1521 fix `ConfusionMatrix` and `StatScores` for num_classes > 16
  CHANGELOG.md
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_stat_scores.py
Labels: bug / fix, 0:] Ready-To-Go

#1545 Add specific docs on lightning + MetricTracker combination
  docs/source/pages/lightning.rst
Labels: documentation, 0:] Ready-To-Go

#1501 Add parameter `top_k` to `RetrievalMAP`
  CHANGELOG.md
  src/torchmetrics/functional/retrieval/average_precision.py
  src/torchmetrics/retrieval/average_precision.py
  tests/unittests/retrieval/helpers.py
  tests/unittests/retrieval/test_map.py
Labels: enhancement, 0:] Ready-To-Go

#1544 Faster CI using shared pool
  tests/unittests/__init__.py
  tests/unittests/audio/test_pit.py
  tests/unittests/audio/test_si_sdr.py
  tests/unittests/audio/test_si_snr.py
  tests/unittests/audio/test_snr.py
  tests/unittests/bases/test_aggregation.py
  tests/unittests/bases/test_ddp.py
  tests/unittests/classification/inputs.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_auroc.py
  tests/unittests/classification/test_average_precision.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_cohen_kappa.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_exact_match.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_hamming_distance.py
  tests/unittests/classification/test_hinge.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_matthews_corrcoef.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/classification/test_ranking.py
  tests/unittests/classification/test_recall_at_fixed_precision.py
  tests/unittests/classification/test_roc.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_specificity_at_sensitivity.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/conftest.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/test_d_lambda.py
  tests/unittests/image/test_ergas.py
  tests/unittests/image/test_ms_ssim.py
  tests/unittests/image/test_psnr.py
  tests/unittests/image/test_sam.py
  tests/unittests/image/test_ssim.py
  tests/unittests/image/test_uqi.py
  tests/unittests/nominal/test_cramers.py
  tests/unittests/nominal/test_pearson.py
  tests/unittests/nominal/test_theils_u.py
  tests/unittests/nominal/test_tschuprows.py
  tests/unittests/pairwise/test_pairwise_distance.py
  tests/unittests/regression/test_concordance.py
  tests/unittests/regression/test_cosine_similarity.py
  tests/unittests/regression/test_explained_variance.py
  tests/unittests/regression/test_kendall.py
  tests/unittests/regression/test_kl_divergence.py
  tests/unittests/regression/test_log_cosh_error.py
  tests/unittests/regression/test_mean_error.py
  tests/unittests/regression/test_pearson.py
  tests/unittests/regression/test_r2.py
  tests/unittests/regression/test_spearman.py
  tests/unittests/regression/test_tweedie_deviance.py
  tests/unittests/retrieval/inputs.py
  tests/unittests/retrieval/test_fallout.py
  tests/unittests/text/helpers.py
  tests/unittests/text/inputs.py
  tests/unittests/utilities/test_auc.py
  tests/unittests/wrappers/test_minmax.py
  tests/unittests/wrappers/test_multioutput.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#1499 Deterministic cumsum
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/ranking.py
  src/torchmetrics/functional/regression/kendall.py
  src/torchmetrics/functional/retrieval/precision_recall_curve.py
  src/torchmetrics/functional/text/helper_embedding_metric.py
  src/torchmetrics/utilities/data.py
  src/torchmetrics/utilities/exceptions.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/utilities/test_utilities.py
Labels: bug / fix, 0:] Ready-To-Go

#1490 Add plot functionality to AUROC and ROC metrics
  CHANGELOG.md
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1547 corrects an infinitesimal typo in README.md
  README.md
Labels: 0:] Ready-To-Go

#1362 Added `MinkowskiDistance` support
  CHANGELOG.md
  docs/source/links.rst
  docs/source/pairwise/minkowski_distance.rst
  docs/source/regression/minkowski_distance.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/pairwise/__init__.py
  src/torchmetrics/functional/pairwise/minkowski.py
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/minkowski.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/minkowski.py
  tests/unittests/pairwise/test_pairwise_distance.py
  tests/unittests/regression/test_minkowski_distance.py
Labels: New metric, 0:] Ready-To-Go

#1549 typing 2/n adjustment for aggregation
  pyproject.toml
  src/torchmetrics/aggregation.py
Labels: bug / fix, 0:] Ready-To-Go

#1551 precommit: update black & ruff
  .pre-commit-config.yaml
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/classification/hinge.py
  src/torchmetrics/functional/classification/specificity_at_sensitivity.py
  src/torchmetrics/functional/text/bleu.py
  src/torchmetrics/functional/text/chrf.py
  src/torchmetrics/functional/text/eed.py
  src/torchmetrics/functional/text/sacre_bleu.py
  src/torchmetrics/functional/text/ter.py
  src/torchmetrics/metric.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/utilities/checks.py
  tests/unittests/bases/test_aggregation.py
  tests/unittests/bases/test_ddp.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/image/test_lpips.py
  tests/unittests/nominal/test_cramers.py
  tests/unittests/pairwise/test_pairwise_distance.py
  tests/unittests/text/test_cer.py
  tests/unittests/utilities/test_auc.py
  tests/unittests/wrappers/test_bootstrapping.py
Labels: bug / fix, 0:] Ready-To-Go

#1527 Enhance Panoptic Quality implementation
  CHANGELOG.md
  src/torchmetrics/detection/panoptic_quality.py
  src/torchmetrics/functional/detection/panoptic_quality.py
  tests/unittests/detection/test_panoptic_quality.py
Labels: enhancement, 0:] Ready-To-Go

#1557 ci/azure: try to use local tmp as cache
  .azure/gpu-pipeline.yml
Labels: test / CI, 0:] Ready-To-Go

#1552 ci: refactor cashing
  .github/actions/caching/action.yml
  .github/actions/pull-caches/action.yml
  .github/actions/push-caches/action.yml
  .github/actions/unittesting/action.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests-full.yml
  .github/workflows/cleanup-caches.yml
  requirements.txt
  requirements/detection.txt
  requirements/image.txt
Labels: enhancement, test / CI, 0:] Ready-To-Go, refactoring

#1554 typing 3/n: Fix typing issues for `text` package
  pyproject.toml
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/functional/text/squad.py
  src/torchmetrics/text/mer.py
Labels: bug / fix, 0:] Ready-To-Go

#1555 typing 4/n: fix typing issues for `utilities`
  pyproject.toml
  src/torchmetrics/utilities/checks.py
  src/torchmetrics/utilities/data.py
  src/torchmetrics/wrappers/tracker.py
Labels: bug / fix, 0:] Ready-To-Go

#1558 typing 5/n: Fix typing issues for `regression` package
  pyproject.toml
  src/torchmetrics/functional/regression/cosine_similarity.py
  src/torchmetrics/functional/regression/explained_variance.py
  src/torchmetrics/functional/regression/kl_divergence.py
  src/torchmetrics/functional/regression/log_mse.py
  src/torchmetrics/functional/regression/mae.py
  src/torchmetrics/functional/regression/mape.py
  src/torchmetrics/functional/regression/mse.py
  src/torchmetrics/functional/regression/r2.py
  src/torchmetrics/functional/regression/symmetric_mape.py
  src/torchmetrics/functional/regression/wmape.py
  src/torchmetrics/regression/explained_variance.py
  src/torchmetrics/regression/kl_divergence.py
Labels: bug / fix, 0:] Ready-To-Go

#1485 Plot method for aggregation + refactor tests
  CHANGELOG.md
  src/torchmetrics/aggregation.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/metric.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#816 Add `RelativeAverageSpectralError` and `RootMeanSquaredErrorUsingSlidingWindow`
  CHANGELOG.md
  docs/source/image/relative_average_spectral_error.rst
  docs/source/image/root_mean_squared_error_using_sliding_window.rst
  docs/source/links.rst
  requirements/image_test.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/helper.py
  src/torchmetrics/functional/image/rase.py
  src/torchmetrics/functional/image/rmse_sw.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/rase.py
  src/torchmetrics/image/rmse_sw.py
  tests/unittests/image/test_rase.py
  tests/unittests/image/test_rmse_sw.py
Labels: New metric, 0:] Ready-To-Go

#1565 refactor: explicit `plot_options` & use `super().plot(...)`
  src/torchmetrics/aggregation.py
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/image/d_lambda.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/image/uqi.py
  src/torchmetrics/metric.py
  src/torchmetrics/regression/mse.py
Labels: enhancement, 0:] Ready-To-Go, refactoring

#1572 pkg: fix skip links
  .azure/gpu-pipeline.yml
  README.md
  setup.py
Labels: bug / fix, Priority, 0:] Ready-To-Go
