Repository Lightning-AI/torchmetrics, pull requests merged in 2023-09, with the labels that each got.

#2039 ci: fuse ci & publish docker
  .github/workflows/docker-build.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-pkg.yml
Labels: test / CI, 0:] Ready-To-Go

#2038 ci: add missing labeler job
  .github/workflows/labeler.yml
Labels: 0:] Ready-To-Go

#2042 Improved the performance of RecallAtFixedPrecision for large batch sizes
  CHANGELOG.md
  src/torchmetrics/functional/classification/recall_fixed_precision.py
Labels: 0:] Ready-To-Go, topic: Classif

#2044 Docs: fix code reference links
  docs/source/pages/lightning.rst
Labels: documentation, 0:] Ready-To-Go

#2045 Create inputs.py for clustering tests
  tests/unittests/clustering/inputs.py
  tests/unittests/clustering/test_mutual_info_score.py
  tests/unittests/clustering/test_normalized_mutual_info_score.py
  tests/unittests/clustering/test_rand_score.py
Labels: 0:] Ready-To-Go, refactoring

#2060 Fix plot splitter
  CHANGELOG.md
  src/torchmetrics/utilities/plot.py
  tests/unittests/utilities/test_plot.py
Labels: bug / fix, 0:] Ready-To-Go

#2052 Fix bootstrapping with few samples
  CHANGELOG.md
  src/torchmetrics/wrappers/bootstrapping.py
  tests/unittests/wrappers/test_bootstrapping.py
Labels: bug / fix, 0:] Ready-To-Go

#2051 Clarify language about one-vs-rest for classification metrics
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/recall_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity_sensitivity.py
Labels: 0:] Ready-To-Go, topic: Classif

#2049 New Metric: Dunn Index
  CHANGELOG.md
  docs/source/clustering/dunn_index.rst
  docs/source/links.rst
  src/torchmetrics/clustering/__init__.py
  src/torchmetrics/clustering/dunn_index.py
  src/torchmetrics/functional/clustering/__init__.py
  src/torchmetrics/functional/clustering/dunn_index.py
  src/torchmetrics/functional/clustering/utils.py
  tests/unittests/clustering/inputs.py
  tests/unittests/clustering/test_calinski_harabasz_score.py
  tests/unittests/clustering/test_dunn_index.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, New metric, 0:] Ready-To-Go, topic: Cluster

#2031 Fix tie breaking in ndcg metric
  CHANGELOG.md
  src/torchmetrics/functional/retrieval/ndcg.py
  tests/unittests/retrieval/test_ndcg.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Retrieval

#2034 `MeanAveragePrecision` backend
  docs/source/links.rst
  requirements/detection_test.txt
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/detection/test_map.py
Labels: documentation, enhancement, 0:] Ready-To-Go, topic: Detect

#2066 New metric: Fowlkes-Mallows Index
  CHANGELOG.md
  docs/source/links.rst
  src/torchmetrics/clustering/__init__.py
  src/torchmetrics/clustering/fowlkes_mallows_index.py
  src/torchmetrics/functional/clustering/__init__.py
  src/torchmetrics/functional/clustering/fowlkes_mallows_index.py
  tests/unittests/clustering/test_fowlkes_mallows_index.py
Labels: documentation, 0:] Ready-To-Go, topic: Cluster

#2070 Bugfix for custom prefix/postfix and metric collection
  CHANGELOG.md
  src/torchmetrics/collections.py
  tests/unittests/bases/test_collections.py
Labels: bug / fix, 0:] Ready-To-Go

#2072 ci: build dockers with `workflow_dispatch`
  .github/workflows/docker-build.yml
Labels: test / CI

#2081 Update examples in running
  src/torchmetrics/wrappers/running.py
Labels: 0:] Ready-To-Go

#2082 Fix an inappropriate test expression to remove a logical short circuit
  src/torchmetrics/detection/_mean_ap.py
Labels: 0:] Ready-To-Go, topic: Detect

#2083 Change broken links
  docs/source/links.rst
Labels: documentation

#2061 Improvements to docs on custom implementations
  docs/source/pages/implement.rst
  docs/source/references/utilities.rst
  src/torchmetrics/utilities/__init__.py
  src/torchmetrics/utilities/distributed.py
Labels: documentation, 0:] Ready-To-Go

#2053 New metrics: Homogeneity, Completness, V-Measure
  CHANGELOG.md
  docs/source/clustering/completeness_score.rst
  docs/source/clustering/homogeneity_score.rst
  docs/source/clustering/v_measure_score.rst
  docs/source/links.rst
  src/torchmetrics/clustering/__init__.py
  src/torchmetrics/clustering/homogeneity_completeness_v_measure.py
  src/torchmetrics/functional/clustering/__init__.py
  src/torchmetrics/functional/clustering/homogeneity_completeness_v_measure.py
  tests/unittests/clustering/test_homogeneity_completeness_v_measure.py
Labels: documentation, New metric, 0:] Ready-To-Go, topic: Cluster

#2058 New metric: Adjusted mutual info score
  CHANGELOG.md
  docs/source/clustering/adjusted_mutual_info_score.rst
  docs/source/links.rst
  src/torchmetrics/clustering/__init__.py
  src/torchmetrics/clustering/adjusted_mutual_info_score.py
  src/torchmetrics/functional/clustering/__init__.py
  src/torchmetrics/functional/clustering/adjusted_mutual_info_score.py
  src/torchmetrics/functional/clustering/normalized_mutual_info_score.py
  src/torchmetrics/functional/clustering/utils.py
  tests/unittests/clustering/test_adjusted_mutual_info_score.py
Labels: documentation, topic: Cluster

#2086 Minor fixes before next release
  CHANGELOG.md
  docs/source/clustering/fowlkes_mallows_index.rst
  src/torchmetrics/clustering/adjusted_mutual_info_score.py
  src/torchmetrics/clustering/adjusted_rand_score.py
  src/torchmetrics/clustering/calinski_harabasz_score.py
  src/torchmetrics/clustering/davies_bouldin_score.py
  src/torchmetrics/clustering/dunn_index.py
  src/torchmetrics/clustering/fowlkes_mallows_index.py
  src/torchmetrics/clustering/homogeneity_completeness_v_measure.py
  src/torchmetrics/clustering/mutual_info_score.py
  src/torchmetrics/clustering/normalized_mutual_info_score.py
  src/torchmetrics/clustering/rand_score.py
  src/torchmetrics/functional/clustering/fowlkes_mallows_index.py
Labels: documentation, 0:] Ready-To-Go, topic: Cluster

#2085 Add section on wrappers to overview pages
  docs/source/pages/overview.rst
Labels: documentation, 0:] Ready-To-Go

#2090 refactor: unify on `num` instead of `nb` or `n`
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/collections.py
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/panoptic_qualities.py
  src/torchmetrics/functional/audio/srmr.py
  src/torchmetrics/functional/classification/cohen_kappa.py
  src/torchmetrics/functional/classification/ranking.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/functional/clustering/calinski_harabasz_score.py
  src/torchmetrics/functional/clustering/davies_bouldin_score.py
  src/torchmetrics/functional/clustering/utils.py
  src/torchmetrics/functional/detection/_panoptic_quality_common.py
  src/torchmetrics/functional/image/psnr.py
  src/torchmetrics/functional/image/psnrb.py
  src/torchmetrics/functional/nominal/cramers.py
  src/torchmetrics/functional/nominal/fleiss_kappa.py
  src/torchmetrics/functional/nominal/tschuprows.py
  src/torchmetrics/functional/nominal/utils.py
  src/torchmetrics/functional/regression/explained_variance.py
  src/torchmetrics/functional/regression/log_cosh.py
  src/torchmetrics/functional/regression/log_mse.py
  src/torchmetrics/functional/regression/mae.py
  src/torchmetrics/functional/regression/mse.py
  src/torchmetrics/functional/regression/pearson.py
  src/torchmetrics/functional/regression/r2.py
  src/torchmetrics/functional/regression/rse.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/psnrb.py
  src/torchmetrics/regression/explained_variance.py
  src/torchmetrics/regression/log_cosh.py
  src/torchmetrics/regression/log_mse.py
  src/torchmetrics/regression/mae.py
  src/torchmetrics/regression/mse.py
Labels: 0:] Ready-To-Go, refactoring, topic: Audio, topic: Image, topic: Cluster, topic: Classif, topic: Detect, topic: Regress, topic: Nominal

#2092 adding sample slash command - rebase
  .github/workflows/cmd-help.yml
  .github/workflows/cmd-rebase.yml
  .github/workflows/slash-cmd-dispatch.yml
Labels: test / CI, 0:] Ready-To-Go

#2096 precommit: unify formatting with prettier
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .codecov.yml
  .devcontainer/devcontainer.json
  .github/actions/pull-caches/action.yml
  .github/actions/push-caches/action.yml
  .github/actions/unittesting/action.yml
  .github/markdown.links.config.json
  .github/mergify.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  .github/workflows/clear-cache.yml
  .github/workflows/docs-build.yml
  .github/workflows/focus-diff.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/publish-pkg.yml
  .pre-commit-config.yaml
  .prettierignore
  .readthedocs.yml
  CITATION.cff
  docs/source/_static/copybutton.js
  docs/source/_templates/layout.html
Labels: documentation, 0:] Ready-To-Go

#2098 docs: fix MD links
  .github/labeling-config.yml
  .github/markdown-links-config.json
  .github/workflows/ci-checks.yml
  README.md
Labels: 0:] Ready-To-Go

#2097 docs: switch to new Lit template
  .devcontainer/Dockerfile
  .github/workflows/docs-build.yml
  .readthedocs.yml
  docs/rtfd-build.sh
  docs/source/conf.py
  requirements/docs.txt
Labels: documentation, 0:] Ready-To-Go

#2104 docs: fixing links to the hosted docs
  README.md
  docs/source/_templates/theme_variables.jinja
  docs/source/pages/implement.rst
  src/torchmetrics/__about__.py
Labels: documentation, 0:] Ready-To-Go

#2101 rtfd: fix building with stable/latest
  docs/redirect.html
  docs/rtfd-build.sh
Labels: documentation, Priority, 0:] Ready-To-Go

#2112 hunting some more typos
  CHANGELOG.md
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/audio/srmr.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/audio/srmr.py
  src/torchmetrics/functional/classification/dice.py
  src/torchmetrics/functional/classification/specificity_sensitivity.py
  src/torchmetrics/functional/clustering/adjusted_rand_score.py
  src/torchmetrics/functional/clustering/rand_score.py
  src/torchmetrics/functional/clustering/utils.py
  src/torchmetrics/functional/regression/kl_divergence.py
  src/torchmetrics/functional/text/chrf.py
  src/torchmetrics/functional/text/ter.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/text/chrf.py
  src/torchmetrics/text/ter.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/audio/test_sdr.py
  tests/unittests/clustering/test_utils.py
  tests/unittests/retrieval/helpers.py
Labels: documentation, 0:] Ready-To-Go, topic: Audio, topic: Text, topic: Cluster, topic: Classif, topic: Regress

#2102 check typos & fixing some...
  .github/workflows/ci-checks.yml
  .github/workflows/docs-build.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/functional/regression/tweedie_deviance.py
  src/torchmetrics/functional/text/chrf.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/functional/text/ter.py
  src/torchmetrics/functional/text/wil.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/text/wil.py
  tests/unittests/bases/test_collections.py
  tests/unittests/pairwise/test_pairwise_distance.py
Labels: topic: Text, topic: Image, topic: Classif, topic: Regress

#2114 fix pesq docs
  src/torchmetrics/audio/pesq.py
Labels: 0:] Ready-To-Go, topic: Audio

#2116 add @matsumotosan to core
  docs/source/governance.rst
Labels: documentation, 0:] Ready-To-Go
