Repository Lightning-AI/torchmetrics, pull requests merged in 2023-03, with the labels that each got.

#1574 ci: cache PyTorch home
  .azure/gpu-pipeline.yml
  .github/actions/pull-caches/action.yml
  .github/actions/push-caches/action.yml
Labels: test / CI, 0:] Ready-To-Go

#1576 Fix corner case for `R2Score`
  CHANGELOG.md
  src/torchmetrics/functional/regression/r2.py
  src/torchmetrics/regression/r2.py
  tests/unittests/regression/test_r2.py
Labels: bug / fix, 0:] Ready-To-Go

#1584 Ingore beta divergence link for `make-docs` check (#1584
  docs/source/conf.py
Labels: bug / fix, documentation, 0:] Ready-To-Go

#1582 Change plot style
  .github/workflows/ci-tests-full.yml
  .github/workflows/docs-check.yml
  requirements/visual.txt
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/utilities/plot.py
Labels: enhancement, 0:] Ready-To-Go

#1581 Add `plot` to nominal
  CHANGELOG.md
  docs/source/nominal/cramers_v.rst
  docs/source/nominal/pearsons_contingency_coefficient.rst
  docs/source/nominal/theils_u.rst
  docs/source/nominal/tschuprows_t.rst
  src/torchmetrics/nominal/cramers.py
  src/torchmetrics/nominal/pearson.py
  src/torchmetrics/nominal/theils_u.py
  src/torchmetrics/nominal/tschuprows.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1404 Binary group fairness metrics
  CHANGELOG.md
  docs/source/classification/group_fairness.rst
  docs/source/links.rst
  pyproject.toml
  requirements/classification_test.txt
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/group_fairness.py
  tests/unittests/classification/inputs.py
  tests/unittests/classification/test_group_fairness.py
  tests/unittests/helpers/testers.py
Labels: New metric, 0:] Ready-To-Go

#1586 ruff: fix couple of issues in `src`
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/functional/classification/group_fairness.py
  src/torchmetrics/functional/image/helper.py
  src/torchmetrics/functional/image/rase.py
  src/torchmetrics/functional/image/rmse_sw.py
  src/torchmetrics/image/rase.py
  src/torchmetrics/image/rmse_sw.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/regression/test_mean_error.py
  tests/unittests/regression/test_r2.py
Labels: documentation

#1587 Fix cornercase for `PearsonCorrCoef`
  CHANGELOG.md
  src/torchmetrics/regression/pearson.py
  tests/unittests/regression/test_pearson.py
Labels: bug / fix, 0:] Ready-To-Go

#1593 Add plotting 7/n
  CHANGELOG.md
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1589 fix interaction between `top_k` and `ignore_index`
  CHANGELOG.md
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_stat_scores.py
Labels: bug / fix, 0:] Ready-To-Go

#1585 Add `plot` to detection
  CHANGELOG.md
  docs/source/conf.py
  examples/plotting.py
  requirements/docs.txt
  src/torchmetrics/aggregation.py
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/detection/panoptic_quality.py
  src/torchmetrics/image/d_lambda.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/image/uqi.py
  src/torchmetrics/regression/mse.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1603 Add README plotting examples
  README.md
  docs/source/_static/images/plot_example.png
Labels: documentation, 0:] Ready-To-Go

#1600 Add plotting 8/n
  CHANGELOG.md
  requirements/docs.txt
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/rase.py
  src/torchmetrics/image/rmse_sw.py
  src/torchmetrics/image/tv.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1605 Add plotting 8/n
  CHANGELOG.md
  src/torchmetrics/regression/concordance.py
  src/torchmetrics/regression/cosine_similarity.py
  src/torchmetrics/regression/explained_variance.py
  src/torchmetrics/regression/kendall.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/regression/log_cosh.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1607 Fix int overflow in `MAP`
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
Labels: bug / fix, 0:] Ready-To-Go

#1608 Specify usage of metric tracker
  CHANGELOG.md
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: enhancement, 0:] Ready-To-Go

#1609 Add plotting 9/n (#1609
  CHANGELOG.md
  src/torchmetrics/regression/log_mse.py
  src/torchmetrics/regression/mae.py
  src/torchmetrics/regression/mape.py
  src/torchmetrics/regression/minkowski.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1610 Add plotting 10/n
  CHANGELOG.md
  src/torchmetrics/retrieval/precision.py
  src/torchmetrics/retrieval/r_precision.py
  src/torchmetrics/retrieval/recall.py
  src/torchmetrics/retrieval/reciprocal_rank.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1612 docs: Replace Fisher-Rao distance link to wiki by a relevant paper
  docs/source/links.rst
Labels: bug / fix, documentation, 0:] Ready-To-Go

#1614 ruff: fixing RET504
  pyproject.toml
  src/torchmetrics/functional/audio/pesq.py
  src/torchmetrics/functional/audio/stoi.py
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/group_fairness.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/functional/image/rase.py
  src/torchmetrics/functional/nominal/utils.py
  src/torchmetrics/functional/regression/kendall.py
  src/torchmetrics/functional/regression/r2.py
  src/torchmetrics/functional/regression/symmetric_mape.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/functional/text/infolm.py
  src/torchmetrics/functional/text/rouge.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/metric.py
  tests/unittests/regression/test_cosine_similarity.py
  tests/unittests/regression/test_kendall.py
  tests/unittests/regression/test_r2.py
  tests/unittests/wrappers/test_multioutput.py
Labels: enhancement, 0:] Ready-To-Go

#1615 ruff: ANN - static annotations
  .github/assistant.py
  examples/plotting.py
  pyproject.toml
  setup.py
  src/torchmetrics/__init__.py
  src/torchmetrics/aggregation.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/detection/panoptic_quality.py
  src/torchmetrics/metric.py
  src/torchmetrics/nominal/cramers.py
  src/torchmetrics/nominal/pearson.py
  src/torchmetrics/nominal/theils_u.py
  src/torchmetrics/nominal/tschuprows.py
  src/torchmetrics/regression/kendall.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/text/bleu.py
  src/torchmetrics/text/cer.py
  src/torchmetrics/text/chrf.py
  src/torchmetrics/text/eed.py
  src/torchmetrics/text/infolm.py
  src/torchmetrics/text/mer.py
  src/torchmetrics/text/perplexity.py
  src/torchmetrics/text/rouge.py
  src/torchmetrics/text/sacre_bleu.py
  src/torchmetrics/text/squad.py
  src/torchmetrics/text/ter.py
  src/torchmetrics/text/wer.py
  src/torchmetrics/text/wil.py
  src/torchmetrics/text/wip.py
  src/torchmetrics/utilities/checks.py
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/wrappers/multioutput.py
  tests/integrations/lightning/boring_model.py
  tests/integrations/test_lightning.py
  tests/unittests/bases/test_collections.py
  tests/unittests/bases/test_composition.py
  tests/unittests/bases/test_ddp.py
  tests/unittests/bases/test_metric.py
  tests/unittests/classification/test_group_fairness.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_inception.py
  tests/unittests/image/test_kid.py
Labels: enhancement, 0:] Ready-To-Go

#1622 ci: add mapping for PT 2.0
  requirements/adjust-versions.py
Labels: Priority, test / CI, 0:] Ready-To-Go

#1621 Add plotting 11/n
  CHANGELOG.md
  src/torchmetrics/regression/pearson.py
  src/torchmetrics/regression/r2.py
  src/torchmetrics/regression/spearman.py
  src/torchmetrics/regression/symmetric_mape.py
  src/torchmetrics/regression/tweedie_deviance.py
  src/torchmetrics/regression/wmape.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1623 Add plotting 12/n
  CHANGELOG.md
  src/torchmetrics/retrieval/average_precision.py
  src/torchmetrics/retrieval/fall_out.py
  src/torchmetrics/retrieval/hit_rate.py
  src/torchmetrics/retrieval/ndcg.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1616 ruff: S
  .github/assistant.py
  .pre-commit-config.yaml
  examples/bert_score-own_model.py
  pyproject.toml
  requirements/adjust-versions.py
  setup.py
  src/torchmetrics/functional/classification/calibration_error.py
Labels: enhancement, 0:] Ready-To-Go

#1626 ci: optional link check
  .github/workflows/docs-check.yml
Labels: test / CI, 0:] Ready-To-Go

#1625 ci: testing with PT 2.0.0
  .azure/gpu-pipeline.yml
  .github/workflows/ci-tests-full.yml
  requirements.txt
  requirements/adjust-versions.py
  requirements/detection.txt
  requirements/image.txt
  src/torchmetrics/wrappers/tracker.py
Labels: Priority, test / CI, 0:] Ready-To-Go

#1624 Add plotting 13/n
  CHANGELOG.md
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/recall_at_fixed_precision.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/metric.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1630 ci: unfreeze for master
  .azure/gpu-pipeline.yml
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests-full.yml
  .github/workflows/clear-cache.yml
  setup.py
Labels: test / CI, 0:] Ready-To-Go

#1633 Update documentation to lightning 2.0
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  tests/integrations/lightning/boring_model.py
  tests/integrations/test_lightning.py
Labels: documentation, 0:] Ready-To-Go

#1631 Add plotting 14/n
  CHANGELOG.md
  src/torchmetrics/text/cer.py
  src/torchmetrics/text/eed.py
  src/torchmetrics/text/mer.py
  src/torchmetrics/text/wer.py
  src/torchmetrics/text/wil.py
  src/torchmetrics/text/wip.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1638 Add plotting 15/n
  CHANGELOG.md
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1628 Allow FID with torch.float64
  CHANGELOG.md
  src/torchmetrics/image/fid.py
  tests/unittests/image/test_fid.py
Labels: bug / fix, 0:] Ready-To-Go

#1642 Fix precision-recall curve based computations for float target
  CHANGELOG.md
  src/torchmetrics/functional/classification/precision_recall_curve.py
Labels: bug / fix, 0:] Ready-To-Go

#1655 Fid: error on too few samples
  CHANGELOG.md
  src/torchmetrics/image/fid.py
  tests/unittests/image/test_fid.py
Labels: bug / fix, 0:] Ready-To-Go

#1606 Enchance use of `data_range` in image metrics
  CHANGELOG.md
  src/torchmetrics/functional/image/psnr.py
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/ssim.py
  tests/unittests/image/test_psnr.py
  tests/unittests/image/test_ssim.py
Labels: enhancement, 0:] Ready-To-Go

#1651 Silently failing DDP syncing when initializing Metric with jsonargparse
  CHANGELOG.md
  src/torchmetrics/metric.py
Labels: bug / fix, 0:] Ready-To-Go

#1639 Add plotting 16/n
  CHANGELOG.md
  requirements/docs.txt
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/wrappers/bootstrapping.py
  src/torchmetrics/wrappers/classwise.py
  src/torchmetrics/wrappers/minmax.py
  src/torchmetrics/wrappers/multioutput.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/multimodal/test_clip_score.py
  tests/unittests/utilities/test_plot.py
  tests/unittests/wrappers/test_tracker.py
Labels: enhancement, 0:] Ready-To-Go

#1660 Add plotting 18/n
  CHANGELOG.md
  examples/plotting.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/specificity_at_sensitivity.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/utilities/plot.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1650 Add plotting 17/n
  CHANGELOG.md
  requirements/docs.txt
  src/torchmetrics/metric.py
  src/torchmetrics/text/bert.py
  src/torchmetrics/text/bleu.py
  src/torchmetrics/text/chrf.py
  src/torchmetrics/text/infolm.py
  src/torchmetrics/text/perplexity.py
  src/torchmetrics/text/rouge.py
  src/torchmetrics/text/sacre_bleu.py
  src/torchmetrics/text/squad.py
  src/torchmetrics/text/ter.py
  tests/unittests/utilities/test_plot.py
Labels: enhancement, 0:] Ready-To-Go

#1673 ci/docs: build & upload
  .github/workflows/ci-tests-full.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-check.yml
  README.md
  src/torchmetrics/text/bert.py
Labels: documentation, test / CI

#1671 ci: testing with `torch=2.0`
  .azure/gpu-pipeline.yml
Labels: Priority, test / CI, 0:] Ready-To-Go
