Repository Lightning-AI/torchmetrics, pull requests merged in 2024-04, with the labels that each got.

#2491 docs: fix specificity when metric is not defined
  src/torchmetrics/classification/specificity.py
Labels: topic: Classif

#2502 Update `make docs` command
  Makefile
Labels: bug / fix

#2501 Supress warnings in `MeanAveragePrecision` when intended
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, ready, topic: Detect

#2503 Fix bootstrapper not working with kwargs arguments
  CHANGELOG.md
  src/torchmetrics/wrappers/bootstrapping.py
  tests/unittests/wrappers/test_bootstrapping.py
Labels: bug / fix, ready

#2498 Fix error in ergas calculation
  CHANGELOG.md
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/functional/image/ergas.py
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/image/ergas.py
  tests/unittests/image/test_ergas.py
Labels: bug / fix, ready, topic: Image

#2505 docs: Fix math formatting for ERGAS equation
  src/torchmetrics/image/ergas.py
Labels: documentation, topic: Image

#2493 Clear `list` states (i.e. delete their contents), not reassign the default `[]`
  CHANGELOG.md
  docs/source/pages/implement.rst
  src/torchmetrics/metric.py
  tests/unittests/bases/test_metric.py
Labels: documentation, ready

#2483 Support for `torch.float` weighted networks for FID and KID calculations.
  CHANGELOG.md
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/kid.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_kid.py
Labels: ready, topic: Image

#2507 Fix cornercase of average precision
  CHANGELOG.md
  src/torchmetrics/functional/classification/precision_recall_curve.py
  tests/unittests/classification/test_average_precision.py
Labels: bug / fix, ready, topic: Classif

#2482 Update chrf.py to remove torch Warnings
  src/torchmetrics/functional/text/chrf.py
  tests/unittests/text/test_sacre_bleu.py
  tests/unittests/text/test_ter.py
Labels: ready, topic: Text

#2456 text: reduce lang. specific `mecab-ko`
  requirements/text.txt
  requirements/text_test.txt
  tests/unittests/text/test_sacre_bleu.py
Labels: ready

#2468 Fix list syncronization with partly empty lists
  CHANGELOG.md
  src/torchmetrics/metric.py
  tests/unittests/bases/test_ddp.py
Labels: bug / fix, ready

#2511 Add label names to roc curve plots
  src/torchmetrics/classification/roc.py
  src/torchmetrics/utilities/plot.py
Labels: ready, topic: Classif

#1236 [Segmentation] Add mean IoU
  CHANGELOG.md
  docs/source/segmentation/mean_iou.rst
  src/torchmetrics/functional/segmentation/__init__.py
  src/torchmetrics/functional/segmentation/mean_iou.py
  src/torchmetrics/functional/segmentation/utils.py
  src/torchmetrics/segmentation/__init__.py
  src/torchmetrics/segmentation/mean_iou.py
  tests/unittests/segmentation/test_mean_iou.py
Labels: documentation, Priority, New metric, ready

#2512 Add optional color map parameter for confusion matrix
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/utilities/plot.py
Labels: enhancement, topic: Classif
