Repository Lightning-AI/torchmetrics, pull requests merged in 2024-05, with the labels that each got.

#2198 Add `zero_division` option to the precision, recall, f1, fbeta.
  CHANGELOG.md
  requirements/_tests.txt
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/utilities/compute.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_sensitivity_specificity.py
  tests/unittests/retrieval/test_ndcg.py
Labels: Priority, ready, topic: Classif

#2508 docs: initialize Sphinx Gallery
  .azure/gpu-unittests.yml
  .github/workflows/docs-build.yml
  .gitignore
  README.md
  _samples/bert_score-own_model.py
  _samples/detection_map.py
  _samples/plotting.py
  _samples/rouge_score-own_normalizer_and_tokenizer.py
  docs/source/conf.py
  docs/source/index.rst
  examples/README.rst
  examples/image/README.rst
  examples/image/spatial_correlation_coef.py
  pyproject.toml
  requirements/_docs.txt
Labels: documentation, ready

#2543 Don't import `pretty_errors`
  requirements/debug.txt
  src/torchmetrics/__init__.py
Labels: ready

#2392 Add `MetricInputTransformer`
  CHANGELOG.md
  docs/source/wrappers/transformations.rst
  src/torchmetrics/wrappers/__init__.py
  src/torchmetrics/wrappers/transformations.py
  tests/unittests/wrappers/test_transformations.py
Labels: documentation, ready

#2546 docs: clarify the docs of PanopticQuality inputs
  src/torchmetrics/detection/panoptic_qualities.py
Labels: ready, topic: Detect

#2548 fix unpredictable panoptic_quality output when `return_per_class=True`
  CHANGELOG.md
  src/torchmetrics/detection/panoptic_qualities.py
  src/torchmetrics/functional/detection/_panoptic_quality_common.py
  tests/unittests/detection/test_panoptic_quality.py
Labels: ready, topic: Detect

#2573 Fix documentation in ERGAS metric
  src/torchmetrics/image/ergas.py
Labels: ready, topic: Image

#2572 Add `input_format` argument to segmentation metrics
  CHANGELOG.md
  src/torchmetrics/functional/segmentation/generalized_dice.py
  src/torchmetrics/functional/segmentation/mean_iou.py
  src/torchmetrics/segmentation/generalized_dice.py
  src/torchmetrics/segmentation/mean_iou.py
  tests/unittests/segmentation/test_generalized_dice_score.py
  tests/unittests/segmentation/test_mean_iou.py
Labels: bug / fix, ready

#2574 Fix bootstrapper wrapper not being reset correctly
  CHANGELOG.md
  docs/source/pages/overview.rst
  src/torchmetrics/wrappers/bootstrapping.py
  tests/unittests/wrappers/test_bootstrapping.py
Labels: bug / fix, documentation, ready

#2557 docs: use util's `linkcode_resolve`
  docs/source/conf.py
Labels: documentation, ready
