Repository Lightning-AI/torchmetrics, pull requests merged in 2024-12, with the labels that each got.

#2848 Fix issue with shared state of `MetricCollection` compute group when using `DiceScore(average="weighted")`
  CHANGELOG.md
  src/torchmetrics/segmentation/dice.py
  tests/unittests/segmentation/test_dice.py
Labels: ready

#2836 bump: testing with next PyTorch 2.6
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  requirements/audio.txt
  requirements/base.txt
  requirements/detection.txt
  requirements/image.txt
  src/torchmetrics/utilities/data.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/image/test_uqi.py
  tests/unittests/utilities/test_utilities.py
Labels: enhancement, test / CI, ready

#2840 Delete Device2Host caused by comm with device and host
  CHANGELOG.md
  src/torchmetrics/functional/classification/calibration_error.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/hinge.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/utilities/compute.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_auroc.py
  tests/unittests/classification/test_average_precision.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_cohen_kappa.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_exact_match.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_group_fairness.py
  tests/unittests/classification/test_hamming_distance.py
  tests/unittests/classification/test_jaccard.py
  tests/unittests/classification/test_logauc.py
  tests/unittests/classification/test_matthews_corrcoef.py
  tests/unittests/classification/test_negative_predictive_value.py
  tests/unittests/classification/test_precision_fixed_recall.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_precision_recall_curve.py
  tests/unittests/classification/test_ranking.py
  tests/unittests/classification/test_recall_fixed_precision.py
  tests/unittests/classification/test_roc.py
  tests/unittests/classification/test_sensitivity_specificity.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_specificity_sensitivity.py
  tests/unittests/classification/test_stat_scores.py
Labels: ready, topic: Classif

#2867 enable specifying weights path for fid
  CHANGELOG.md
  src/torchmetrics/image/fid.py
Labels: ready, topic: Image

#2858 Bugfix so multilabel confusion matrix can plot for 2 or more labels
  CHANGELOG.md
  src/torchmetrics/utilities/plot.py
  tests/unittests/classification/test_confusion_matrix.py
Labels: bug / fix, ready

#2839 Fix `top_k` for `multiclass-f1score`
  CHANGELOG.md
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_f_beta.py
  tests/unittests/classification/test_precision_recall.py
  tests/unittests/classification/test_specificity.py
  tests/unittests/classification/test_stat_scores.py
Labels: bug / fix, ready, topic: Classif
