Repository Lightning-AI/torchmetrics, pull requests merged in 2024-03, with the labels that each got.

#2390 fix: `MetricCollection` did not copy the inner state of the metric in `ClasswiseWrapper` when computing group metrics
  src/torchmetrics/wrappers/classwise.py
  tests/unittests/bases/test_collections.py
Labels: bug / fix, 0:] Ready-To-Go

#2424 Feat: make `__getattr__` and `__setattr__` of ClasswiseWrapper more general
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
Labels: enhancement

#2432 lint/ruff: replace `pyupgrade` with rule "UP"
  .pre-commit-config.yaml
  pyproject.toml
Labels: enhancement

#2423 Bugfix/topk accuracy
  CHANGELOG.md
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/utilities/compute.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_precision_recall.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Classif

#2426 Improve docs for `ERGAS` metric
  docs/source/links.rst
  src/torchmetrics/functional/image/ergas.py
  src/torchmetrics/image/ergas.py
Labels: documentation, 0:] Ready-To-Go, topic: Image

#2436 lint/ruff: apply to whole repo & bump `v0.3.0`
  .pre-commit-config.yaml
  docs/source/conf.py
  pyproject.toml
  src/torchmetrics/functional/detection/_panoptic_quality_common.py
  src/torchmetrics/functional/image/lpips.py
Labels: documentation, topic: Image, topic: Detect

#2437 Fix how auc scores are calculated in `PrecisionRecallCurve.plot` methods
  CHANGELOG.md
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/functional/classification/auroc.py
  src/torchmetrics/utilities/compute.py
Labels: bug / fix, ready, topic: Classif

#2427 Fix label checking in classification
  CHANGELOG.md
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_confusion_matrix.py
  tests/unittests/classification/test_stat_scores.py
Labels: bug / fix, ready, topic: Classif

#2429 Fix plotting of metric collection when prefix/postfix is set
  CHANGELOG.md
  src/torchmetrics/collections.py
  tests/unittests/utilities/test_plot.py
Labels: bug / fix, ready

#2452 typing: mark line ignores instead of ignore whole files
  pyproject.toml
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/helpers.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/image/psnr.py
  src/torchmetrics/functional/image/ssim.py
Labels: topic: Image, topic: Classif, topic: Detect

#2457 Update Discord links
  README.md
Labels: documentation, ready

#2435 docs: pin version in links to external docs
  .github/workflows/docs-build.yml
  README.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  docs/source/pages/quickstart.rst
  requirements/_docs.txt
  requirements/base.txt
  src/torchmetrics/__about__.py
Labels: documentation, ready

#2462 Fix axis names
  CHANGELOG.md
  src/torchmetrics/utilities/plot.py
Labels: ready

#2455 ci: enable updating ref. caches
  .azure/gpu-unittests.yml
  .github/actions/pull-caches/action.yml
Labels: test / CI

#2467 Fix return type documentation of inception score
  src/torchmetrics/image/inception.py
Labels: topic: Image

#2381 Add support for SQ & RQ as well as per-class metrics
  CHANGELOG.md
  src/torchmetrics/detection/_deprecated.py
  src/torchmetrics/detection/panoptic_qualities.py
  src/torchmetrics/functional/detection/_deprecated.py
  src/torchmetrics/functional/detection/_panoptic_quality_common.py
  src/torchmetrics/functional/detection/panoptic_qualities.py
  tests/unittests/detection/test_modified_panoptic_quality.py
  tests/unittests/detection/test_panoptic_quality.py
Labels: enhancement, ready, topic: Detect

#2476 docs: use fixed version of adjust links to 'stable'
  Makefile
  docs/source/conf.py
  requirements/_docs.txt
Labels: documentation

#2480 ci/gpu: compress computed caches & bump `torch~2.2.2`
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  requirements/audio.txt
  requirements/base.txt
  requirements/typing.txt
Labels: Priority, test / CI

#2475 ci: build & test with next `torch~=2.3`
  .azure/gpu-unittests.yml
  .github/workflows/docker-build.yml
Labels: test / CI
