Repository Lightning-AI/torchmetrics, pull requests merged in 2024-11, with the labels that each got.

#2830 Fix mixed results of `rouge_score` with `accumulate='best'`
  CHANGELOG.md
  src/torchmetrics/functional/text/rouge.py
  tests/unittests/text/test_rouge.py
Labels: ready, topic: Text

#2377 New metric: `LogAUC`
  CHANGELOG.md
  docs/source/classification/logauc.rst
  docs/source/links.rst
  requirements/classification_test.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/logauc.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/logauc.py
  src/torchmetrics/utilities/data.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/classification/test_logauc.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, enhancement, New metric, ready, topic: Classif

#2838 Fix typo in error message
  src/torchmetrics/functional/classification/stat_scores.py
Labels: topic: Classif
