Repository Lightning-AI/torchmetrics, pull requests merged in 2024-07, with the labels that each got.

#2609 bump: add testing with future `torch~2.4`
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  dockers/ubuntu-cuda/Dockerfile
  requirements/audio.txt
  requirements/base.txt
  requirements/detection.txt
  requirements/image.txt
Labels: enhancement, Important

#2599 docs: Fix the rouge internal example
  src/torchmetrics/functional/text/rouge.py
Labels: ready, topic: Text

#2629 tests: seeds for stability
  pyproject.toml
  tests/unittests/classification/test_hinge.py
  tests/unittests/classification/test_stat_scores.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_inception.py
  tests/unittests/image/test_kid.py
  tests/unittests/image/test_mifid.py
Labels: bug / fix, enhancement, test / CI

#2607 docs: Add gallery for ROUGE
  examples/text/rouge.py
Labels: ready

#2626 Bertscore warnings
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/text/bert.py
Labels: topic: Text

#2634 Fix math typo in confusion matrix doc
  src/torchmetrics/classification/confusion_matrix.py
Labels: ready, topic: Classif

#2525 Add new Audio metric DNSMOS
  CHANGELOG.md
  docs/source/audio/deep_noise_suppression_mean_opinion_score.rst
  docs/source/links.rst
  requirements/audio.txt
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/audio/dnsmos.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/audio/dnsmos.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/audio/test_dnsmos.py
Labels: documentation, ready, topic: Audio

#2635 Dimension mismatch error: fix string formatting
  src/torchmetrics/functional/classification/stat_scores.py
Labels: topic: Classif

#2347 fix Bug in BertScore calculation: pred target misalignment
  CHANGELOG.md
  src/torchmetrics/functional/text/bert.py
  tests/unittests/text/test_bertscore.py
Labels: bug / fix, ready, topic: Text

#2627 Add gallery for BERTScore
  examples/text/bertscore.py
Labels: ready

#2605 add multi-output argument in MAE
  CHANGELOG.md
  src/torchmetrics/functional/regression/mae.py
  src/torchmetrics/regression/mae.py
  tests/unittests/regression/test_mean_error.py
Labels: ready, topic: Regress

#2636 Fix `_cumsum` helper function in multi-gpu
  src/torchmetrics/utilities/data.py
  tests/unittests/utilities/test_utilities.py
Labels: bug / fix, ready

#2639 docker: use GPU onnx only
  .github/assistant.py
  dockers/ubuntu-cuda/Dockerfile
  pyproject.toml
  requirements/audio.txt
Labels: bug / fix, enhancement

#2642 Slight BERTScore gallery modifications for accuracy and styling
  examples/text/bertscore.py
Labels: documentation, ready

#2641 Add example to SNR gallery and clean up
  examples/audio/signal_to_noise_ratio.py
Labels: ready

#2640 Update `_safe_divide` to allow `Accuracy` to run on the GPU
  CHANGELOG.md
  src/torchmetrics/utilities/compute.py
  tests/unittests/classification/test_accuracy.py
Labels: bug / fix, ready
