Repository Lightning-AI/torchmetrics, pull requests merged in 2024-08, with the labels that each got.

#2667 fix missed f-strings
  src/torchmetrics/collections.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/audio/snr.py
  src/torchmetrics/regression/spearman.py
  src/torchmetrics/utilities/plot.py
Labels: topic: Audio, topic: Detect, topic: Regress

#2668 text: temp drop `Chrf` implementation
  src/torchmetrics/functional/text/_deprecated.py
  src/torchmetrics/functional/text/chrf.py
  src/torchmetrics/text/_deprecated.py
  src/torchmetrics/text/chrf.py
  tests/unittests/text/test_chrf.py
Labels: topic: Text

#2670 ci: prune testing matrix & set PT 2.4 as stable
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  requirements/typing.txt
Labels: test / CI

#2675 bump: `pystoi>=0.4` for `scipy` compatibility
  requirements/audio.txt
Labels: bug / fix

#2649 Feature/tracker higher is better integration
  CHANGELOG.md
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: enhancement, ready

#2701 text: re-adding Chrf implementation
  src/torchmetrics/functional/text/_deprecated.py
  src/torchmetrics/functional/text/chrf.py
  src/torchmetrics/text/_deprecated.py
  src/torchmetrics/text/chrf.py
  tests/unittests/text/test_chrf.py
Labels: ready, topic: Text

#2702 tests: move reset seed to fixture [1/2]
  src/conftest.py
  src/torchmetrics/audio/_deprecated.py
  src/torchmetrics/audio/dnsmos.py
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/pit.py
  src/torchmetrics/audio/sdr.py
  src/torchmetrics/audio/snr.py
  src/torchmetrics/audio/srmr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/clustering/calinski_harabasz_score.py
  src/torchmetrics/clustering/davies_bouldin_score.py
  src/torchmetrics/functional/audio/_deprecated.py
  src/torchmetrics/functional/audio/dnsmos.py
  src/torchmetrics/functional/audio/pesq.py
  src/torchmetrics/functional/audio/sdr.py
  src/torchmetrics/functional/audio/snr.py
  src/torchmetrics/functional/audio/srmr.py
  src/torchmetrics/functional/audio/stoi.py
  src/torchmetrics/functional/classification/ranking.py
  src/torchmetrics/functional/clustering/calinski_harabasz_score.py
  src/torchmetrics/functional/clustering/davies_bouldin_score.py
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/functional/image/d_lambda.py
  src/torchmetrics/functional/image/d_s.py
  src/torchmetrics/functional/image/ergas.py
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/functional/image/perceptual_path_length.py
  src/torchmetrics/functional/image/psnrb.py
  src/torchmetrics/functional/image/qnr.py
  src/torchmetrics/functional/image/rase.py
  src/torchmetrics/functional/image/rmse_sw.py
  src/torchmetrics/functional/image/sam.py
  src/torchmetrics/functional/image/scc.py
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/functional/image/tv.py
  src/torchmetrics/functional/multimodal/clip_iqa.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/nominal/cramers.py
  src/torchmetrics/functional/nominal/fleiss_kappa.py
  src/torchmetrics/functional/nominal/pearson.py
  src/torchmetrics/functional/nominal/theils_u.py
  src/torchmetrics/functional/nominal/tschuprows.py
  src/torchmetrics/functional/nominal/utils.py
  src/torchmetrics/functional/regression/wmape.py
  src/torchmetrics/functional/segmentation/generalized_dice.py
  src/torchmetrics/functional/segmentation/mean_iou.py
  src/torchmetrics/functional/text/_deprecated.py
  src/torchmetrics/functional/text/perplexity.py
  tests/unittests/segmentation/test_generalized_dice_score.py
Labels: ready, topic: Audio, topic: Text, topic: Image, topic: Cluster, topic: Classif, topic: MModal, topic: Regress, topic: Nominal

#2674 improve: update `InfoLM` class to dynamically set `higher_is_better`
  CHANGELOG.md
  src/torchmetrics/text/infolm.py
  tests/unittests/text/test_infolm.py
Labels: bug / fix, enhancement, ready, topic: Text

#2706 tests: move reset seed to fixture [2/2]
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/image/d_lambda.py
  src/torchmetrics/image/d_s.py
  src/torchmetrics/image/ergas.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/mifid.py
  src/torchmetrics/image/perceptual_path_length.py
  src/torchmetrics/image/psnrb.py
  src/torchmetrics/image/qnr.py
  src/torchmetrics/image/rase.py
  src/torchmetrics/image/rmse_sw.py
  src/torchmetrics/image/sam.py
  src/torchmetrics/image/scc.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/image/tv.py
  src/torchmetrics/image/vif.py
  src/torchmetrics/multimodal/clip_iqa.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/nominal/cramers.py
  src/torchmetrics/nominal/fleiss_kappa.py
  src/torchmetrics/nominal/pearson.py
  src/torchmetrics/nominal/theils_u.py
  src/torchmetrics/nominal/tschuprows.py
  src/torchmetrics/regression/wmape.py
  src/torchmetrics/segmentation/generalized_dice.py
  src/torchmetrics/segmentation/mean_iou.py
  src/torchmetrics/text/_deprecated.py
  src/torchmetrics/text/perplexity.py
  src/torchmetrics/wrappers/bootstrapping.py
  src/torchmetrics/wrappers/classwise.py
  src/torchmetrics/wrappers/feature_share.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/segmentation/test_generalized_dice_score.py
Labels: ready, topic: Text, topic: Image, topic: MModal, topic: Regress, topic: Nominal
