Repository Lightning-AI/torchmetrics, pull requests merged in 2024-02, with the labels that each got.

#2350 ci: redo HF cashing
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/actions/pull-caches/action.yml
  .github/actions/push-caches/action.yml
  tests/unittests/utilities/test_utilities.py
Labels: bug / fix, Priority, test / CI, 0:] Ready-To-Go

#2356 Try fixing FeatureShare failing on windows
  tests/unittests/wrappers/test_feature_share.py
Labels: test / CI

#2288 Add new metric "quality with no reference"
  CHANGELOG.md
  docs/source/image/quality_with_no_reference.rst
  docs/source/links.rst
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/qnr.py
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/qnr.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/test_qnr.py
Labels: documentation, New metric, 0:] Ready-To-Go, topic: Image

#2359 ci: test only diff with GPU
  .azure/gpu-unittests.yml
  .github/workflows/_focus-diff.yml
  .github/workflows/ci-tests.yml
Labels: enhancement, test / CI, 0:] Ready-To-Go

#2351 tests: fixture for `use_deterministic_algorithms`
  tests/unittests/conftest.py
  tests/unittests/utilities/test_utilities.py
Labels: test / CI, 0:] Ready-To-Go

#2345 Update implement.rst
  docs/source/pages/implement.rst
Labels: documentation

#2346 Memory optimization of perplexity metric
  CHANGELOG.md
  src/torchmetrics/functional/text/perplexity.py
Labels: enhancement, 0:] Ready-To-Go, topic: Text

#2362 ci: patch run with no tests
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
Labels: bug / fix, test / CI, 0:] Ready-To-Go

#2330 Prefix postfix args in clone for multitask
  src/torchmetrics/wrappers/multitask.py
  tests/unittests/wrappers/test_multitask.py
Labels: enhancement, 0:] Ready-To-Go

#2366 Initialize aggregation metrics with default floating type
  CHANGELOG.md
  src/torchmetrics/aggregation.py
  tests/unittests/bases/test_aggregation.py
Labels: bug / fix, 0:] Ready-To-Go

#2364 fix ignored custom callable in retrieval metric aggregation
  CHANGELOG.md
  src/torchmetrics/retrieval/base.py
  tests/unittests/retrieval/helpers.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Retrieval

#2367 Fix naming of statistics in `MeanAveragePrecision` with custom max det thresholds
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, 0:] Ready-To-Go, has conflicts, topic: Detect

#2349 Fix multitask wrapper not being logged in lightning when used together with collections
  CHANGELOG.md
  src/torchmetrics/wrappers/multitask.py
  tests/integrations/test_lightning.py
  tests/unittests/wrappers/test_multitask.py
Labels: bug / fix, 0:] Ready-To-Go

#2358 Improve confusion matrix plotting
  CHANGELOG.md
  src/torchmetrics/utilities/plot.py
Labels: enhancement

#2326 Fix backprop in LPIPS
  CHANGELOG.md
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/lpip.py
  tests/unittests/image/test_lpips.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Image

#2372 tests: group skip wrappers & make them optional
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  tests/unittests/__init__.py
  tests/unittests/conftest.py
  tests/unittests/helpers/__init__.py
  tests/unittests/helpers/wrappers.py
  tests/unittests/image/test_perceptual_path_length.py
  tests/unittests/multimodal/test_clip_iqa.py
  tests/unittests/multimodal/test_clip_score.py
  tests/unittests/text/helpers.py
  tests/unittests/text/test_bertscore.py
  tests/unittests/text/test_infolm.py
  tests/unittests/text/test_rouge.py
Labels: 0:] Ready-To-Go

#2378 Clamp variance calculation in certain image metrics
  CHANGELOG.md
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/functional/image/uqi.py
Labels: bug / fix, 0:] Ready-To-Go, topic: Image

#2379 Fix dtype casting in spearman and pearson
  CHANGELOG.md
  src/torchmetrics/functional/regression/pearson.py
  src/torchmetrics/metric.py
  src/torchmetrics/regression/spearman.py
Labels: bug / fix, enhancement, 0:] Ready-To-Go, topic: Regress

#2370 Deprecate/change kl divergence input order
  src/torchmetrics/functional/regression/kl_divergence.py
  src/torchmetrics/regression/kl_divergence.py
  tests/unittests/test_deprecated.py
Labels: 0:] Ready-To-Go, topic: Regress

#2217 Add SensitivityAtSpecificity metric
  CHANGELOG.md
  docs/source/classification/sensitivity_at_specificity.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/sensitivity_specificity.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/sensitivity_specificity.py
  tests/unittests/classification/test_sensitivity_specificity.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, 0:] Ready-To-Go, topic: Classif

#2386 Refix dtype in aggregation metrics
  src/torchmetrics/aggregation.py
  tests/unittests/bases/test_aggregation.py
  tests/unittests/bases/test_metric.py
Labels: bug / fix, 0:] Ready-To-Go

#2391 Fix Perplexity docs
  src/torchmetrics/text/perplexity.py
Labels: 0:] Ready-To-Go, topic: Text

#2401 lint: enable sphinx check
  .pre-commit-config.yaml
Labels: enhancement, 0:] Ready-To-Go

#2400 Docs: fix typo in wip
  src/torchmetrics/text/wip.py
Labels: documentation, topic: Text

#2403 lint: pyproject & fixing
  .pre-commit-config.yaml
  pyproject.toml
Labels: bug / fix, enhancement, 0:] Ready-To-Go

#2382 CI/tests: cache reference metrics | PoC w/ `text`
  .azure/gpu-unittests.yml
  .github/actions/pull-caches/action.yml
  .github/actions/push-caches/action.yml
  .github/workflows/ci-tests.yml
  requirements/_tests.txt
  tests/unittests/__init__.py
  tests/unittests/audio/__init__.py
  tests/unittests/detection/__init__.py
  tests/unittests/image/__init__.py
  tests/unittests/text/helpers.py
  tests/unittests/text/test_bertscore.py
  tests/unittests/text/test_bleu.py
  tests/unittests/text/test_cer.py
  tests/unittests/text/test_chrf.py
  tests/unittests/text/test_edit.py
  tests/unittests/text/test_eed.py
  tests/unittests/text/test_infolm.py
  tests/unittests/text/test_mer.py
  tests/unittests/text/test_perplexity.py
  tests/unittests/text/test_rouge.py
  tests/unittests/text/test_ter.py
  tests/unittests/text/test_wil.py
  tests/unittests/text/test_wip.py
Labels: enhancement, test / CI, 0:] Ready-To-Go

#2408 ci: bump torch `2.2.1`
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  requirements/audio.txt
  requirements/base.txt
  requirements/typing.txt
Labels: Priority, test / CI

#2407 CI/tests: cache reference metrics | others/base
  .azure/gpu-unittests.yml
  requirements/_tests.txt
  src/torchmetrics/functional/image/d_s.py
  src/torchmetrics/functional/image/rase.py
  src/torchmetrics/functional/image/rmse_sw.py
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/functional/image/uqi.py
  src/torchmetrics/functional/image/utils.py
  tests/unittests/helpers/testers.py
  tests/unittests/image/test_rase.py
  tests/unittests/image/test_scc.py
Labels: test / CI, topic: Image

#2413 ci: hotfix PRs' diff for GH actions
  .github/workflows/_focus-diff.yml
Labels: bug / fix, Priority, test / CI

#2414 tests: prefer cache for missing config
  .github/actions/pull-caches/action.yml
  .github/actions/push-caches/action.yml
  .gitignore
  src/torchmetrics/utilities/imports.py
  tests/unittests/classification/test_group_fairness.py
  tests/unittests/image/test_fid.py
  tests/unittests/image/test_inception.py
  tests/unittests/image/test_kid.py
  tests/unittests/image/test_lpips.py
  tests/unittests/image/test_mifid.py
  tests/unittests/image/test_perceptual_path_length.py
  tests/unittests/multimodal/test_clip_iqa.py
  tests/unittests/nominal/test_cramers.py
  tests/unittests/nominal/test_pearson.py
  tests/unittests/nominal/test_theils_u.py
  tests/unittests/nominal/test_tschuprows.py
  tests/unittests/text/test_bertscore.py
  tests/unittests/text/test_cer.py
  tests/unittests/text/test_chrf.py
  tests/unittests/text/test_infolm.py
  tests/unittests/text/test_mer.py
  tests/unittests/text/test_rouge.py
  tests/unittests/text/test_sacre_bleu.py
  tests/unittests/text/test_ter.py
  tests/unittests/text/test_wer.py
  tests/unittests/text/test_wil.py
  tests/unittests/text/test_wip.py
Labels: test / CI, 0:] Ready-To-Go

#2385 ci: adding testing with mac M1
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  Makefile
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/functional/image/rase.py
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/image/rase.py
  tests/unittests/audio/test_pesq.py
Labels: Priority, test / CI, 0:] Ready-To-Go, topic: Image
