Repository Lightning-AI/torchmetrics, pull requests merged in 2024-06, with the labels that each got.

#2571 Fix incorrect caching of MetricCollection
  CHANGELOG.md
  src/torchmetrics/collections.py
  src/torchmetrics/metric.py
  tests/unittests/bases/test_collections.py
Labels: bug / fix, ready

#2577 Add better errors when wrong input is received in detection intersection metrics
  CHANGELOG.md
  src/torchmetrics/functional/detection/ciou.py
  src/torchmetrics/functional/detection/diou.py
  src/torchmetrics/functional/detection/giou.py
  src/torchmetrics/functional/detection/iou.py
  tests/unittests/detection/test_intersection.py
Labels: enhancement, ready, topic: Detect

#2581 Fix weird docker error
  src/torchmetrics/metric.py
Labels: bug / fix, ready

#2588 Fix bug in `MeanAveragePrecision.coco_to_tm`
  src/torchmetrics/detection/mean_ap.py
  tests/unittests/detection/test_map.py
Labels: bug / fix, ready, topic: Detect

#2575 Add `_filter_kwargs` method to `ClasswiseWrapper` for better integration with `MetricCollection`
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
  tests/unittests/wrappers/test_classwise.py
Labels: enhancement, ready

#2589 Add custom css gallery thumbnails
  docs/source/_static/css/custom.css
  docs/source/conf.py
Labels: documentation, ready

#2590 Calculate text color of ConfusionMatrix plot based on luminance
  CHANGELOG.md
  docs/source/_static/images/plot_example.png
  src/torchmetrics/utilities/plot.py
Labels: documentation, ready

#2595 ci/docs: disable building gallery with RTFD
  docs/rtfd-build.sh
Labels: documentation

#2591 docs: Add gallery for Perplexity
  examples/text/README.rst
  examples/text/perplexity.py
Labels: ready

#2578 docs: Add gallery for CLIPScore
  examples/image/clip_score.py
Labels: documentation, ready

#2606 clean up Audio requirements
  .github/workflows/docs-build.yml
  requirements/audio.txt
  requirements/audio_test.txt
  tests/unittests/audio/test_si_sdr.py
  tests/unittests/audio/test_si_snr.py
Labels: ready
