Repository Lightning-AI/torchmetrics, pull requests merged in 2024-09, with the labels that each got.

#2650 Fix flakyness in tests related to `torch.unique` with `dim=None`
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_stat_scores.py
Labels: test / CI, ready, topic: Classif

#2712 bump/ci: utilities to `0.11.7`
  .github/workflows/ci-checks.yml
  .github/workflows/clear-cache.yml
Labels: bug / fix

#2709 ci/gpu: debug skipped cache
  .azure/gpu-nuke-cache.yml
  .azure/gpu-unittests.yml
  requirements/_docs.txt
  requirements/_tests.txt
  requirements/text.txt
  src/torchmetrics/audio/dnsmos.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/functional/audio/dnsmos.py
  src/torchmetrics/functional/audio/stoi.py
  tests/unittests/audio/test_stoi.py
  tests/unittests/segmentation/test_generalized_dice_score.py
Labels: topic: Audio

#2720 Integration test for `MetricCollection`, `ClasswiseWrapper` and `self.log_dict` method
  tests/integrations/test_lightning.py
Labels: test / CI

#2719 Add another pitfall to docs that can happen when using `rank_zero_only` decorator in lightning
  docs/source/pages/lightning.rst
Labels: documentation, ready

#2724 Correct tags in documentation
  docs/source/multimodal/clip_iqa.rst
  docs/source/multimodal/clip_score.rst
  docs/source/regression/kl_divergence.rst
  docs/source/segmentation/generalized_dice.rst
Labels: documentation

#2721 correct the padding related calculation errors in SSIM
  CHANGELOG.md
  src/torchmetrics/functional/image/_deprecated.py
  src/torchmetrics/functional/image/ssim.py
  src/torchmetrics/image/_deprecated.py
  src/torchmetrics/image/ssim.py
  tests/unittests/image/test_ssim.py
Labels: bug / fix, ready, topic: Image

#2722 Fix how `prefix`/`posfix` works in `MultitaskWrapper`
  CHANGELOG.md
  src/torchmetrics/wrappers/multitask.py
  tests/unittests/wrappers/test_multitask.py
Labels: bug / fix, enhancement, ready

#2726 Fix: handle zero division error in binary IoU calculation
  CHANGELOG.md
  src/torchmetrics/functional/classification/jaccard.py
  tests/unittests/classification/test_jaccard.py
Labels: bug / fix, ready, topic: Classif

#2736 bump some testing requirements
  requirements/classification_test.txt
  requirements/nominal_test.txt
  requirements/visual.txt
Labels: bug / fix, test / CI

#2705 Deprecate `num_outputs` in R2 because it is no longer needed
  CHANGELOG.md
  src/torchmetrics/regression/r2.py
  tests/unittests/test_deprecated.py
Labels: enhancement, ready, topic: Regress

#2698 Fix `segmentation.MeanIoU`
  CHANGELOG.md
  src/torchmetrics/metric.py
  src/torchmetrics/segmentation/mean_iou.py
  tests/unittests/_helpers/testers.py
Labels: bug / fix, ready

#2740 ci/doc: install with `-e` to resolve source links
  .github/workflows/docs-build.yml
  docs/source/conf.py
Labels: documentation

#2732 Add RunLLM chat widget to TorchMetrics
  docs/source/_static/runllm.js
  docs/source/conf.py
Labels: documentation, ready

#2743 Fix corner case in `MatthewsCorrcoef`
  CHANGELOG.md
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  tests/unittests/classification/test_matthews_corrcoef.py
Labels: bug / fix, ready, topic: Classif
