Repository Lightning-AI/torchmetrics, pull requests merged in 2024-10, with the labels that each got.

#2518 docs: try autobuild for local dev
  Makefile
  docs/Makefile
  requirements/_docs.txt
Labels: documentation

#2765 fix: pearson changes inputs
  CHANGELOG.md
  src/torchmetrics/functional/image/rmse_sw.py
  src/torchmetrics/functional/regression/concordance.py
  src/torchmetrics/functional/regression/pearson.py
  tests/unittests/regression/test_pearson.py
Labels: bug / fix, ready, topic: Image, topic: Regress

#2771 Doc fixes for `SMAPE` and `R2Score`
  src/torchmetrics/regression/r2.py
  src/torchmetrics/regression/symmetric_mape.py
Labels: ready, topic: Regress

#2770 Update description for `MeanAveragePrecision` metric
  src/torchmetrics/detection/mean_ap.py
Labels: ready, topic: Detect

#2753 Ignore the `NoUtterancesError` when calculating pesq for a batch
  CHANGELOG.md
  src/torchmetrics/functional/audio/pesq.py
Labels: enhancement, ready, topic: Audio

#2772 Integration test for minmax, collection, lightning
  docs/source/pages/lightning.rst
  tests/integrations/test_lightning.py
Labels: documentation, test / CI, ready

#2775 Smaller fixes to docs + integration tests
  docs/source/pages/implement.rst
  docs/source/pages/lightning.rst
  src/torchmetrics/classification/group_fairness.py
  src/torchmetrics/clustering/dunn_index.py
  tests/integrations/test_lightning.py
Labels: documentation, test / CI, ready, topic: Cluster, topic: Classif

#2723 Newmetric: `ProcrustesDisparity`
  CHANGELOG.md
  docs/source/index.rst
  docs/source/links.rst
  docs/source/segmentation/mean_iou.rst
  docs/source/shape/procrustes.rst
  src/torchmetrics/functional/shape/__init__.py
  src/torchmetrics/functional/shape/procrustes.py
  src/torchmetrics/shape/__init__.py
  src/torchmetrics/shape/procrustes.py
  tests/unittests/shape/__init__.py
  tests/unittests/shape/test_procrustes.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, New metric, ready

#2776 Add possibility to control the truncation in bert score
  CHANGELOG.md
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/functional/text/helper_embedding_metric.py
  src/torchmetrics/text/bert.py
  tests/unittests/text/test_bertscore.py
Labels: bug / fix, enhancement, ready, topic: Text

#2785 Improve CI stability for clustering examples
  src/torchmetrics/clustering/calinski_harabasz_score.py
  src/torchmetrics/functional/clustering/calinski_harabasz_score.py
  src/torchmetrics/functional/clustering/davies_bouldin_score.py
Labels: test / CI, topic: Cluster

#2780 Fix corner case when single empty pred is provided to detection `IOU` metric
  CHANGELOG.md
  src/torchmetrics/detection/iou.py
  tests/unittests/detection/test_intersection.py
Labels: bug / fix, ready, topic: Detect

#2755 docs: adding PESQ example to gallery
  examples/audio/pesq.py
  examples/audio/signal_to_noise_ratio.py
  examples/image/clip_score.py
  pyproject.toml
Labels: enhancement

#2788 Fix overflow for `PSNR` metric when used with `uint8` input
  CHANGELOG.md
  src/torchmetrics/functional/image/psnr.py
  tests/unittests/image/test_psnr.py
Labels: bug / fix, topic: Image

#2671 bump: support `torch>=2.0`
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  CHANGELOG.md
  requirements/_tests.txt
  requirements/audio.txt
  requirements/base.txt
  requirements/detection.txt
  requirements/image.txt
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/audio/srmr.py
  src/torchmetrics/detection/__init__.py
  src/torchmetrics/detection/_deprecated.py
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/ciou.py
  src/torchmetrics/detection/diou.py
  src/torchmetrics/detection/giou.py
  src/torchmetrics/detection/iou.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/detection/panoptic_qualities.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/audio/srmr.py
  src/torchmetrics/functional/detection/__init__.py
  src/torchmetrics/functional/detection/_deprecated.py
  src/torchmetrics/functional/detection/ciou.py
  src/torchmetrics/functional/detection/diou.py
  src/torchmetrics/functional/detection/giou.py
  src/torchmetrics/functional/detection/iou.py
  src/torchmetrics/functional/detection/panoptic_qualities.py
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/perceptual_path_length.py
  src/torchmetrics/utilities/data.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/audio/test_sdr.py
  tests/unittests/audio/test_srmr.py
  tests/unittests/audio/test_stoi.py
  tests/unittests/bases/test_collections.py
  tests/unittests/classification/test_calibration_error.py
  tests/unittests/classification/test_sensitivity_specificity.py
  tests/unittests/detection/test_intersection.py
  tests/unittests/detection/test_map.py
  tests/unittests/detection/test_modified_panoptic_quality.py
  tests/unittests/detection/test_panoptic_quality.py
  tests/unittests/regression/test_kendall.py
  tests/unittests/utilities/test_plot.py
  tests/unittests/utilities/test_utilities.py
Labels: ready, topic: Audio, topic: Image, topic: Detect

#2790 bump: Torch `2.5.0`
  .azure/gpu-integrations.yml
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  requirements/_integrate.txt
  requirements/audio.txt
  requirements/base.txt
  requirements/detection.txt
  requirements/image.txt
  requirements/typing.txt
Labels: enhancement, Priority, test / CI

#2793 retain type of `_modules` when renaming keys
  CHANGELOG.md
  src/torchmetrics/collections.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/wrappers/test_multitask.py
Labels: bug / fix

#2442 Newmetric: NRMSE
  CHANGELOG.md
  docs/source/conf.py
  docs/source/links.rst
  docs/source/regression/normalized_root_mean_squared_error.rst
  requirements/_devel.txt
  requirements/regression_test.txt
  src/torchmetrics/__init__.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/nrmse.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/nrmse.py
  tests/README.md
  tests/unittests/regression/test_mean_error.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, enhancement, New metric, ready, topic: Regress

#2800 Remove deprecated code
  CHANGELOG.md
  src/torchmetrics/functional/regression/kl_divergence.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/regression/r2.py
  tests/unittests/regression/test_r2.py
  tests/unittests/test_deprecated.py
Labels: ready, topic: Regress

#2803 ci: fix missed testing with oldest
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docs-build.yml
  requirements/segmentation_test.txt
  setup.py
  src/conftest.py
  src/torchmetrics/collections.py
  tests/unittests/segmentation/test_generalized_dice_score.py
Labels: bug / fix, Priority, test / CI

#2804 Re-adding `numpy` 2+ support
  requirements/audio.txt
  requirements/base.txt
Labels: bug / fix, enhancement

#2806 Bugfix for empty preds or target in iou scores
  CHANGELOG.md
  src/torchmetrics/detection/iou.py
  src/torchmetrics/functional/detection/ciou.py
  src/torchmetrics/functional/detection/diou.py
  src/torchmetrics/functional/detection/giou.py
  src/torchmetrics/functional/detection/iou.py
  tests/unittests/detection/test_intersection.py
Labels: bug / fix, ready, topic: Detect

#2811 fix assert in pit.py
  src/torchmetrics/functional/audio/pit.py
Labels: ready, topic: Audio

#2792 Add NISQA metric
  CHANGELOG.md
  docs/source/audio/non_intrusive_speech_quality_assessment.rst
  docs/source/links.rst
  src/torchmetrics/audio/__init__.py
  src/torchmetrics/audio/nisqa.py
  src/torchmetrics/functional/audio/__init__.py
  src/torchmetrics/functional/audio/nisqa.py
  tests/unittests/audio/test_nisqa.py
Labels: documentation, ready, topic: Audio

#2786 Feature: `merge_state` method
  CHANGELOG.md
  src/torchmetrics/clustering/adjusted_rand_score.py
  src/torchmetrics/clustering/dunn_index.py
  src/torchmetrics/clustering/rand_score.py
  src/torchmetrics/metric.py
  tests/unittests/bases/test_metric.py
Labels: enhancement, ready, topic: Cluster

#2433 Newmetric: Negative predictive value
  CHANGELOG.md
  docs/source/classification/negative_predictive_value.rst
  docs/source/links.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/negative_predictive_value.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/negative_predictive_value.py
  tests/unittests/classification/test_negative_predictive_value.py
Labels: documentation, enhancement, New metric, ready, topic: Classif

#2813 Fix `MetricCollection` compatibility with `torch.jit.script`
  CHANGELOG.md
  src/torchmetrics/collections.py
  tests/unittests/bases/test_collections.py
Labels: bug / fix, ready

#2754 Enable autograd graph to propagate after multi-device syncing for loss functions in `ddp`
  CHANGELOG.md
  docs/source/pages/overview.rst
  src/torchmetrics/utilities/distributed.py
  tests/unittests/bases/test_ddp.py
  tests/unittests/conftest.py
Labels: documentation, enhancement, ready

#2814 docs: specify directives
  .github/CONTRIBUTING.md
  docs/source/pages/implement.rst
  docs/source/pages/lightning.rst
  docs/source/pages/overview.rst
  src/torchmetrics/audio/dnsmos.py
  src/torchmetrics/audio/nisqa.py
  src/torchmetrics/audio/pesq.py
  src/torchmetrics/audio/srmr.py
  src/torchmetrics/audio/stoi.py
  src/torchmetrics/classification/calibration_error.py
  src/torchmetrics/classification/cohen_kappa.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/classification/hinge.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/precision_fixed_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/recall_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/collections.py
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/audio/dnsmos.py
  src/torchmetrics/functional/audio/nisqa.py
  src/torchmetrics/functional/audio/pesq.py
  src/torchmetrics/functional/audio/srmr.py
  src/torchmetrics/functional/audio/stoi.py
  src/torchmetrics/functional/classification/dice.py
  src/torchmetrics/functional/image/gradients.py
  src/torchmetrics/functional/image/psnr.py
  src/torchmetrics/functional/multimodal/clip_iqa.py
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/functional/regression/log_mse.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/inception.py
  src/torchmetrics/image/kid.py
  src/torchmetrics/image/lpip.py
  src/torchmetrics/image/mifid.py
  src/torchmetrics/image/perceptual_path_length.py
  src/torchmetrics/image/psnrb.py
  src/torchmetrics/metric.py
  src/torchmetrics/multimodal/clip_iqa.py
  src/torchmetrics/multimodal/clip_score.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/regression/log_mse.py
  src/torchmetrics/retrieval/base.py
  src/torchmetrics/retrieval/precision_recall_curve.py
  src/torchmetrics/wrappers/multitask.py
Labels: documentation, topic: Audio, topic: Image, topic: Classif, topic: Retrieval, topic: Detect, topic: MModal, topic: Regress
