Repository Lightning-AI/torchmetrics, pull requests merged in 2025-04, with the labels that each got.

#3040 Improve testing of wrappers
  tests/unittests/wrappers/test_feature_share.py
  tests/unittests/wrappers/test_multitask.py
  tests/unittests/wrappers/test_tracker.py
Labels: test / CI

#3024 Newmetric: CRPS
  CHANGELOG.md
  docs/source/regression/crps.rst
  requirements/regression_test.txt
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/crps.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/crps.py
  tests/unittests/regression/test_crps.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, New metric, ready, topic: Regress

#3039 Bugfix in top_k
  CHANGELOG.md
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_accuracy.py
  tests/unittests/classification/test_stat_scores.py
Labels: bug / fix, ready, topic: Classif

#3045 docs: fix link to MultiScaleSSIM (pub)
  docs/source/conf.py
  docs/source/links.rst
Labels: documentation

#3041 dice score add warnings
  src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/segmentation/dice.py
Labels: ready

#3046 fix using deprecated `pretrained` with VGG16
  src/torchmetrics/functional/image/dists.py
  src/torchmetrics/functional/image/lpips.py
Labels: topic: Image

#3054 Remove widget
  docs/source/_static/runllm.js
  docs/source/conf.py
Labels: documentation

#3053 Enhance add `'none'`option to LPIPS `reduction` parameter to enable per-sample scores
  CHANGELOG.md
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/image/lpip.py
  tests/unittests/image/test_lpips.py
Labels: enhancement, ready, topic: Image

#3056 Support single `str` input for functional interface of `bert_score`
  CHANGELOG.md
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/text/bert.py
  tests/unittests/text/test_bertscore.py
Labels: ready, topic: Text

#3065 ci: bump dead ubuntu 20.04
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
  .github/workflows/greetings.yml
  .github/workflows/publish-pkg.yml
Labels: ready

#3064 Fix: MIFID incorrectly converts inputs to `byte` dtype with custom encoders
  CHANGELOG.md
  src/torchmetrics/image/mifid.py
  tests/unittests/image/test_mifid.py
Labels: ready, topic: Image

#3059 fix `UnboundLocalError` in mcc
  CHANGELOG.md
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  tests/unittests/classification/test_matthews_corrcoef.py
Labels: ready, topic: Classif

#3018 Add `aggregation_level` option to `DiceScore` and exclude samples with zero denominator from score calculation
  CHANGELOG.md
  src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/segmentation/dice.py
  tests/unittests/segmentation/inputs.py
  tests/unittests/segmentation/test_dice.py
  tests/unittests/segmentation/test_generalized_dice_score.py
Labels: enhancement, ready
