Repository Lightning-AI/torchmetrics, pull requests merged in 2025-06, with the labels that each got.

#3129 Fix `_check_reg_targets` function call signature for `sklearn>=1.7`
  requirements/_tests.txt
  src/torchmetrics/utilities/imports.py
  tests/unittests/_helpers/__init__.py
  tests/unittests/classification/test_sensitivity_specificity.py
  tests/unittests/regression/test_mean_error.py
Labels: ready

#3124 Corrected formula for negative predictive value
  src/torchmetrics/classification/negative_predictive_value.py
Labels: topic: Classif

#3117 Fix `top_k` in `multiclass_accuracy`
  CHANGELOG.md
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_accuracy.py
Labels: ready, topic: Classif

#3128 Update plot examples in docs to use `JensenShannonDivergence` instead of KL
  src/torchmetrics/regression/js_divergence.py
Labels: ready, topic: Regress

#3133 fix missing archive tool for CI & flaky url references
  .azure/gpu-unittests.yml
  docs/source/links.rst
Labels: documentation

#3141 docs: update clustering metric cards to use clustering.svg image
  docs/source/clustering/adjusted_mutual_info_score.rst
  docs/source/clustering/adjusted_rand_score.rst
  docs/source/clustering/cluster_accuracy.rst
  docs/source/clustering/completeness_score.rst
  docs/source/clustering/fowlkes_mallows_index.rst
  docs/source/clustering/homogeneity_score.rst
  docs/source/clustering/mutual_info_score.rst
  docs/source/clustering/normalized_mutual_info_score.rst
  docs/source/clustering/rand_score.rst
  docs/source/clustering/v_measure_score.rst
Labels: documentation

#3144 Test: address ordering results for DDP without features test in VMAF
  tests/unittests/video/test_vmaf.py
Labels: ready

#2991 Newmetric: VMAF
  CHANGELOG.md
  docs/source/index.rst
  docs/source/video/vmaf.rst
  requirements/_devel.txt
  requirements/video.txt
  src/torchmetrics/functional/video/__init__.py
  src/torchmetrics/functional/video/vmaf.py
  src/torchmetrics/utilities/imports.py
  src/torchmetrics/video/__init__.py
  src/torchmetrics/video/vmaf.py
  tests/unittests/_helpers/testers.py
  tests/unittests/video/__init__.py
  tests/unittests/video/test_vmaf.py
Labels: documentation, New metric, ready

#3154 Fix attribute error
  src/torchmetrics/detection/mean_ap.py
Labels: topic: Detect
