Repository Lightning-AI/torchmetrics, pull requests merged in 2025-08, with the labels that each got.

#3210 UV in makefiles
  .github/CONTRIBUTING.md
  Makefile
  README.md
  docs/Makefile
Labels: documentation

#3182 Remove sigmoid in `BinaryPrecisionRecallCurve`
  CHANGELOG.md
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/utilities/compute.py
Labels: ready, waiting on author, topic: Classif

#3227 fix(pr-curve): set precision to NaN when TP+FP == 0
  CHANGELOG.md
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/average_precision.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  tests/unittests/classification/test_precision_recall_curve.py
Labels: ready, topic: Classif

#3187 add/debug Lit CI
  .lightning/workflows/integrations.yml
  .lightning/workflows/uinttests.yml
  src/torchmetrics/functional/multimodal/clip_score.py
Labels: topic: MModal
