Repository Lightning-AI/torchmetrics, pull requests merged in 2025-05, with the labels that each got.

#3080 Docs: fix wrong default description of `full_state_update`
  docs/source/pages/implement.rst
Labels: documentation, ready

#3067 updating issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ready

#3085 Fix `ignore_index` in `MultilabelExactMatch`
  CHANGELOG.md
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/functional/classification/exact_match.py
  tests/unittests/classification/test_exact_match.py
Labels: ready, topic: Classif

#3099 Docs: Clarify reference format differences between TorchMetrics and original SacreBLEU
  src/torchmetrics/functional/text/sacre_bleu.py
  src/torchmetrics/text/sacre_bleu.py
Labels: ready, topic: Text
