Repository Lightning-AI/torchmetrics, pull requests merged in 2025-07, with the labels that each got.

#3160 fix: ignore zero and negative predictions in retrieval metrics
  CHANGELOG.md
  src/torchmetrics/functional/retrieval/average_precision.py
  src/torchmetrics/functional/retrieval/precision.py
  src/torchmetrics/functional/retrieval/recall.py
  src/torchmetrics/functional/retrieval/reciprocal_rank.py
  tests/unittests/retrieval/test_map.py
  tests/unittests/retrieval/test_mrr.py
  tests/unittests/retrieval/test_precision.py
  tests/unittests/retrieval/test_recall.py
Labels: topic: Retrieval

#3165 chore: adding @rittik9 as core contributor
  docs/source/governance.rst
Labels: documentation

#3166 fix: MSSSIM and SSIM `dist_reduce_fx` when `reduction=None` for distributed training
  src/torchmetrics/image/ssim.py
  tests/unittests/image/__init__.py
  tests/unittests/image/test_ms_ssim.py
  tests/unittests/image/test_ssim.py
  tests/unittests/utilities/test_utilities.py
Labels: ready, topic: Image

#3185 Fixed VIF docstring
  src/torchmetrics/functional/image/vif.py
Labels: ready, topic: Image

#3042 Dice score average = macro default
  CHANGELOG.md
  src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/segmentation/dice.py
Labels: ready
