Repository Lightning-AI/torchmetrics, pull requests merged in 2025-01, with the labels that each got.

#2886 docs: inject version selector to HTML docs
  .github/workflows/docs-build.yml
Labels: bug / fix, test / CI

#2895 tests/ci: limit waved failed model loading
  .github/assistant.py
  .github/workflows/ci-integrate.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docs-build.yml
  tests/unittests/_helpers/wrappers.py
Labels: bug / fix

#2903 docs: fix build for RTFD
  docs/.readthedocs.yaml
Labels: documentation

#2841 Make `num_classes` optional, in case of micro averaging
  CHANGELOG.md
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_accuracy.py
Labels: ready, topic: Classif

#2875 Enhance `Clip_Score` to calculate similarities between same modalities
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/multimodal/clip_score.py
  tests/unittests/multimodal/test_clip_score.py
Labels: ready, topic: MModal

#2919 Fix typo in FID description: Replace "access" with "assess"
  src/torchmetrics/image/fid.py
Labels: topic: Image
