Repository Lightning-AI/torchmetrics, pull requests merged in 2025-02, with the labels that each got.

#2952 Fix incorrect CLIP-IQA type hints
  src/torchmetrics/functional/multimodal/clip_iqa.py
  src/torchmetrics/multimodal/clip_iqa.py
Labels: ready, topic: MModal

#2960 chore: upgrade torch to 2.6.0 and resolve typing issues
  requirements/typing.txt
  src/torchmetrics/aggregation.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/ranking.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/image/lpips.py
  src/torchmetrics/functional/regression/kendall.py
  src/torchmetrics/functional/text/bert.py
  src/torchmetrics/image/fid.py
  src/torchmetrics/image/psnr.py
  src/torchmetrics/image/ssim.py
  src/torchmetrics/regression/kl_divergence.py
  src/torchmetrics/wrappers/bootstrapping.py
  src/torchmetrics/wrappers/feature_share.py
  src/torchmetrics/wrappers/tracker.py
Labels: ready, topic: Text, topic: Image, topic: Classif, topic: Detect, topic: Regress

#2966 iou_type: correct type hints
  src/torchmetrics/detection/_mean_ap.py
  src/torchmetrics/detection/helpers.py
  src/torchmetrics/detection/mean_ap.py
Labels: ready, topic: Detect

#2944 fix for `MetricCollection.update` gives identical results
  CHANGELOG.md
  src/torchmetrics/collections.py
  tests/unittests/bases/test_collections.py
Labels: ready

#2943 torchmetric optimizations
  CHANGELOG.md
  src/torchmetrics/aggregation.py
  tests/unittests/bases/test_aggregation.py
Labels: enhancement, ready

#2973 Small fix to docs
  docs/source/pages/lightning.rst
Labels: documentation, ready

#2975 Fix corner case in pearson correlation
  CHANGELOG.md
  src/torchmetrics/functional/regression/pearson.py
  tests/unittests/regression/test_pearson.py
Labels: ready, topic: Regress

#2968 Fix `MeanAveragePrecision` for `average="micro"` when 0 label is not present
  CHANGELOG.md
  src/torchmetrics/detection/mean_ap.py
  tests/README.md
  tests/unittests/detection/test_map.py
Labels: bug / fix, ready, topic: Detect

#2977 Fix missing `kwargs` in `PIT` metric for permutation wise mode
  CHANGELOG.md
  src/torchmetrics/functional/audio/pit.py
  tests/unittests/audio/test_pit.py
Labels: bug / fix, ready, topic: Audio

#2974 Fix cache in DNSMOS metric
  CHANGELOG.md
  src/torchmetrics/audio/dnsmos.py
  src/torchmetrics/functional/audio/dnsmos.py
  tests/unittests/audio/test_dnsmos.py
Labels: bug / fix, enhancement, ready, topic: Audio

#2860 Fix dice score when zero overlap between preds and target
  CHANGELOG.md
  src/torchmetrics/functional/segmentation/dice.py
  src/torchmetrics/segmentation/dice.py
  src/torchmetrics/utilities/compute.py
  tests/unittests/segmentation/test_dice.py
Labels: bug / fix, ready

#2777 New metric: Cluster Accuracy
  .github/workflows/ci-tests.yml
  CHANGELOG.md
  dockers/ubuntu-cuda/Dockerfile
  docs/source/clustering/cluster_accuracy.rst
  docs/source/links.rst
  requirements/_devel.txt
  requirements/_docs.txt
  requirements/_tests.txt
  requirements/clustering.txt
  requirements/clustering_test.txt
  src/torchmetrics/clustering/__init__.py
  src/torchmetrics/clustering/adjusted_mutual_info_score.py
  src/torchmetrics/clustering/cluster_accuracy.py
  src/torchmetrics/clustering/fowlkes_mallows_index.py
  src/torchmetrics/clustering/mutual_info_score.py
  src/torchmetrics/clustering/normalized_mutual_info_score.py
  src/torchmetrics/clustering/rand_score.py
  src/torchmetrics/functional/clustering/__init__.py
  src/torchmetrics/functional/clustering/cluster_accuracy.py
  src/torchmetrics/utilities/imports.py
  tests/unittests/clustering/test_cluster_accuracy.py
Labels: documentation, New metric, ready, topic: Cluster

#2980 Fix multiple errors in the `_final_aggregation` function for `PearsonCorrCoef`
  CHANGELOG.md
  src/torchmetrics/regression/pearson.py
  tests/unittests/regression/test_pearson.py
Labels: bug / fix, topic: Regress

#2979 Fix corner case in manually specifying `compute_groups` in `MetricCollection`
  src/torchmetrics/collections.py
  tests/unittests/bases/test_collections.py
Labels: bug / fix, ready
