Repository Lightning-AI/torchmetrics, pull requests merged in 2025-03, with the labels that each got.

#2988 ci: fix filtering existing dirs & bump `numprocesses`
  .azure/gpu-unittests.yml
  .github/assistant.py
Labels: ready

#2992 Newmetric: Jensen-Shannon Divergence
  CHANGELOG.md
  docs/source/regression/js_divergence.rst
  src/torchmetrics/functional/regression/__init__.py
  src/torchmetrics/functional/regression/js_divergence.py
  src/torchmetrics/regression/__init__.py
  src/torchmetrics/regression/js_divergence.py
  tests/unittests/regression/test_js_divergence.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, New metric, ready, topic: Regress

#2996 Docs: multilabel is also a string
  src/torchmetrics/classification/accuracy.py
  src/torchmetrics/classification/auroc.py
  src/torchmetrics/classification/average_precision.py
  src/torchmetrics/classification/confusion_matrix.py
  src/torchmetrics/classification/exact_match.py
  src/torchmetrics/classification/f_beta.py
  src/torchmetrics/classification/hamming.py
  src/torchmetrics/classification/jaccard.py
  src/torchmetrics/classification/logauc.py
  src/torchmetrics/classification/matthews_corrcoef.py
  src/torchmetrics/classification/negative_predictive_value.py
  src/torchmetrics/classification/precision_fixed_recall.py
  src/torchmetrics/classification/precision_recall.py
  src/torchmetrics/classification/precision_recall_curve.py
  src/torchmetrics/classification/recall_fixed_precision.py
  src/torchmetrics/classification/roc.py
  src/torchmetrics/classification/sensitivity_specificity.py
  src/torchmetrics/classification/specificity.py
  src/torchmetrics/classification/specificity_sensitivity.py
  src/torchmetrics/classification/stat_scores.py
  src/torchmetrics/functional/classification/accuracy.py
  src/torchmetrics/functional/classification/auroc.py
  src/torchmetrics/functional/classification/average_precision.py
  src/torchmetrics/functional/classification/confusion_matrix.py
  src/torchmetrics/functional/classification/f_beta.py
  src/torchmetrics/functional/classification/hamming.py
  src/torchmetrics/functional/classification/jaccard.py
  src/torchmetrics/functional/classification/matthews_corrcoef.py
  src/torchmetrics/functional/classification/negative_predictive_value.py
  src/torchmetrics/functional/classification/precision_fixed_recall.py
  src/torchmetrics/functional/classification/precision_recall.py
  src/torchmetrics/functional/classification/precision_recall_curve.py
  src/torchmetrics/functional/classification/recall_fixed_precision.py
  src/torchmetrics/functional/classification/roc.py
  src/torchmetrics/functional/classification/sensitivity_specificity.py
  src/torchmetrics/functional/classification/specificity.py
  src/torchmetrics/functional/classification/specificity_sensitivity.py
  src/torchmetrics/functional/classification/stat_scores.py
Labels: topic: Classif

#2997 docs: drop ref to lost SRMRToolbox
  docs/source/links.rst
  src/torchmetrics/audio/srmr.py
  src/torchmetrics/functional/audio/srmr.py
Labels: documentation, topic: Audio

#2978 CLIP score improvements
  CHANGELOG.md
  examples/image/clip_score.py
  requirements/multimodal.txt
  src/torchmetrics/functional/multimodal/clip_score.py
  src/torchmetrics/multimodal/clip_score.py
  tests/unittests/_helpers/__init__.py
  tests/unittests/_helpers/testers.py
  tests/unittests/_helpers/wrappers.py
  tests/unittests/multimodal/test_clip_score.py
Labels: enhancement, ready, topic: MModal

#2884 Separate coco from map
  src/torchmetrics/detection/helpers.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/utilities/backends.py
  tests/unittests/detection/test_map.py
Labels: ready, topic: Detect

#3004 Fix integration between classwise wrapper and metric tracker
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: bug / fix, ready

#2993 Newmetric: DISTS
  CHANGELOG.md
  MANIFEST.in
  docs/source/image/dists.rst
  docs/source/links.rst
  requirements/image_test.txt
  src/torchmetrics/functional/image/__init__.py
  src/torchmetrics/functional/image/dists.py
  src/torchmetrics/functional/image/dists_models/weights.pt
  src/torchmetrics/image/__init__.py
  src/torchmetrics/image/dists.py
  tests/unittests/image/test_dists.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, New metric, ready, topic: Image

#3008 Fix edge case in integration between classwise wrapper and metric tracker
  CHANGELOG.md
  src/torchmetrics/wrappers/classwise.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: ready

#3017 Remove classification Dice
  CHANGELOG.md
  docs/source/classification/dice.rst
  src/torchmetrics/__init__.py
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/dice.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/dice.py
  src/torchmetrics/functional/classification/stat_scores.py
  src/torchmetrics/utilities/backends.py
  src/torchmetrics/utilities/checks.py
  tests/unittests/classification/test_dice.py
  tests/unittests/test_deprecated.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, ready, refactoring, topic: Classif

#3011 functional map implementation
  CHANGELOG.md
  docs/source/detection/mean_average_precision.rst
  src/torchmetrics/detection/helpers.py
  src/torchmetrics/detection/mean_ap.py
  src/torchmetrics/functional/detection/__init__.py
  src/torchmetrics/functional/detection/map.py
  tests/unittests/detection/test_map.py
Labels: documentation, topic: Detect

#3013 Newmetric: EER
  CHANGELOG.md
  docs/source/classification/eer.rst
  src/torchmetrics/classification/__init__.py
  src/torchmetrics/classification/eer.py
  src/torchmetrics/functional/__init__.py
  src/torchmetrics/functional/classification/__init__.py
  src/torchmetrics/functional/classification/eer.py
  tests/unittests/classification/test_eer.py
  tests/unittests/utilities/test_plot.py
Labels: documentation, enhancement, ready, topic: Classif

#3012 fix making `num_classes` optional for `one-hot` inputs in `MeanIoU`
  CHANGELOG.md
  src/torchmetrics/functional/segmentation/mean_iou.py
  src/torchmetrics/segmentation/mean_iou.py
  tests/unittests/segmentation/test_mean_iou.py
Labels: ready

#3019 ci: testing with `torch` 2.7
  .azure/gpu-unittests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docker-build.yml
Labels: ready

#3021 Fix `IndexError` in `MultiClassAccuracy` when using `top_k` with single sample
  CHANGELOG.md
  src/torchmetrics/functional/classification/stat_scores.py
  tests/unittests/classification/test_accuracy.py
Labels: ready, topic: Classif

#3023 releasing `1.7.0`
  CHANGELOG.md
  docs/source/pages/plotting.rst
  docs/source/pyplots/tracker_binary.py
  src/torchmetrics/__about__.py
  src/torchmetrics/clustering/davies_bouldin_score.py
  src/torchmetrics/wrappers/tracker.py
  tests/unittests/wrappers/test_tracker.py
Labels: bug / fix, documentation, enhancement, topic: Cluster

#3025 fix Detection IoU ignores predictions without ground truth
  CHANGELOG.md
  src/torchmetrics/detection/iou.py
  tests/unittests/detection/test_intersection.py
Labels: bug / fix, ready, topic: Detect

#3032 Enhance Support Adding a `MetricCollection` to Another `MetricCollection` in `add_metrics` Function
  CHANGELOG.md
  src/torchmetrics/collections.py
  src/torchmetrics/wrappers/feature_share.py
  tests/unittests/bases/test_collections.py
Labels: ready
